@import './new/utils/colors';
@import './new/utils/mixins';
@import './new/layout/modal-details';
#cart-preview-c {
    z-index: 99 !important;
}

// this sasss file is extended css for details page
.pdetail .discription-control1.pro-add {
    width: 100% !important;
    justify-content: center;
    // z-index: 99;
}

div#reviewPane {
    z-index: 9;
    table {
        td {
            >div {
                overflow: hidden;
            }
        }
    }
}

#books .inner_books {
    height: 100% !important;
}

.product-batch-box table tr td:first-child {
    word-break: inherit !important;
    padding: 5px 15px;
    font-size: 1.1em;
}

#books {
    @media only screen and (max-width: 1400px) and (min-width: 768px) {
        &:first-child {
            font-size: 18px;
            width: 102px;
        }
    }
}

@media only screen and (min-width:1264px) {
    .pdetail .secured.old-secured {
        width: 250px !important;
        margin: 10px auto;
        position: relative;
        right: -82px;
    }
    #securedPane {
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media only screen and (min-width:768px) {
    .myText {
        table:nth-child(1) tr th:first-child {
            text-align: center;
            width: 100% !important;
            background: #f8f8f8;
            max-width: 100%;
            padding: 8px 0;
        }
        table:nth-child(1) tr th:last-child {
            display: block;
        }
        table:nth-child(2) tr th,
        table:nth-child(2) tr td {
            /* border: 1px solid; */
            text-align: right;
        }
        table:nth-child(2) tr td:first-child {
            text-align: left !important;
            width: 120px;
        }
        table:nth-child(2) tr td {
            // width: 20px;
            width: 25px;
        }
    }
}

.myText {
    table:nth-child(2) tr th,
    table:nth-child(2) tr td {
        text-align: right;
    }
}

.out-of-stock {
    z-index: 0 !important;
}

.myText table:nth-child(2) tr th,
.myText table:nth-child(2) tr td {
    text-align: left !important;
}

@media only screen and (max-width: 600px) {
    .myText table:first-child tr {
        th:nth-child(1) {
            text-align: center;
            padding: 5px;
        }
        th:nth-child(2) {
            display: none;
        }
    }
}

.themes--halloween {
    .product-batch-box {
        padding-bottom: 60px;
        @media only screen and (max-width: 480px) {
            padding-bottom: 30px;
        }
    }
}

.related-items-container,
.customers-viewed-container {
    .product-logo {
        flex: 0 0 60px;
        align-items: flex-start;
    }
    .product-holder {
        height: auto !important;
    }
}

.product-batch-box {
    >div {
        margin-bottom: 0 !important;
    }
}

.reviewPane,
div#reviewPane {
    z-index: 9;
    table {
        td {
            >div {
                overflow: hidden;
            }
        }
    }
}

// outline for input
.stock-input {
    input[type="text"] {
        outline: none;
        &:active,
        &:focus {
            outline: none;
            border: 1px solid #000;
        }
    }
}

#prod-detail .p-add-wrapper .p-quantity .variant input {
    outline: none;
    border: 1px solid rgba(68, 65, 79, 0.6);
    &[disabled] {
        border: 1px solid #dbd9d9;
    }
    &:focus {
        border: 1px solid #000;
    }
}

.product-batch-box {
    .desktop-only {
        .product-holder {
            float: left;
        }
    }
}

.pdetail .discription-control1.pro-add {
    position: relative;
    width: 85% !important;
    justify-content: flex-end;
    margin-bottom: 30px;
    @include respond(laptop-s) {
        width: 100% !important;
    }
}

.discription-control1 {
    .secured {
        margin-bottom: 0 !important;
        margin-top: 12px !important;
        position: absolute;
        top: 100%;
        width: auto !important;
        right: 5%;
        padding-right: 0 !important;
        z-index: 1;
        @include respond(laptop-s) {
            right: 50%;
            transform: translateX(50%);
        }
    }
    .secured #securedPane {
        left: 50%;
        transform: translateX(-50%);
        //  margin-right:  ;
        z-index: 10;
    }
    #securedPane .exit {
        overflow: hidden;
        width: 20px;
    }
}

// .size_chart {
//     @media only screen and (max-width: 768px) {
//         display: flex;
//         width: 100%;
//         justify-content: flex-start;
//     }
// }
//// from aldrin additional on double colors
.lft-color,
.select-lft-color,
.pcolor-lft {
    float: left;
    width: 50%;
}

.rght-color,
.select-rght-color,
.pcolor-rght {
    float: right;
    width: 50%;
}

.pcolor-lft,
.pcolor-rght {
    height: 40px;
}

ul.all-colors li a.col,
.select-color-box-1 {
    display: flex;
}

// .alert-message {
//     z-index: 999 !important;
// }
.product-chart {
    z-index: 0 !important;
}

.empty-cart {
    @media only screen and (max-width: 768px) {
        margin-top: 40px;
    }
    @media only screen and (max-width: 500px) {
        padding: 22px 0;
        text-align: center;
    }
    .no-item {
        float: left;
        width: 60%;
        span {
            font-size: 30px;
            color: $color-gray;
        }
        @media only screen and (max-width: 500px) {
            width: 100%;
            text-align: center;
        }
    }
    .keep-shopping {
        @media only screen and (max-width: 500px) {
            text-align: center;
            float: none;
            clear: both;
            overflow: auto;
            padding: 15px 0 !important;
            display: inline-block !important;
        }
    }
    #keepshop {
        float: right;
        background: $color-gray;
        border: none;
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        padding: 14px 20px;
        border-radius: 5px;
        font-weight: 700;
        @media only screen and (max-width: 500px) {
            width: 100%;
            text-align: center;
            margin-top: 0;
            float: none !important;
            display: inline-block;
        }
    }
}

.select-color-box {
    .select-rght-color,
    .select-lft-color {
        width: 50% !important;
        float: left;
        display: block;
        height: 100%;
    }
}

@media only screen and (min-width:800px) {
    .product-colors__bottom {
        .color-select {
            min-width: 335px;
            .dw-box {
                padding-right: 35px !important;
                >#clrname {
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:after {
                        content: '(select)';
                        font-size: .8em;
                        margin-left: 10px;
                        text-transform: capitalize;
                    }
                }
                .clrtext {
                    display: none !important;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .dw-box {
        &:after {
            background-position: -505px -90px !important;
        }
    }
}

// for slider fixes..
#md-color-slider-ow {
    #md-color-slider {
        >.tns-item {
            position: relative !important;
            &.col.out-of-stock {
                border: 2px solid #f00 !important;
                outline: none !important;
            }
        }
    }
}

#md-color-slider>.tns-item {
    position: relative;
}

#md-color-slider>.tns-item .out-of-stock {
    outline: none !important;
    border: 2px solid #f00 !important;
}