@import "./new/utils/colors";
@import "./new/utils/mixins";
@import "./new/layout/table";
@import "./new/pages/orderconfirm";

$my-padding: 15px 15px !important;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.border {
  border: 1px solid #44414f;
}

.border-bottom {
  border-bottom: 1px solid #44414f;
}

.mx-auto {
  margin: 0 auto;
}

.flex {
  display: flex;
}
.justify-content-end {
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-12,
.col-lg-3,
.col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1000px) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}