/* saf3+, chrome1+ */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .nav ul li a {
        padding-left: 12.9px;
        padding-right: 23.9px;
    }
    .nav ul ul {
        top: 51px;
    }
}

// ****************

/* only safari */

@media only screen and (-webkit-min-device-pixel-ratio: 1) {
     ::i-block-chrome,
    .nav ul li a {
        padding-left: 24px;
        padding-right: 23.9px;
    }
}

// ****************

/* only for IE */

_:-ms-fullscreen,
:root .product-image-box img {
    width: 100%;
}


/* only or ios sfari */

_::-webkit-full-page-media,
_:future,
:root .nav ul li a {
    padding: 15px 21px;
}

// ****************
@media screen and (max-width: 1400px) {
    .product-color .color-palate {
        left: 0;
    }
    .color-wrapper-home::after {
        left: 34px;
    }
}

// ****************
@media screen and (max-width: 1200px) {
    _::-webkit-full-page-media,
    _:future,
     :root .nav ul li a {
        padding: 15px 14px;
    }
    .product-color {
        width: 50%;
        margin-top: 7px;
    }
    .product-price {
        width: 50%;
        margin-top: -8px;
    }
    .brand-box ul li {
        float: none;
        margin-left: 7px;
        margin-right: 7px;
    }
    .product-logo-box img {
        max-width: 100%;
    }
    .product-advertisment h2,
    .shipping-offer h2,
    .saving-box ul li h3 {
        font-size: 15px;
    }
    .saving-box ul {
        padding: 0px 5px;
    }
    .pdetail {
        max-width: 490px;
    }
    .product-discription {
        width: 70%;
    }
    .product-offers-box {
        width: 30%;
        margin-right: 0px;
        padding: 0px 15px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .nav ul li a {
        padding: 15px 15px;
    }
    .site-center {
        /*padding:0 2%;
    width:96%*/
        max-width: 1000px;
    }
    // .discount-box h2,
    // .discount-box h2 span {
    //   font-size: 33px;
    // }
    // .discount-box h3,
    // .wholesale-box h3,
    // .wholesale-box h2 span,
    // .wholesale-box h3 span {
    //   font-size: 24px;
    // }
    // .free-shipping-box h2,
    // .banner-call-box h2 {
    // //   font-size: 20px;
    // // }
    // .free-shipping-box h3,
    // .banner-call-box h2 span {
    //   font-size: 15px;
    // }
    .checkout-payrow input[type="text"],
    .checkout-payrow input[type="email"],
    .checkout-payrow input[type="password"],
    .checkout-payrow input[type="date"],
    .checkout-payrow select,
    .checkout-payrow .double,
    .s-code {
        width: 59%;
    }
    .shippng-order-offer {
        padding: 30px 0;
    }
    .shippng-order-offer img {
        width: 70%;
    }
    .header-search-box input[type="search"] {
        margin-left: 9%;
        width: 71%;
    }
    .head-cart-box ul li:first-child {
        font-size: 17px;
    }
    .totel-value {
        font-size: 16px;
    }
    .weekly-sale h4 {
        font-size: 18px;
        margin-left: 17%;
    }
    #exp-drop {
        min-width: 995px;
        right: -11px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .box-1-inner {
        max-width: 295px;
    }
    .ft-box-2 {
        width: 22%;
    }
    .ft-box-3 {
        width: 22%;
    }
    .ft-box-4 {
        width: 17%;
    }
    .saving-box ul li h4 {
        font-size: 15px;
    }
    /* saf3+, chrome1+ */
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .nav ul li a {
            padding-left: 5.5px;
            padding-right: 15.5px;
        }
    }
}

// ****************
@media screen and (max-width: 1175px) {
    .size-logos img {
        width: 100%;
    }
}

// ****************
@media screen and (max-width: 1150px) {
    .zip-holder input[type="text"] {
        width: 50%;
    }
}

// ****************
@media screen and (max-width: 1100px) {
    .discount-box h2,
    .discount-box h2 span {
        font-size: 30px;
    }
}

// ****************
@media screen and (max-width: 1024px) {
    .nav ul li a {
        padding: 15px 10px;
    }
    .header-search-box input[type="search"] {
        margin-left: 9%;
        width: 60%;
    }
}

// ****************
@media screen and (max-width: 1000px) {
    #exp-drop .nav-row {
        display: flex;
        flex-direction: column;
    }
    h4.liketext {
        font-size: 20px;
    }
    .btn-bx img {
        width: 115px;
        height: auto;
    }
    #custom-nav {
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        height: auto;
    }
    .nav {
        display: none;
    }
    .logo-box {
        margin-left: 15px;
    }
    .last-menu {
        display: block !important;
    }
    .ft-box-1 {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .box-1-inner {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
    .ft-box-1 img {
        width: 250px;
    }
    #custom-login {
        display: block;
        margin-right: 20px;
        text-align: center;
    }
    #custom-login a {
        color: #44414f;
        text-align: center;
    }
    #custom-login a span {
        border-bottom: 1px solid #44414f;
        padding-bottom: 1px;
    }
    .product-color {
        width: 50%;
        margin-top: 0px;
    }
    .product-price {
        width: 50%;
        margin-top: 0px;
    }
    .map-box img {
        width: 100%;
    }
    #spe-mob {
        float: left;
        width: 100%;
    }
    .top-head-container {
        position: fixed;
        height: 80px;
        width: auto;
        left: 0px;
        right: 0px;
        padding-right: 19px;
        padding-left: 19px;
        z-index: 99999999;
        background: #fff;
        top: 0px;
        padding-bottom: 0px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .top-head-container-2 {
        margin-top: 82px;
        margin-bottom: -7px;
        width: 100%;
        float: left;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .weekly-sale {
        display: none;
    }
    .header-search-box {
        display: none;
    }
    .head-cart-box ul li:first-child {
        display: none !important;
    }
    .header-search-box {
        display: none;
    }
    .head-cart-box {
        float: right !important;
        /*width:220px;*/
    }
    .mob-wrapper {
        display: flex;
        width: 100%;
        float: left;
        margin-top: 0px;
    }
    .mob-section {
        width: 33.3%;
        float: left;
    }
    .mob-section a {
        font-size: 17px;
        color: #44414f;
        text-decoration: none;
    }
    .mob-pad {
        padding: 0px 0 0 0;
    }
    #mob-ship {
        text-align: center;
    }
    #mob-ship a {
        text-transform: uppercase;
        // background-image: url("../images/free-shipping.png");
        background-image: url("../../images/free-shipping.png");
        min-height: 35px;
        font-size: 15px;
        font-weight: bold;
        padding-left: 45px;
        float: left;
        text-align: left;
        background-size: 27px;
        background-repeat: no-repeat;
        background-position: left center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    #mob-bulk a {
        text-transform: uppercase;
        // background-image: url("../images/bulk-discount.png");
        background-image: url("../../images/bulk-discount.png");
        padding: 10px 0px;
        font-size: 15px;
        font-weight: bold;
        padding-left: 45px;
        background-size: 35px;
        background-repeat: no-repeat;
        background-position: left center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    #mob-ship a span {
        text-transform: lowercase;
    }
    #mob-bulk a span {
        text-transform: lowercase;
    }
    .mob-search input[type="search"] {
        width: 16%;
        padding: 12px 0 12px 6px;
        height: 36px;
        position: relative;
        /* width:50px; */
        border: 1px solid #c1c1c1;
        border-radius: 5px 0px 0px 5px;
        border-right: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition: width 0.4s ease-in-out;
        position: absolute;
        right: 45px;
    }
    .mob-search button {
        position: relative;
        background: #44414f;
        float: right;
        width: 35px;
        height: 36px;
        right: 0px;
        top: 0px;
        z-index: 99;
        color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
    }
    .mob-search input[type="search"]:focus,
    .mob-search input[type="search"]:active {
        width: 80%;
        outline: none !important;
    }
    .shipbillinfo>div h2 {
        border: none;
    }
    .shipbillinfo .account-address-box {
        width: 50%;
    }
    .shipbillinfo .account-address-box2 {
        width: 50%;
    }
    .shipbillinfo .account-address-box3 {
        width: 50%;
    }
    .shipbillinfo .account-address-box4 {
        width: 50%;
    }
    .pdetail {
        width: 100%;
        max-width: 65%;
    }
    .detail-thumb ul li img {
        width: auto !important;
        height: 100%;
    }
    /* Start - New front end design for item detail page - From Christian - 09/14/2020 */
    .product-detail-box {
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    .shipping-offer {
        margin-bottom: 10px;
    }
    .product-image-detail {
        max-width: 35%;
    }
    .color-dw {
        width: 100% !important;
    }
    .rotate-dip span {
        -ms-transform: rotate(90deg) !important;
        -webkit-transform: rotate(90deg) !important;
        transform: rotate(90deg) !important;
    }
    .nav ul li:hover ul {
        display: none;
    }
    .nav ul li span {
        display: block;
        top: 9px;
    }
    .nav ul li span img {
        margin-top: 1px;
    }
    .site-center {
        padding: 0 2%;
        width: 96%;
    }
    .weekly-sale h4 {
        margin-left: 12%;
    }
    .brand-box {
        display: none;
    }
    .product-offers-box {
        width: 100%;
        margin-right: 0;
        border-top: 1px solid #c9c9c9;
        padding: 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .product-logo-box {
        text-align: center;
        width: 50%;
        float: right;
        margin-bottom: 29px;
        margin-top: 0px;
    }
    .product-advertisment {
        width: 50%;
        margin-bottom: 15px;
    }
    .pin-box img {
        width: auto;
    }
    .shipping-offer {
        margin-bottom: 30px;
    }
    .zip-holder {
        margin-bottom: 0;
    }
    .product-discription {
        /*width:65%*/
        width: 100%;
    }
    .shippng-order-offer {
        padding: 37px 0;
    }
    .nav ul li a {
        padding: 15px 9px;
    }
    .product-holder {
        width: 50%;
    }
    /* Start - comparable display - John - 06/24/2020 7:10 AM */
    .mobile-only {
        display: block !important;
    }
    .desktop-only {
        display: none !important;
    }
    /* End - comparable display - John - 06/24/2020 7:10 AM */
    .product-image-box {
        text-align: center;
    }
    .product-image-box img {
        float: none;
        margin-bottom: 4px;
    }
    .discount-box h2,
    .discount-box h2 span {
        font-size: 28px;
    }
    // .discount-box h3,
    // .wholesale-box h3,
    // .wholesale-box h2 span,
    // .wholesale-box h3 span {
    //   font-size: 20px;
    // }
    // .free-shipping-box h2,
    // .banner-call-box h2 {
    //   font-size: 18px;
    // }
    // .free-shipping-box h3,
    // .banner-call-box h2 span {
    //   font-size: 14px;
    // }
    // // .free-shipping-box img {
    //   width: 50px;
    // }
    // .banner-call-box img {
    //   width: 37px;
    //   margin: 0 11px;
    // }
    // .wholesale-box h2 span {
    //   border-radius: 10px;
    // }
    .weekly-sale h3,
    .head-cart-box ul li {
        font-size: 16px;
    }
    .totel-value {
        font-size: 16px;
    }
    .product-color button i {
        float: none;
        width: auto;
    }
    .pin-box img {
        width: 100%;
    }
    .checkout-row-full input {
        width: 80%;
    }
    .checkout-row-half input,
    .checkout-row-half select {
        width: 60%;
    }
    .checkout-payrow label {
        text-align: left;
    }
    .checkout-payrow .exp {
        text-align: left;
    }
    .checkout-payrow input {
        width: 100%;
        margin-left: 0;
    }
    .checkout-payrow select {
        width: 100%;
        margin-bottom: 0;
        margin-left: 0;
    }
    .checkout-payrow .double,
    .s-code {
        width: 100%;
        margin-left: 0;
    }
    .checkout-row-half .checkout-notification {
        width: 60%;
    }
    .checkout-notification {
        width: 80%;
    }
    .mail-right,
    .mail-left {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .mail-right {
        margin-top: 10px;
    }
    .login-left,
    .login-right {
        width: 90%;
    }
    .header-search-box input[type="search"] {
        margin-left: 4%;
    }
    #exp-drop {
        min-width: 839px;
        right: -13px;
    }
    #prod-detail .p-add-wrapper {
        width: 100%;
    }
    .ft-box-2,
    .ft-box-3,
    .ft-box-4 {
        width: 33.3%;
        margin-left: 0%;
    }
    /** mobile nav start **/
    .nav ul ul li a {
        padding: 9px 20px;
        width: 100%;
    }
    #exp-drop {
        position: relative;
        width: 100%;
        min-width: auto;
        max-width: auto;
        right: 0;
        margin: 0;
    }
    .nav ul ul {
        left: auto !important;
        right: auto !important;
    }
    .nav-col {
        width: 100%;
        border: none;
    }
    .nav-row {
        padding: 0;
    }
    .nav-col ul li a {
        font-size: 15px;
        font-weight: 400;
        padding: 10px 20px !important;
        float: left !important;
        width: 100% !important;
        border-bottom: 1px solid #c9c9c9 !important;
    }
    .nav-col ul li a:hover,
    .nav-col ul li a:focus,
    .nav-col ul li a:active {
        background: #f5f5f5 !important;
        text-decoration: none !important;
    }
    .product-holder {
        border-top: none;
    }
    #mobile-nav {
        display: block;
        float: left;
        font-size: 30px;
        color: #44414f;
        padding: 2px 0;
    }
    .nav {
        position: fixed;
        background: #fff;
        top: 0px;
        padding: 17px 0px;
        z-index: 9999999;
        height: 80px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .nav ul {
        position: absolute;
        right: 0;
        /* background:#20adf9; */
        background: #44414f;
        top: 80px;
        z-index: 9999;
        width: 0;
        overflow: hidden;
    }
    .nav ul ul {
        position: relative;
        top: 0;
    }
    .nav ul li {
        width: 100%;
        margin-right: 0;
    }
    .nav ul li a {
        text-align: left;
        float: left;
        width: auto;
        padding: 8px 2%;
        font-size: 18px;
    }
    .nav ul li a:hover,
    .nav ul li a:active,
    .nav ul li a:focus {
        color: #fff;
        background: transparent none repeat scroll 0 0;
    }
    .nav ul li ul li a:hover,
    .nav ul li ul li a:focus,
    .nav ul li ul li a:active {
        color: #000;
    }
    /** mobile nav end **/
    /* cart page css */
    .cart-summary-tab table,
    .cart-summary-tab table tr,
    .cart-summary-tab table tr td {
        display: block;
    }
    .cart-summary-tab table {
        width: 99.6%;
    }
    .cart-summary-tab table tr {
        float: left;
        width: 100%;
    }
    .cart-summary-tab h3 {
        border-bottom: 1px solid #c9c9c9;
    }
    .cart-summary-tab table th {
        display: none;
    }
    .cart-summary-tab table tr td:first-child img {
        width: 100%;
    }
    .cart-summary-tab table tr:nth-child(odd) {
        background: #f8f8f8;
    }
    .cart-summary-tab table tr {
        position: relative;
    }
    .cart-summary-tab table tr td {
        border: none;
        text-align: left;
        float: right;
        margin: 4px 0;
        padding-right: 50px;
        box-sizing: border-box;
    }
    .cart-summary-tab table tr td:first-child {
        padding-right: 0px !important;
    }
    .cart-img {
        width: 23%;
        float: left !important;
        margin-right: 2%;
    }
    .cart-desc {
        width: 75%;
    }
    .cart-price {
        width: 75%;
    }
    .cart-itembox {
        width: 55%;
        margin-top: -35px !important;
        z-index: 9;
    }
    .cart-summary-tab table tr td.cart-itembox input[type="text"] {
        width: 50px;
    }
    .cart-total {
        /*position:absolute;*/
        width: 56%;
        position: relative;
        margin-top: -62px !important;
        /*right:15px;*/
        font-weight: bold;
        padding-right: 15px !important;
        text-align: right !important;
    }
    .cart-summary-tab table tr td.cart-desc ul {
        padding: 0;
    }
    .del-cart {
        position: absolute;
        top: 15px;
        right: 15px;
        padding-right: 0px !important;
    }
    .cart-summary-tab table tr td.cart-desc ul li {
        margin: 5px 0;
    }
    .cart-summary-tab table tr td.cart-desc ul li a {
        font-size: 16px;
    }
    .updid {
        position: static;
        height: 20px;
        width: 102px;
        text-align: left;
    }
    .checkout-order-detail table,
    .checkout-order-detail table tr,
    .checkout-order-detail table tr td {
        display: block;
    }
    .checkout-order-detail table tr {
        float: left;
        width: 100%;
    }
    .checkout-order-detail h2 {
        border-bottom: 1px solid #c9c9c9;
    }
    .checkout-order-detail table th {
        display: none;
    }
    .checkout-order-detail table tr td:first-child img {
        width: 100%;
    }
    .checkout-order-detail table tr:nth-child(odd) {
        background: #f8f8f8;
    }
    .checkout-order-detail table tr {
        position: relative;
    }
    .checkout-order-detail table tr td {
        border: none;
        text-align: left;
        float: right;
        margin: 4px 0;
        /*padding-right:50px;*/
        box-sizing: border-box;
    }
    .checkout-order-detail table tr td:first-child {
        padding-right: 0px !important;
    }
    .checkout-order-detail table tr td:first-child {
        width: 23%;
        float: left !important;
        margin-right: 2%;
    }
    .checkout-order-detail table tr td {
        width: 75%;
        padding-left: 15px;
    }
    /* Start - returns page mobile responsive - John - 06/25/2020 8:00 AM */
    .checkout-order-detail table tr td:nth-child(3) {
        width: 75%;
        padding-left: 15px;
    }
    /* Start - returns page mobile responsive - John - 06/25/2020 8:00 AM */
    .checkout-order-detail table tr td:last-child {
        width: auto;
        font-weight: bold;
        position: absolute;
        /*bottom:2px;*/
        top: 120px;
        right: 15px;
        padding-right: 16px !important;
        padding-left: 16px;
    }
    /* Start - returns page mobile responsive - John - 06/25/2020 8:00 AM */
    .checkout-order-detail table tr td.cart-desc ul {
        padding: 0;
    }
    .checkout-order-detail table tr td.cart-desc ul li {
        margin: 2px 0;
    }
    .checkout-order-detail table tr td.cart-desc ul li a {
        font-size: 16px;
    }
    .checkout-order-detail table tr#cartinfoid td:first-child {
        display: none;
    }
    .checkout-order-detail table tr#cartinfoid td:nth-child(2) {
        display: none;
    }
    .checkout-order-detail table tr#cartinfoid td:nth-child(4) {
        display: none;
    }
    .checkout-order-detail table tr#cartinfoid td:last-child {
        font-weight: normal;
    }
    .checkout-order-detail table tr:last-child td:last-child {
        top: auto;
    }
    .confirm-tb table,
    .confirm-tb table tr,
    .confirm-tb table tr td {
        display: block;
    }
    .confirm-tb table tr {
        float: left;
        width: 100%;
    }
    .confirm-tb h2 {
        border-bottom: 1px solid #c9c9c9;
    }
    .confirm-tb table th {
        display: none;
    }
    .confirm-tb table tr td:first-child img {
        width: 100%;
    }
    .confirm-tb table tr:nth-child(odd) {
        background: #f8f8f8;
    }
    .confirm-tb table tr {
        position: relative;
    }
    .confirm-tb table tr td {
        border: none;
        text-align: left;
        float: right;
        margin: 4px 0;
        /*padding-right:50px;*/
        box-sizing: border-box;
    }
    .confirm-tb table tr td:first-child {
        padding-right: 0px !important;
    }
    .confirm-tb table tr td:first-child {
        width: 23%;
        float: left !important;
        margin-right: 2%;
    }
    .confirm-tb table tr td {
        width: 75%;
    }
    .confirm-tb table tr td:last-child {
        width: auto;
        font-weight: bold;
        position: absolute;
        /*bottom:2px;*/
        top: 122px;
        right: 15px;
        padding-right: 0px !important;
    }
    .confirm-tb table tr td ul {
        padding: 0;
    }
    .confirm-tb table tr td ul li {
        margin: 2px 0;
    }
    .confirm-tb table tr td ul li a {
        font-size: 16px;
    }
    .order-detail-table-2 table,
    .order-detail-table-2 table tr,
    .order-detail-table-2 table tr td {
        display: block;
    }
    .order-detail-table-2 table tr {
        float: left;
        width: 100%;
    }
    .order-detail-table-2 h2 {
        border-bottom: 1px solid #c9c9c9;
    }
    .order-detail-table-2 table th {
        display: none;
    }
    .order-detail-table-2 table tr td:nth-child(2) img {
        width: 100%;
    }
    .order-detail-table-2 table tr:nth-child(odd) {
        background: #f8f8f8;
    }
    .order-detail-table-2 table tr {
        position: relative;
    }
    .order-detail-table-2 table tr td {
        border: none;
        text-align: left;
        float: right;
        margin: 4px 0;
        /*padding-right:50px;*/
        box-sizing: border-box;
    }
    .order-detail-table-2 table tr td:first-child {
        padding-right: 0px !important;
    }
    .order-detail-table-2 table tr td:nth-child(2) {
        width: 23%;
        float: left !important;
        margin-right: 2%;
        text-align: center;
        padding: 0;
    }
    .order-detail-table-2 table tr td {
        width: 75%;
    }
    .order-detail-table-2 table tr td:last-child {
        width: auto;
        font-weight: bold;
        position: absolute;
        /*bottom:2px;*/
        top: 122px;
        right: 15px;
        padding-right: 0px !important;
    }
    .order-detail-table-2 table tr td:nth-child(3) ul {
        padding: 0;
    }
    .order-detail-table-2 table tr td:nth-child(3) ul li {
        margin: 2px 0;
    }
    .order-detail-table-2 table tr td:nth-child(3) ul li a {
        font-size: 16px;
    }
    .order-detail-table-2 table tr:last-child td:last-child {
        top: auto;
        font-weight: normal;
    }
    .order-detail-table-2 table tr:last-child td:nth-child(2) {
        display: none;
    }
    .order-detail-table-2 table tr:last-child td:nth-child(3) {
        display: none;
    }
    .order-detail-table-2 table tr:last-child td:nth-child(5) {
        display: none;
    }
    .shipping-offer-left {
        width: 100%;
    }
    .shippng-order-offer {
        width: 100%;
        border-radius: 0;
        padding: 10px 0;
    }
    .shippng-order-offer img {
        width: auto;
    }
}

// ****************
@media screen and (max-width: 900px) {
    .weekly-sale img {
        display: none;
    }
    .nav ul li a {
        padding: 10px 7px;
    }
    .cart-trustwave-box img {
        width: 100%;
    }
    .login-left,
    .login-right {
        width: 100%;
    }
    .log-head {
        font-size: 33px;
    }
    #exp-drop {
        min-width: 790px;
        right: 6px;
    }
}

// ****************
@media screen and (max-width: 860px) {
    .weekly-sale h4 {
        font-size: 15px;
    }
}

// ****************
@media screen and (max-width: 850px) {
    .custContinueOn {
        width: 57%;
        float: left;
    }
    .discount-box {
        width: 28%;
    }
    .banner-option {
        width: 31%;
    }
    // .wholesale-box {
    //   width: 35%;
    // }
    .site-sidebar {
        width: 22%;
    }
    .product-box {
        width: 77%;
    }
    .weekly-sale h3 span {
        display: none;
    }
    .logo-box {
        width: 28%;
    }
    .weekly-sale {
        width: 20%;
    }
    .header-search-box {
        width: 26%;
    }
    #exp-drop {
        min-width: 716px;
        right: -11px;
    }
}

// ****************

/* start - new tracking link adjust for iphone 5 SE - Miko - 6520 827am*/

@media (min-width: 359px) and (max-width: 769px) {
    .mobileShowTrackLink {
        display: block !important;
    }
    #mobileShowTrackLink {
        display: block !important;
    }
}


/* end - new tracking link adjust for iphone 5 SE - Miko - 6520 827am*/


/* Start - Show limited color boxes on mobile */

.product-color-box a#toggleColorBox {
    display: none;
}


/* End - Show limited color boxes on mobile */

// ****************
@media screen and (max-width: 767px) {
    .name-row {
        border: none !important;
        padding: 2px 0 !important;
    }
    #mobile-sidenav {
        display: block;
    }
    .account-sidebar ul {
        display: none;
        padding-top: 7px;
    }
    /* .ft-box-1{width:50%;} */
    .ft-box-2,
    .ft-box-3,
    .ft-box-4 {
        width: 30%;
    }
    #clearcart {
        display: none;
    }
    .mbdshow {
        display: none;
    }
    /*
    .ft-box-2, .ft-box-3{display:none;}
    .ft-box-4{ width:180px; margin-left:5%; float:right;}*/
    // .site-banner {
    //   display: none;
    // }
    /*.confirm-tb table th{display:none;}*/
    .top-head-container {
        padding-bottom: 12px !important;
        padding-left: 15px;
        padding-right: 15px;
    }
    .spacer {
        margin: 10px 0px;
    }
    #searchaction1 {
        border-radius: 5px !important;
    }
    #searchaction {
        border-radius: 5px !important;
    }
    #shipcostid {
        font-size: 16px;
    }
    .edit-account-full-row input[type="tel"] {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .c-code button {
        padding: 12px 6px;
    }
    #mobile-cat {
        display: none;
        /*display:block;*/
        float: left;
        font-size: 20px;
        color: #fff;
        padding: 9px 0;
        font-family: roboto condensed;
        font-weight: 700;
    }
    #mobile-cat .fa-th-list {
        margin-right: 5px;
        font-size: 25px;
    }
    .product-box {
        width: 100%;
    }
    .logo-box {
        width: 174px;
    }
    .header-search-box {
        width: 30%;
        margin-left: 3%;
    }
    .head-cart-box ul li a img {
        width: 40px;
    }
    .nav ul li a:hover,
    .nav ul li a:active,
    .nav ul li a:focus {
        background: transparent;
    }
    .product-info {
        padding: 0 15px;
        width: 100%;
        /*min-height:95px;*/
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .color-wrapper-home::after {
        right: 85%;
    }
    .product-color {
        display: none;
    }
    .product-color .color-palate {
        left: 0;
    }
    .checkout-row-half {
        width: 100%;
    }
    .checkout-row-half input,
    .checkout-row-half select {
        width: 100%;
        margin-left: 0;
    }
    .checkout-row-full input[type="tel"] {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .checkout-row-full label {
        text-align: left;
        margin-bottom: 10px;
    }
    .checkout-row-full {
        margin-bottom: 0;
    }
    .checkout-row-full input {
        width: 100%;
        margin-left: 0;
    }
    .checkout-notification {
        width: 100%;
    }
    .same-address-box input[type="checkbox"] {
        margin-left: 25px;
    }
    .checkout-row-half .checkout-notification {
        width: 100%;
    }
    .checkout-notification {
        width: 100%;
    }
    .form-group {
        width: 100%;
    }
    .form-control {
        width: 100%;
        margin-bottom: 12px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .custContinueOn {
        width: auto;
    }
    .custReturningText {
        margin-bottom: 12px;
    }
    .account-sidebar,
    .account-main-right {
        width: 100%;
        margin-bottom: 20px;
    }
    .size-table-box table {
        width: 98%;
    }
    .recent-order-table-box table,
    .recent-order-table-box table tr,
    .recent-order-table-box table td,
    .recent-order-table-box table th,
    .recent-order-table-box table tbody {
        display: block;
    }
    .recent-order-table-box table tr {
        position: relative;
    }
    .recent-order-table-box table tr:first-child {
        display: none;
    }
    .recent-order-table-box table tr td {
        width: 100%;
        padding-left: 45%;
        position: relative;
        text-align: left !important;
        box-sizing: -moz-border-box;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #c9c9c9;
    }
    .recent-order-table-box table tr td:before {
        position: absolute;
        left: 10px;
        font-size: 16px;
        font-weight: 700;
        color: #282828;
    }
    .recent-order-table-box table tr td:nth-child(1):before {
        content: "ORDER";
    }
    .recent-order-table-box table tr td:nth-child(2):before {
        content: "DATE";
    }
    .recent-order-table-box table tr td:nth-child(3):before {
        content: "STATUS";
    }
    .recent-order-table-box table tr td:nth-child(4):before {
        content: "QUANTITY";
    }
    .recent-order-table-box table tr td:nth-child(5):before {
        content: "AMOUNT";
    }
    .recent-order-table-box table tr td:nth-child(6):before {
        content: "REFUND AMT.";
    }
    .recent-order-table-box table tr td:nth-child(7):before {
        content: "TRACK ORDER";
    }
    .recent-order-table-box table tr td:nth-child(8):before {
        content: "";
    }
    .recent-order-table-box table tr:nth-child(even) {
        background: #f8f8f8;
    }
    .cart-sidebar,
    .cart-main-right-box {
        width: 100%;
    }
    .cart-ship-box img,
    .cart-trustwave-box img {
        width: auto;
    }
    .cart-sidebar {
        margin-top: 20px;
    }
    .search-input-holder input[type="text"],
    .search-input-holder input[type="search"] {
        width: 90%;
        border-radius: 5px;
        margin: 20px 0;
    }
    .search-input-holder a {
        border-radius: 5px;
    }
    .search-input-holder2 input[type="text"],
    .search-input-holder2 input[type="search"] {
        width: 90%;
        border-radius: 5px;
        margin: 20px 0;
    }
    .search-input-holder2 a {
        border-radius: 5px;
    }
    .contact-left-box,
    .contact-right-box {
        width: 100%;
    }
    .contact-left-box {
        min-height: auto;
    }
    .login-half {
        width: 100%;
    }
    .login-left,
    .login-right {
        margin: 0;
        min-height: auto;
    }
    .center-circle {
        position: relative;
        float: left;
    }
    /*.product-row h2 {
    border-bottom:1px solid #c9c9c9
    }*/
    .cart-superpost-box {
        padding-top: 14px;
        margin-bottom: 15px;
    }
    .cart-id-box {
        margin-bottom: 5px;
    }
    .cart-id-box-1,
    .cart-ship-box {
        margin-bottom: 15px;
    }
    .cart-trustwave-box {
        margin-bottom: 10px;
    }
    .center-circle span {
        top: 0;
    }
    .size-logos img {
        width: auto;
    }
    .size-logos {
        text-align: center;
    }
    .blog-left {
        width: 100%;
        float: left;
    }
    .blog-right {
        width: 100%;
        float: right;
    }
    .blog-section {
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .search-box {
        margin-bottom: 20px;
    }
    .recent-post-box {
        margin: 0;
        margin-bottom: 20px;
    }
    .blog-title {
        font-size: 22px;
        margin-top: 15px;
    }
    .review-left {
        width: 100%;
        border: none;
        margin: 0;
        margin-bottom: 20px;
    }
    .review-right {
        width: 100%;
    }
    .custReturningLoginBtn {
        margin-left: 0px;
    }
    .loghere {
        display: block;
        margin-bottom: 10px;
    }
    .newuser {
        margin-bottom: 10px;
    }
    .result-info {
        border-bottom: 1px solid #c9c9c9;
        border-top: 1px solid #c9c9c9;
    }
    .product-batch-box table {
        position: relative;
    }
    .product-batch-box table,
    .product-batch-box table thead,
    .product-batch-box table tbody,
    .product-batch-box table th,
    .product-batch-box table td,
    .product-batch-box table tr {
        display: block;
    }
    .product-batch-box table tr {
        position: relative;
    }
    .product-batch-box table tr td {
        position: relative;
        padding: 10px 0;
        padding-left: 50%;
        border-bottom: 1px solid #c9c9c9;
    }
    .product-batch-box table tr td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 700;
        padding-top: 5px;
        color: #282828;
    }
    .product-batch-box table tr:first-child {
        display: none !important;
    }
    .product-batch-box table tr td:first-child {
        width: auto;
    }
    .product-batch-box table tr td:nth-of-type(1):before {
        content: "Color Name";
    }
    .product-batch-box table tr td:nth-of-type(2):before {
        content: "Color";
    }
    .product-batch-box table tr td:nth-of-type(3):before {
        content: "S";
    }
    .product-batch-box table tr td:nth-of-type(4):before {
        content: "M";
    }
    .product-batch-box table tr td:nth-of-type(5):before {
        content: "L";
    }
    .product-batch-box table tr td:nth-of-type(6):before {
        content: "XL";
    }
    .product-batch-box table tr td:nth-of-type(7):before {
        content: "2XL";
    }
    .product-batch-box table tr td:nth-of-type(8):before {
        content: "3XL";
    }
    .product-batch-box table tr td:nth-of-type(9):before {
        content: "4XL";
    }
    .product-batch-box table tr td:nth-of-type(10):before {
        content: "5XL";
    }
    .product-batch-box table tr td:nth-of-type(11):before {
        content: "6XL";
    }
    .mid-heading {
        display: none !important;
    }
    .stock-in,
    .stock-out {
        width: 95%;
    }
    .stock-out p {
        text-align: right;
        padding-right: 0px !important;
    }
    /*.confirm-tb table tr{float:left; width:100%;}
        .confirm-tb table td::before {
        position: absolute;
        left: 10px;
        font-weight: bold;
    }
    .confirm-tb table tr td{box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 43%;
    float: left;
    text-align: left;
    border:none;
    border-bottom:1px solid #c9c9c9;
    }
    .confirm-tb h4{border-bottom:1px solid #c9c9c9;}
    .confirm-tb table{border:none;}
    .confirm-tb table tr td ul{padding:0px;}

    .confirm-tb table tr:nth-child(odd) {
    background:#f8f8f8
    }

    .confirm-tb table tr td:nth-child(1):before{content: "#";}
    .confirm-tb table tr td:nth-child(2):before{content: "Item";}
    .confirm-tb table tr td:nth-child(3):before{content: "Item Price";}
    .confirm-tb table tr td:nth-child(4):before{content: "Quantity";}
    .confirm-tb table tr td:nth-child(5):before{content: "Price";}
    */
    .product-image-box {
        padding: 10px;
    }
    .product-logo {
        display: none;
    }
    .product-name {
        padding-left: 0;
    }
    .product-info {
        padding: 0 10px;
    }
    .cost-row {
        border-top: none;
        padding-top: 0px;
    }
    .product-price {
        width: 100%;
    }
    .product-offers-box {
        display: none;
    }
    /*#btn-bx{ display:none;}*/
    .mob-dis {
        display: block;
    }
    .cart-summary-tab h3 {
        line-height: 38px;
    }
    .cart-summary-tab h3 button {
        display: inline-block;
        float: right;
        background: #44414f none repeat scroll 0 0;
        border: medium none;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
    }
    .dsk-hide {
        display: none;
    }
    .checkout-order-detail table tr:last-child td p.totdes {
        width: auto;
        text-align: left;
    }
}

// ****************
@media screen and (max-width: 600px) {
    #mobile-nav {
        margin-top: 8px;
    }
    .head-cart-box {
        /*width:190px;*/
        margin-top: 13px;
    }
    #custom-login {
        margin-right: 10px;
    }
    .top-head-container {
        padding-bottom: 3px !important;
        padding-top: 10px;
    }
    #shipcostid {
        margin-bottom: 15px;
    }
    .shipbillinfo .account-address-box {
        width: 100%;
        padding: 10px !important;
    }
    .shipbillinfo .account-address-box2 {
        width: 100%;
        padding: 10px !important;
        border-top: 1px solid #c9c9c9;
        border-bottom: 1px solid #c9c9c9;
    }
    .shipbillinfo .account-address-box3 {
        width: 100%;
        padding: 10px !important;
        border-bottom: 1px solid #c9c9c9;
    }
    .shipbillinfo .account-address-box4 {
        width: 100%;
        padding: 10px;
    }
    .cart-summary-tab table {
        width: 99.8%;
    }
    .product-price {
        font-size: 18px;
    }
    #prod-detail .p-add-wrapper .p-quantity {
        display: block;
        float: left;
        width: 100%;
    }
    #prod-detail .p-add-wrapper .p-quantity .variant {
        display: block !important;
        float: left;
        width: 24%;
        margin: 0px 0.5%;
        padding-right: 0px;
    }
    .cart-summary-tab table th {
        display: none !important;
    }
    .stock-out p {
        padding-right: 0px;
    }
    // .discount-box,
    // .wholesale-box,
    // .free-shipping-box,
    // .banner-call-box {
    //   width: 48%;
    // }
    // .wholesale-box {
    //   margin-right: 0;
    //   margin-left: 2%;
    // }
    .banner-option {
        width: 100%;
        margin-top: 10px;
    }
    // .free-shipping-box {
    //   margin-right: 2%;
    // }
    // .banner-call-box {
    //   margin-left: 2%;
    // }
    // .discount-box h3,
    // .wholesale-box h3,
    // .wholesale-box h2 span,
    // .wholesale-box h3 span,
    // .wholesale-box span {
    //   text-align: left;
    // }
    // .wholesale-box h2 span {
    //   float: left;
    // }
    // .banner-call-box img {
    //   margin-left: 0;
    // }
    // .free-shipping-box {
    //   margin-bottom: 0;
    // }
    .cart-summary-tab table,
    .cart-summary-tab table tbody,
    .cart-summary-tab table td,
    .cart-summary-tab table th {
        display: block;
    }
    .cart-tab-control {
        padding: 12px 10px;
    }
    .cart-tab-control a {
        float: left;
        width: 46%;
        padding-left: 0;
        padding-right: 0;
    }
    .cart-tab-control button {
        float: left;
        width: 46%;
        margin: 5px 2%;
        padding-left: 0;
        padding-right: 0;
    }
    .order-detail2-left {
        width: 100%;
    }
    .track-order-right {
        width: 100%;
        margin-top: 15px;
    }
}

// ****************
@media screen and (max-width: 550px) {
    .footer-new {
        padding: 25px 0px;
    }
    .box-1-inner img {
        margin-bottom: 15px;
    }
    .box-1-inner p {
        margin-bottom: 10px;
    }
    .box-1-inner h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .ft-box-1 {
        width: 100%;
        margin-bottom: 0px;
    }
    .ft-box-2,
    .ft-box-3,
    .ft-box-4,
    .box-1-inner {
        width: 100%;
        margin-left: 0%;
        text-align: center;
        max-width: 100%;
    }
    .ft-box-2 h3,
    .ft-box-3 h3,
    .ft-box-4 h3 {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .ft-box-2 ul li,
    .ft-box-3 ul li,
    .ft-box-4 ul li {
        padding-left: 0px;
        background-image: none;
        width: 100%;
    }
    .ft-box-2 ul,
    .ft-box-3 ul,
    .ft-box-4 ul {
        width: 100%;
    }
    #mobile-nav {
        width: 40px;
        margin-top: 0px;
    }
    #mobile-nav img {
        width: 100%;
        margin-top: 2px;
    }
    .logo-box img {
        margin-top: 5px;
    }
    #custom-login a {
        font-size: 13px;
    }
    #mob-ship a {
        line-height: 13px;
        font-weight: bold;
        background-position: left center;
        font-size: 13px;
        padding-left: 32px;
        background-size: 24px;
    }
    #mob-bulk a {
        line-height: 13px;
        float: left;
        font-weight: bold;
        padding-left: 39px;
        font-size: 13px;
        text-align: left;
    }
    .top-head-container-2 {
        margin-top: 66px;
    }
    .head-cart-box ul li a img {
        width: 30px;
        float: left;
    }
    .totel-value {
        font-size: 14px;
        float: left;
        margin: 0px;
    }
    .head-cart-box {
        /*width: 118px;*/
        margin-top: 6px;
    }
    .logo-box {
        width: 136px;
        margin-left: 11px;
    }
    .top-head-container {
        height: 65px;
        padding-left: 7px;
        padding-right: 5px;
    }
    .nav {
        padding: 8px 0px;
        height: 65px;
    }
    .top-head-container-2 {
        margin-top: 67px;
    }
    .nav ul {
        top: 65px;
    }
    /*.nav ul:first-child{height:500px; overflow-y:scroll;}*/
    .head-cart-box ul li:last-child {
        width: 55px;
    }
    .totel-value span {
        min-width: 14px;
        font-size: 11px;
        height: 15px;
        left: 27px;
        top: -20px;
        padding: 0px 2px;
        padding-top: 2px;
        border-radius: 5px;
    }
}

// ****************
@media screen and (max-width: 500px) {
    #btn-bx {
        text-align: center;
    }
    #btn-bx {
        position: static;
    }
    .no-item {
        float: left;
        width: 100%;
        text-align: center;
    }
    .keep-shopping {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    #keepshop {
        float: none;
    }
    .checkout-order-detail table th {
        display: none !important;
    }
    .track-order-table table th {
        display: none !important;
    }
    .product-image-detail {
        margin-bottom: 0px;
    }
    .mob-wrapper {
        margin-top: 0px;
    }
    .mob-pad {
        width: 37.5%;
    }
    #psjumpTo {
        position: relative !important;
        right: 0px !important;
        padding: 5px !important;
        width: 75px !important;
    }
    #selectPrductSort {
        position: relative !important;
        float: right !important;
        right: 0px !important;
        padding: 5px !important;
        width: 125px !important;
        margin-left: auto;
    }
    .head-cart-box ul li:first-child {
        display: none;
    }
    .discount-box h2,
    .discount-box h2 span {
        font-size: 23px;
    }
    .discount-box h3 {
        font-size: 17px;
    }
    .product-image-detail {
        width: 100%;
    }
    .product-discription {
        width: 100%;
        padding-top: 0;
        border-left: none;
    }
    .product-color-box {
        padding: 10px 0px;
    }
    .product-color-box,
    .product-offers-box {
        padding: 10px 0px;
    }
    .product-offers-box {
        padding: 10px;
    }
    .product-advertisment {
        width: 100%;
    }
    .product-logo-box {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .item-description ul li,
    .product-discription h2 {
        margin-bottom: 5px;
    }
    .product-color-box h3,
    .review-head-tip,
    .rate-item,
    .item-description p,
    .item-description ul {
        margin-bottom: 10px;
    }
    .product-color-box ul li {
        margin-right: 11px;
        margin-bottom: 11px;
    }
    .item-description h4 {
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .discription-control a {
        padding: 12px 0;
    }
    .product-discription {
        padding: 10px;
    }
    .product-logo-box {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .product-advertisment h2 a {
        text-align: center;
        float: left;
        width: 100%;
    }
    .zip-holder {
        margin-bottom: 10px;
    }
    .login-content {
        padding: 0;
        margin-bottom: 15px;
    }
    .checkout-holder,
    .checkout-pay-full,
    .contact-form-holder,
    .mail-address,
    .mail-sub-box {
        // padding: 0 10px;
        padding: 10px;
        margin-bottom: 15px;
    }
    .contact-container {
        padding-top: 0;
    }
    .about-container,
    .contact-container {
        padding: 10px;
    }
    .checkout-pay-half {
        width: 100%;
        margin-top: 0;
    }
    // .visacard,
    // .seprator-or {
    //     margin-top: 0;
    // }
    // .paypalcard {
    //     margin-top: 2%;
    // }
    .required-field {
        margin-bottom: 10px;
    }
    .account-contect-name,
    .account-contect-tel {
        width: 30%;
    }
    .account-contect-name2,
    .account-contect-tel2 {
        width: 70%;
    }
    .account-address-box {
        width: 100%;
        margin-right: 0;
    }
    .account-address-box2 {
        width: 100%;
        margin-left: 0;
    }
    .header-outer,
    .breadcrum {
        margin-bottom: 15px;
    }
    .account-content-holder h2,
    .account-content-holder-top h2,
    .order-person-detail h2,
    .order-person-detail h2 {
        font-size: 20px;
    }
    .account-content-holder p {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .edit-account-full-row {
        margin-bottom: 0;
    }
    .edit-account-left-row {
        width: 100%;
        padding-right: 0;
        margin-bottom: 10px;
    }
    .edit-account-right-row {
        width: 100%;
        padding-left: 0;
        margin-bottom: 10px;
    }
    .track-right-row {
        width: 100%;
        padding-left: 0;
        margin-bottom: 10px;
    }
    .contact-form-holder input[type="text"],
    .contact-form-holder input[type="email"],
    .contact-form-holder input[type="date"],
    select,
    textArea {
        margin-bottom: 15px;
        padding: 10px;
    }
    .contact-form-holder input[type="submit"] {
        padding: 10px 20px;
        margin-bottom: 0;
    }
    .contact-form-holder p,
    .contact-right-box h2 {
        margin-bottom: 15px;
    }
    .map-box {
        margin-bottom: 10px;
    }
    .contact-left-box,
    .contact-right-box {
        margin-top: 20px;
    }
    .full-width-box h2 {
        padding: 12px;
        /* margin-bottom:15px; */
    }
    .contact-container p span {
        float: left;
        margin-top: 5px;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .login-right,
    .login-left {
        padding: 35px 10px;
    }
    .login-full,
    .log-head-row {
        margin-bottom: 10px;
    }
    .log-img img {
        margin-top: -7px;
    }
    .log-input-box,
    .log-submit-row {
        margin-bottom: 0;
    }
    .log-head {
        font-size: 27px;
    }
    .forget-row a {
        margin-top: 10px;
    }
    .center-circle span {
        padding: 15px 18px 15px 15px;
    }
    .log-sub-left input[type="submit"] {
        padding: 10px 10%;
    }
    .log-sub-left {
        width: 42%;
    }
    .log-sub-right {
        width: 58%;
    }
    .log-input-box input[type="email"],
    .log-input-box input[type="password"] {
        margin-bottom: 15px;
        padding: 10px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .checkout-order-detail table tr td:first-child span {
        float: none;
    }
    .track-order-table table tr td:first-child span {
        float: none;
    }
    .track-order-table table,
    .track-order-table table tbody,
    .track-order-table table tr,
    .track-order-table table td {
        display: block;
    }
    .track-order-table {
        border-top: 1px solid #c9c9c9;
        border-left: 1px solid #c9c9c9;
        border-right: 1px solid #c9c9c9;
    }
    .track-order-table table td {
        position: relative;
        padding-left: 40% !important;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .track-order-table table tr td {
        border: none;
        border-bottom: 1px solid #c9c9c9;
    }
    .track-order-table table td:before {
        position: absolute;
        left: 10px;
        font-weight: 700;
    }
    .track-order-table table td:nth-child(1):before {
        content: "Tracking No.";
    }
    .track-order-table table td:nth-child(2):before {
        content: "Date";
    }
    .track-order-table table td:nth-child(3):before {
        content: "Description";
    }
    .track-order-table table td:nth-child(4):before {
        content: "Address";
    }
    .track-order-table table td:nth-child(5):before {
        content: "Status";
    }
    .track-order-table table tr:nth-child(odd) {
        background: #f8f8f8;
    }
    .track-order-table table tr:last-child td:before {
        display: none;
    }
    .track-order-table table tr:last-child td:first-child {
        display: none;
    }
    .track-order-table table tr:last-child td:nth-child(2) {
        padding: 0 !important;
    }
    .track-order-table table tr:last-child td:nth-child(2) p {
        position: absolute;
        left: 10px;
        /*bottom:-128px*/
        top: 57px;
    }
    .track-order-table table tr:last-child td {
        border-bottom: 1px solid #c9c9c9;
        padding: 10px 0;
    }
    .checkout-payrow,
    .checkout-row-full label {
        margin-bottom: 5px;
    }
    .checkout-row-full label {
        line-height: 40px;
    }
    .checkout-row-full input,
    .checkout-payrow input {
        padding: 0 10px !important;
    }
    select {
        height: 40px;
        padding: 10px !important;
    }
    .same-address-box {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .checkout-submit-button input[type="submit"] {
        padding: 10px 15px;
        font-size: 20px;
    }
    .product-color .color-palate {
        left: -16px;
    }
    .size-table-box table caption {
        top: -45px;
    }
    .size-table-box table {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .size-logo-row span {
        font-size: 18px;
    }
    .size-logo-row img {
        width: 75px;
    }
    .size-logo-row {
        padding: 10px 0;
    }
    .shipping-offer-left h2 {
        font-size: 22px;
        padding-bottom: 5px;
        padding-top: 10px;
    }
    .shipping-offer-left p {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .shipping-top-ad,
    .ship-content h4 {
        margin-bottom: 15px;
    }
    .ship-img-head {
        font-size: 16px;
    }
    .ship-map {
        margin: 20px 0;
    }
    .ship-content ul li,
    .ship-content ul {
        margin-bottom: 10px;
    }
    .search-container p {
        margin-top: 5px;
    }
    .search-input-holder,
    .search-input-holder2 {
        margin: 15px 0;
        padding: 15px 0;
        padding-bottom: 20px;
    }
    .search-input-holder input[type="text"],
    .search-input-holder input[type="search"],
    .search-input-holder2 input[type="text"],
    .search-input-holder2 input[type="search"] {
        margin: 15px 0;
        padding: 10px;
    }
    .tab-info-holder {
        padding: 10px;
    }
    .tab-info-holder ul li {
        padding-left: 20px;
    }
    .account-content-holder,
    .account-content-holder-top {
        padding: 10px;
    }
    .account-address-box2 a,
    .account-address-box a {
        margin-bottom: 10px;
    }
    .account-full-box {
        margin-bottom: 15px;
    }
    .edit-account-input-holder,
    .edit-account-full-row input[type="text"],
    .edit-account-full-row input[type="password"],
    .edit-account-full-row input[type="email"],
    .edit-account-full-row input[type="date"],
    .edit-account-full-row input[type="tel"] {
        padding: 10px;
    }
    .edit-account-right-row input[type="text"],
    .edit-account-right-row input[type="password"],
    .edit-account-right-row input[type="email"],
    .edit-account-right-row input[type="date"],
    .edit-account-left-row input[type="text"],
    .edit-account-left-row input[type="password"],
    .edit-account-left-row input[type="email"],
    .edit-account-left-row input[type="date"] {
        margin-bottom: 5px !important;
    }
    .edit-account-full-row input[type="text"],
    .edit-account-full-row input[type="password"],
    .edit-account-full-row input[type="email"],
    .edit-account-full-row input[type="date"],
    .edit-account-full-row input[type="tel"] {
        margin-bottom: 15px;
    }
    .edit-box-button-box {
        margin: 15px 0;
    }
    .track-button-box {
        margin: 0;
    }
    .account-full {
        margin-bottom: 10px;
    }
    .edit-account-input-holder p {
        margin: 0;
    }
    .edit-box-button-box a {
        padding: 12px 15px;
    }
    .order-person-detail {
        padding: 10px;
    }
    .faq-tabbing-holder ul h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .faq-tabbing-holder {
        margin-bottom: 10px;
    }
    .oc-left {
        width: 100%;
    }
    .oc-button {
        margin-top: 10px;
    }
    .order-control {
        padding: 10px 10px;
        /* margin-top:15px */
    }
    .oc-container h2 {
        margin-bottom: 0;
    }
    .sitebox,
    .sitemap-left,
    .sitemap-right {
        width: 100%;
    }
    .sitemap-left {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .sitemap-right {
        margin-left: 0;
    }
    .site-full-box {
        padding-top: 10px;
    }
    .sitebox ul {
        margin-bottom: 10px;
    }
    .brand-box {
        margin: 10px 0px;
    }
    .brand-box ul {
        display: none;
    }
    .brand-box ul li {
        width: 22.5%;
    }
    .comment-form-box input[type="text"],
    .comment-form-box input[type="email"],
    .comment-form-box textarea {
        padding: 10px;
    }
    .pagination li {
        float: left;
    }
    .ft-box-2 ul li,
    .ft-box-3 ul li,
    .ft-box-4 ul li {
        margin: 5px 0;
    }
    .checkout-order-detail table tr td:last-child {
        bottom: 1px;
        top: auto;
    }
    .confirm-tb table tr td:last-child {
        bottom: 1px;
        top: auto;
    }
    .order-detail-table-2 table tr td:last-child {
        bottom: 1px;
        top: auto;
    }
}

@media screen and (max-width: 450px) {
    .ck-log-left {
        display: block;
        width: 100%;
        height: auto;
        padding: 20px 0px;
    }
    .ck-log-right {
        display: block;
        width: 100%;
        height: auto;
        padding: 20px 0px;
    }
    .ck-log-left a img,
    .ck-log-right a img {
        width: 45px;
    }
    .cart-summary-tab table tr td.cart-desc ul li:nth-child(4) img {
        width: 25px;
    }
    .cart-summary-tab table tr td.cart-desc ul li:nth-child(4) {
        font-size: 13px;
    }
    .cart-summary-tab table tr td {
        padding-right: 35px;
    }
    .del-cart {
        right: 7px;
    }
    .checkout-order-detail table tr td.cart-desc ul li:nth-child(4) img {
        width: 25px !important;
    }
    .checkout-order-detail table tr td.cart-desc ul li:nth-child(4) p {
        font-size: 13px;
    }
    .confirm-tb table tr td ul li:nth-child(4) p {
        font-size: 13px;
    }
    .confirm-tb table tr td ul li:nth-child(4) img {
        width: 25px !important;
    }
}

// ****************
@media screen and (max-width: 420px) {
    .shippng-order-offer img {
        width: 75% !important;
        height: auto !important;
    }
    .map-box img {
        width: 90%;
    }
    .stock-control-left a {
        padding: 12px 15px;
    }
    .review-headline p {
        width: 100%;
        margin-left: 0;
    }
    .rate-1 ul li img {
        width: 25px;
    }
    .give-review button {
        padding: 6px;
    }
}

// ****************
@media screen and (max-width: 400px) {
    .forgot-psw {
        width: 100%;
    }
    .pop-up-holder {
        width: 95% !important;
    }
    .cart-summary-tab table {
        width: 99.4%;
    }
    .discount-box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    // .wholesale-box {
    //   margin-left: 0;
    //   width: 100%;
    // }
    // .discount-box h2,
    // .discount-box h2 span,
    // .discount-box h3,
    // .discount-box h3,
    // .wholesale-box h3,
    // .wholesale-box h2 span,
    // .wholesale-box h3 span,
    // .wholesale-box span,
    // .free-shipping-box,
    // .banner-call-box {
    //   text-align: center;
    // }
    .discount-box h2 span {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
    }
    .discount-box a {
        width: 100%;
    }
    // .wholesale-box h2 span {
    //   float: none;
    //   border-radius: 6px;
    //   font-size: 16px;
    // }
    // .free-shipping-box h2,
    // .banner-call-box h2,
    // .free-shipping-box h3,
    // .banner-call-box h2 span {
    //   width: 100%;
    //   text-align: center;
    // }
    // .free-shipping-box img,
    // .banner-call-box img {
    //   float: none;
    // }
}

// ****************
@media screen and (max-width: 340px) {
    .stock-control-right p {
        font-size: 13px;
    }
    .wrapper_books {
        width: 250px !important;
    }
    .logo-box {
        width: 130px;
    }
    h4.liketext {
        display: block;
    }
}

// ****************
@media screen and (max-width: 320px) {
    h4.liketext {
        display: block;
    }
    .cart-summary-tab table {
        width: 99.3%;
    }
}