// ****************

// Media queries - CL September 24 2020 - 6:24am

// Media queries

@media print {
  .rating-container .clear-rating {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .rw-top-box {
    display: block;
  }
  .rw-one,
  .rw-three,
  .rw-two {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    float: left;
  }
  .rw-one,
  .rw-two {
    margin-bottom: 20px;
  }
  .rw-two {
    border-top: 1px solid $color-lightgray;
    border-bottom: 1px solid $color-lightgray; /*padding-top:13px;*/
    padding-bottom: 7px;
  }
  .rw-three {
    height: 127px;
  }
  .cst-recom,
  .cst-rw {
    max-width: 200px;
    margin: auto;
  }
  .cst-recom {
    margin-top: 15px;
  }
}
@media screen and (max-width: 500px) {
  .rating-md {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 768px) {
  #or-print-btn {
    display: none;
  }
  #btn-bx {
    text-align: right;
  }

  #books {
    display: block !important;
    margin-bottom: 10px;
  }
  #books tr {
    float: left;
    width: 100%;
  }
  #books tr td {
    border: none;
    display: inline-block;
    position: static;
    margin: 0px;
    padding: 0px;
    width: auto;
  }

  #books {
    tr td {
      &:nth-of-type(1)::before {
        content: "";
        display: none;
      }

      &:nth-of-type(2)::before {
        content: "";
        display: none;
      }
      &:nth-of-type(3)::before {
        content: "";
        display: none;
      }

      &:nth-of-type(4)::before {
        content: "";
        display: none;
      }

      &:nth-of-type(5)::before {
        content: "";
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .rw-top-box {
    display: flex;
    flex-direction: column;
  }
  .rw-three {
    display: none;
  }

  #books {
    .wrapper_books {
      height: 15px;
      width: 100% !important;
    }

    tr {
      align-items: center;
      justify-content: center;
    }

    .inner_books {
      height: 10px;
    }

    td {
      &:nth-child(1) {
        width: 25%;
      }

      &:nth-child(2) {
        width: 60%;
      }

      &:nth-child(3) {
        width: 10%;
      }
    }
  }

  .rw-two {
    border-top: 0;
    border-bottom: 0;
  }
  .customer-review {
    margin-top: 0;
  }
  .rw-one,
  .rw-two {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 364px) {
  .rw-top-box {
    display: block;
  }

  table#books .wrapper_books {
    width: 165px !important;
  }
}

.ribbon {
  @media (max-width: 79em) {
    padding: 8px;
  }

  @media (max-width: 56.25em) {
    font-size: 16px;
  }

  @media (max-width: 48em) {
    font-size: 15px;
    padding: 8px;
    letter-spacing: 0;
  }

  @media (max-width: 37.5625em) {
    font-size: 13px;
    padding: 7px;
  }

  @media (max-width: 23.4375em) {
    font-size: 10px;
    padding: 5px;
  }
}
