@media only screen and (max-width: 1000px) {
    .top-head-container-2 {
        margin-bottom: 0;
    }
    .review-box .rw-top-box .rw-two table tr {
        display: flex !important;
        flex-wrap: inherit !important;
    }
}

@media only screen and (max-width: 769px) {
    .product-image-box img {
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .pdetail {
        max-width: 100%;
        border-left: none;
    }
    .mobile-only {
        .product-holder {
            width: 33.33% !important;
        }
    }
    // single detail fixes
    .product-batch-box {
        .stock-info-box {
            display: flex;
            flex-wrap: wrap;
        }
        .stock-info-box .stock-control-right p {
            border-top: 2px solid #fff;
            max-width: 95%;
            margin: 10px auto;
            text-align: center;
        }
        .stock-info-box .stock-control-left {
            flex: 0 0 24%;
            max-width: 24%;
        }
        .stock-info-box h3 {
            flex: 0 0 70%;
            max-width: 70%;
            border: 0 !important;
            padding-right: 20px !important;
        }
        .stock-info-box .stock-control-right {
            flex: 0 0 100%;
            max-width: 100%;
        }
        #books tr td:nth-child(2) {
            max-width: 50%;
        }
        .book_rating .wrapper_books {
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .product-batch-box {
        .stock-info-box .stock-control-left {
            flex: 0 0 100%;
            padding: 5px 15px;
            max-width: 100%;
            box-sizing: border-box;
        }
        .stock-info-box h3 {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            padding: 5px 20px !important;
        }
        .stock-info-box .stock-control-left a {
            display: block;
            width: 100%;
            box-sizing: border-box !important;
            margin: 0 !important;
        }
        #books tr td:nth-child(2) {
            width: 50%;
        }
        .book_rating {
            .wrapper_books {
                width: 100% !important;
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #target-col {
        .select-rght-color {
            width: 50%;
            float: left;
            height: 35px;
        }
        .select-lft-color {
            width: 50%;
            float: left;
            height: 35px;
        }
    }
    #mob-ship a {
        float: left;
        text-align: left;
        padding: 0px;
        padding-left: 41px;
    }
    .map-box img {
        width: auto;
    }
    .dw-box::after {
        background-color: transparent;
        height: auto;
        padding: 10px;
        float: right;
        position: relative;
    }
    .detail-thumb ul li img {
        width: 73px;
    }
    .pdetail {
        width: 100%;
        min-height: auto;
        border-left: none;
        padding-bottom: 5px;
        max-width: 100%;
    }
    .product-detail-box {
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    .shipping-offer {
        margin-bottom: 10px;
    }
    .forgot-psw {
        width: 90%;
    }
    .saving-box {
        margin-top: 20px;
    }
    /* product-detail 31-5-2017 */
    #prod-detail {
        margin-top: 0px;
        float: left;
        width: 100%;
    }
    .product-batch-box {
        margin: 0px;
        margin-bottom: 15px;
    }
    #col-close {
        position: static;
        top: 1px;
        left: 10px;
        right: 10px;
        text-align: right;
        background: #d7d7d7;
        z-index: 999;
        display: block;
        float: right;
        font-size: 20px;
        padding: 10px;
        color: #282828;
        text-decoration: underline;
    }
    #col-close:hover {
        color: red;
    }
    .pro-add {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        a {
            line-height: 48px;
        }
        button {
            float: left;
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
    .product-image-detail {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid #c9c9c9;
    }
    .product-discription {
        width: 100%;
        padding-top: 0px;
        border-left: none;
        min-height: 100px;
    }
    .product-color-box {
        padding: 10px 0px;
    }
    .product-offers-box {
        padding: 15px;
    }
    .product-advertisment {
        width: 100%;
    }
    .product-logo-box {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 25px;
        ul {
            li {
                margin-right: 5px;
                margin-bottom: 5px;
                display: none;
            }
            .featured-colors li {
                display: block;
            }
            .shown li {
                display: block;
            }
        }
        h3 {
            margin: 0px !important;
        }
        a#toggleColorBox {
            display: block;
        }
    }
    .item-description ul li,
    .product-discription h2 {
        margin-bottom: 5px;
        text-align: center;
    }
    .item-description ul li {
        margin-right: 0px;
        display: block;
        width: 100%;
        text-align: left;
    }
    .product-color-box h3,
    .review-head-tip,
    .rate-item,
    .item-description p,
    .item-description ul {
        margin-bottom: 10px;
    }
    .rate-item h3 {
        line-height: 0;
    }
    .product-item-image {
        text-align: center;
        // width: 767px;
        // max-width: 767px;
        img {
            width: auto;
        }
    }
    .review-head-tip {
        text-align: center;
        img {
            float: none;
        }
        p {
            text-align: center;
        }
    }
    .rate-item {
        text-align: center;
    }
    /*.product-color-box ul li:nth-child(-n+6){display:block;}*/
    /* End - Show limited color boxes on mobile */
    .color-dw {
        max-width: 100%;
        position: static;
        ul {
            overflow-y: scroll;
            max-height: 100%;
            height: 100%;
            top: 0px;
            z-index: 999;
            position: fixed;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background: #d7d7d7;
            li {
                padding: 10px;
                background: #fff;
                span {
                    display: block;
                    float: left;
                    font-size: 20px;
                    margin-top: 7px;
                }
            }
        }
    }
    .dw-box {
        width: 100%;
        border-color: #c9c9c9;
        max-width: 100%;
        position: static;
        padding-left: 20px;
    }
    .qt-box h4,
    .stock-info-box,
    .product-batch-box table,
    .stock-tab-add-cart,
    .product-batch-box .spacer {
        display: none !important;
    }
    .qt-holder {
        padding-top: 16px;
    }
    .select-color-box {
        position: relative;
        float: left;
        left: 0px;
        top: 0px;
        margin-right: 10px;
    }
    .select-color-box-1 {
        height: 35px;
        top: 0px;
        width: 35px;
        position: relative;
        float: left;
        margin-right: 28px;
    }
    #prod-detail .cright {
        width: 100%;
    }
    .product-discription .codexworld_rating_widget {
        float: left;
        width: 100%;
        text-align: center;
        li {
            display: inline-block;
            float: none;
        }
    }
    #col-exp {
        margin-top: 10px;
    }
    #prod-detail .p-add-wrapper {
        padding: 0px 15px;
        margin: 5px 0px;
    }
    .ft-box-6 {
        border-top: 1px solid #97addf;
        padding-top: 20px;
    }
    .ft-box-4 {
        float: right;
        margin-left: 5%;
    }
    .recent-order-table-box {
        table {
            th {
                padding: 10px 2px;
            }
            td {
                padding: 15px 2px;
            }
        }
    }
}