.desktop-only {
    display: block !important;
    @media (max-width: 48em) {
        display: none;
    }
    .product-holder {
        width: 33.33% !important;
    }
}

.mobile-only {
    display: none !important;
    @media screen and (max-width: 1000px) {
        display: block !important;
    }
    @media (max-width: 48em) {
        display: block !important;
    }
}

.flex-pc-only {
    display: flex !important;
    @include respond(laptop-m) {
        display: none !important;
    }
}

.flex-mob-only {
    display: none !important;
    @include respond(laptop-m) {
        display: flex !important;
    }
}

.n-mobile-only {
    display: none !important;
    @include respond(laptop-m) {
        display: unset !important;
    }
}

.n-desktop-only {
    display: flow-root !important;
    @include respond(laptop-m) {
        display: none !important;
    }
}

.w-100 {
    width: 100%;
}

.logo1 {
    text-align: center;
}

.small {
    &--image {
        margin-top: 15px;
        a {
            display: block;
            height: 70px;

            @include respond(mobile-lg) {
                height: 60px;
            }

            @include respond(mobile-ms) {
                height: 50px;
            }
            @include respond(mobile-m) {
                height: 40px;
            }
        }
        img {
            height: 100%;
        }
    }
}