@import "../utils/mixins";
$color-theme-primary: #00234f;
$color-footer-gradient: #011a39;
$color-theme-secondary: #c20d11;
$color-white: #fff;
$img-gifts: url("/images/theme/christmas/gift-w150px.webp");
$img-santa: url("/images/theme/christmas/santa-claus_x220.webp");
$img-snow-pile-1: url("/images/theme/christmas/snow-pile-1_1_x338.webp");
$img-snow-pile-2: url("/images/theme/christmas/snow-pile-4_x180.webp");
$img-ornament: url("/images/theme/christmas/ornament_x300.webp");
.themes--christmas {
    .christmas {
        background: $color-theme-secondary;
    }
    .navbar {
        &__hamburger-btn {
            span {
                background-color: $color-theme-primary;
            }
            &--clicked {
                span {
                    &:before,
                    &:after {
                        background-color: $color-theme-primary;
                    }
                    background-color: transparent;
                }
            }
        }
        &__logo {
            position: relative;
            @include pseudoImage("before",
            $img-santa) {
                width: 110px;
                height: 110px;
                // bottom: -40px;
                // left: -100px;
                bottom: -33px;
                left: -100px;
                @media (max-width: 1500px) {
                    // right: 0;
                    left: unset;
                    width: 100px;
                    height: 100px;
                    right: -73px;
                    transform: scale(0.7);
                    bottom: -44px;
                }
               
                @include respond(laptop) {
                    bottom: -45px;
                }
                @include respond(laptop-s) {
                    bottom: -20px;
                    height: 75px;
                    width: 75px;
                    // right: -30px;
                    right: -60px;
                    bottom: -22px !important;
                }
                @include respond(tab-port) {
                    height: 65px;
                    width: 65px;
                    // right: -25px;
                    right: -52px;
                }
                @include respond(mobile-lg) {
                    // bottom: -10px;
                    bottom: -10px !important;
                    right: -45px !important;
                    height: 50px;
                    width: 50px;
                    // right: -24px;
                    right: 0;
                    transform: scale(0.6);
                }
                @media only screen and (max-width: 320px) {
                    transform: scale(0.3);
                    right: -35px !important;
                }
                @include respond(mobile-m) {
                    // height: 45px;
                    // width: 45px;
                    // right: -10px;
                    transform: scale(0.5);
                }
                @include respond(mobile-s) {
                    // height: 40px;
                    // width: 40px;
                    // bottom: -10px;
                    // right: -15px;
                }
            }
            @include pseudoImage("after",
            $img-gifts) {
                // bottom: -32px;
                // right: 0;
                width: 66px;
                height: 70px;
                right: -61px;
                transform: scale(0.8);
                bottom: -32px;
                @media (max-width: 1500px) {
                    display: none;
                }
            }
        }
        & .btn--my-account {
            color: $color-theme-primary;
            svg {
                fill: $color-theme-primary;
            }
        }
        & .btn--track {
            &__icon {
                fill: $color-theme-primary;
            }
            &__label {
                color: $color-theme-primary !important;
            }
        }
        & .btn--icon {
            svg {
                fill: $color-theme-primary;
            }
        }
        & .inp--search__button {
            background: $color-theme-primary;
        }
        &__footer {
            background: $color-theme-primary;
        }
        & .mega-menu__title {
            color: $color-theme-secondary;
            &::after {
                background: $color-theme-secondary;
            }
        }
        & .mega-menu__sub {
            &:hover {
                background-color: rgba($color-theme-secondary, 0.08);
            }
        }
        & .navbar__footer-sub-link {
            &:hover {
                background-color: rgba($color-theme-secondary, 0.08);
            }
        }
        & .search {
            &__auto-result {
                li {
                    &:hover,
                    &:focus {
                        a {
                            color: $color-theme-secondary !important;
                        }
                    }
                }
            }
            &__live-header {
                span {
                    color: $color-theme-secondary;
                }
            }
        }
        &__footer-item:hover>.navbar__footer-header {
            background-color: $color-theme-secondary !important;
            color: $color-white !important;
        }
    }
    .footer {
        position: relative;
        background-color: $color-theme-primary;
        background: $color-footer-gradient;
        white-space: nowrap;
        margin-top: 40px;
        padding-bottom: 100px;
        @include respond(tab-port) {
            padding-bottom: 100px;
            margin-top: 20px;
        }
        @include pseudoImage("after",
        $img-snow-pile-1) {
            height: 169px;
            width: 531px;
            top: -30px;
            left: -10px;
            @media (max-width: 1500px) {
                height: 150px;
                width: 520px;
                top: -30px;
            }
            @include respond(laptop) {
                height: 130px;
                width: 500px;
                left: -40px;
            }
            @include respond(tab-port) {
                width: 460px;
                height: 130px;
                left: -10px;
                top: -20px;
            }
            @include respond(mobile-lg) {
                width: 100%;
                height: 120px;
            }
            @include respond(mobile-m) {
                width: 100%;
                height: 100px;
            }
        }
        @include pseudoImage("before",
        $img-snow-pile-2) {
            height: 90px;
            width: 871px;
            bottom: 0;
            right: 0;
            @include respond(laptop) {
                height: 70px;
                width: 680px;
            }
            @include respond(tab-port) {
                height: 60px;
                width: 570px;
            }
            @include respond(mobile-lg) {
                width: 100%;
                height: 50px;
            }
            @include respond(mobile-lg) {
                height: 40px;
            }
            @include respond(mobile-m) {
                height: 35px;
            }
        }
        & .container {
            position: relative;
            @include pseudoImage("before",
            $img-ornament) {
                height: 200px;
                width: 200px;
                top: -110px;
                right: -120px;
                @media screen and (max-width: 1500px) {
                    display: none;
                }
            }
        }
    }
    .sidebar {
        background-color: $color-theme-primary;
    }
    .show-sub-list .navbar__footer-header {
        @include respond(laptop-s) {
            background-color: $color-theme-secondary;
        }
    }
    body {
        overflow-x: hidden !important;
    }
}