@import "../utils/mixins";
.themes {
    &--halloween {
        $color-theme-primary: #000;
        $color-theme-secondary: #eb6123;
        $color-white: #fff;
        $img-right-nav: url("/images/theme/halloween/right-nav-halloween_300x.webp");
        $img-spider-web: url("/images/theme/halloween/spider-web_500x.webp");
        $img-spider: url("/images/theme/halloween/spider_100x.webp");
        $img-footer: url("/images/theme/halloween/backdrop.webp");
        .halloween {
            background-color: $color-theme-secondary;
        }
        .navbar {
            &__main .container {
                position: relative;
                @include pseudoImage("after",
                $img-right-nav) {
                    right: -180px;
                    top: 10px;
                    width: 150px;
                    height: 150px;
                    @media (max-width: 1600px) {
                        display: none;
                    }
                }
            }
            &__hamburger-btn {
                span {
                    background-color: $color-theme-primary;
                }
                &--clicked {
                    span {
                        &:before,
                        &:after {
                            background-color: $color-theme-primary;
                        }
                        background-color: transparent;
                    }
                }
            }
            &__logo {
                position: relative;
                @include pseudoImage("before",
                $img-spider-web) {
                    // top: -200%;
                    top: -125%;
                    left: -160px;
                    width: 220px;
                    height: 220px;
                    transform: rotate(125deg);
                    @include respond(laptop) {
                        display: none;
                    }
                }
                @include pseudoImage("after",
                $img-spider) {
                    // top: -70%;
                    right: 20%;
                    width: 50px;
                    height: 50px;
                    top: -44%;
                    @include respond(mobile-lg) {
                        width: 35px;
                        height: 35px;
                        right: 25%;
                    }
                    @include respond(laptop) {
                        top: -47%;
                    }
                    @include respond(laptop-s) {
                        top: -86%;
                    }
                }
            }
            & .btn--my-account {
                color: $color-theme-primary;
                svg {
                    fill: $color-theme-primary;
                }
            }
            & .btn--track {
                &__icon {
                    fill: $color-theme-primary;
                }
                &__label {
                    color: $color-theme-primary !important;
                }
            }
            & .btn--icon {
                svg {
                    fill: $color-theme-primary;
                }
            }
            & .inp--search__button {
                background: $color-theme-primary;
            }
            &__footer {
                background-color: $color-theme-primary;
            }
            & .mega-menu__title {
                color: $color-theme-secondary;
                &::after {
                    background: $color-theme-secondary;
                }
            }
            & .mega-menu__sub {
                &:hover {
                    background-color: rgba($color-theme-secondary, 0.08);
                }
            }
            & .navbar__footer-sub-link {
                &:hover {
                    background-color: rgba($color-theme-secondary, 0.08);
                }
            }
            & .search {
                &__auto-result {
                    li {
                        &:hover,
                        &:focus {
                            a {
                                color: $color-theme-secondary !important;
                            }
                        }
                    }
                }
                &__live-header {
                    span {
                        color: $color-theme-secondary;
                    }
                }
            }
            &__footer-item:hover>.navbar__footer-header {
                background-color: $color-theme-secondary !important;
                color: $color-white !important;
            }
        }
        .footer {
            position: relative;
            background-color: $color-theme-primary;
            background: linear-gradient(180deg, #03060c 36.2%, #1c0d00 100%);
            margin-top: 80px;
            @include respond(laptop) {
                margin-top: 50px;
            }
            @include pseudoImage("before",
            $img-footer) {
                top: -180px;
                right: 0;
                width: 100%;
                height: 267px;
                background-repeat: repeat-x;
                @include respond(laptop-s) {
                    height: 220px;
                    top: -160px;
                }
                @include respond(tab-port) {
                    height: 200px;
                    top: -150px;
                }
                @include respond(mobile-lg) {
                    height: 180px;
                    top: -120px;
                }
                @include respond(mobile-m) {
                    top: -100px;
                }
            }
        }
        .sidebar {
            background-color: $color-theme-primary;
        }
        .show-sub-list .navbar__footer-header {
            @include respond(laptop-s) {
                background-color: $color-theme-secondary;
            }
        }
    }
}

// @include halloween-theme();