@import "../utils/mixins";
$color-theme-primary: #15347d;
$color-footer-gradient: linear-gradient(180deg, #002374 0%, #001547 100%);
$color-theme-secondary: #d4b03a;
$color-white: #fff;
$img-champange-fireworks: url("/images/theme/new-year/champange-fireworks.png");
$img-firework-solo: url("/images/theme/new-year/firework-solo.png");
$img-pseudo: url("/images/theme/new-year/pseudo-img.png");
.themes {
    &--new-year {
        .new-year {
            background: $color-theme-secondary;
        }
        .navbar {
            &__hamburger-btn {
                span {
                    background-color: $color-theme-primary;
                }
                &--clicked {
                    span {
                        &:before,
                        &:after {
                            background-color: $color-theme-primary;
                        }
                        background-color: transparent;
                    }
                }
            }
            &__logo {
                position: relative;
                @include pseudoImage("before",
                $img-champange-fireworks) {
                    width: 105px;
                    height: 105px;
                    // bottom: -32px;
                    // right: -25px;
                    bottom: -40px;
                    right: -80px;
                    transform: scale(0.7);
                    @include respond(laptop) {
                        height: 95px;
                        width: 95px;
                        // right: 0;
                        // bottom: -37px;
                        right: -76px;
                        bottom: -15px;
                    }
                    @include respond(laptop-s) {
                        height: 90px;
                        width: 90px;
                        right: -90px;
                        bottom: -25px;
                    }
                    @include respond(tab-port) {
                        height: 80px;
                        width: 80px;
                        right: -68px;
                        bottom: -15px;
                    }
                    @include respond(mobile-lg) {
                        height: 65px;
                        width: 65px;
                        right: -56px;
                        bottom: -15px;
                    }
                    @include respond(mobile-m) {
                        height: 55px;
                        width: 55px;
                        // right: -55px;
                        // bottom: -15px;
                        right: -49px;
                        bottom: -12px;
                    }
                    @media only screen and (max-width: 320px) {
                        right: -40px;
                        bottom: -12px;
                        transform: scale(0.5);
                    }
                }
                @include pseudoImage("after",
                $img-firework-solo) {
                    // bottom: -53px;
                    // left: -100px;
                    width: 100px;
                    height: 120px;
                    bottom: -40px;
                    left: -94px;
                    @include respond(laptop) {
                        display: none;
                    }
                }
            }
            &__footer-item:hover>.navbar__footer-header {
                background-color: $color-theme-secondary !important;
                color: $color-white !important;
            }
            & .btn--my-account {
                color: $color-theme-primary;
                svg {
                    fill: $color-theme-primary;
                }
            }
            & .btn--track {
                &__icon {
                    fill: $color-theme-primary;
                }
                &__label {
                    color: $color-theme-primary !important;
                }
            }
            & .btn--icon {
                svg {
                    fill: $color-theme-primary;
                }
            }
            & .inp--search__button {
                background: $color-theme-primary;
            }
            &__footer {
                background: $color-theme-primary;
            }
            & .mega-menu__title {
                color: $color-theme-secondary;
                &::after {
                    background: $color-theme-secondary;
                }
            }
            & .mega-menu__sub {
                &:hover {
                    background-color: rgba($color-theme-secondary, 0.08);
                }
            }
            & .navbar__footer-sub-link {
                &:hover {
                    background-color: rgba($color-theme-secondary, 0.08);
                }
            }
            & .search {
                &__auto-result {
                    li {
                        &:hover,
                        &:focus {
                            a {
                                color: $color-theme-secondary !important;
                            }
                        }
                    }
                }
                &__live-header {
                    span {
                        color: $color-theme-secondary;
                    }
                }
            }
        }
        .footer {
            position: relative;
            background-color: $color-theme-primary;
            background: $color-footer-gradient;
            white-space: nowrap;
            overflow: hidden;
            padding: 120px 0;
            @include respond(laptop-s) {
                padding: 110px 0;
            }
            @include respond(mobile-lg) {
                padding: 90px 0;
            }
            @include respond(mobile-lg) {
                padding: 70px 0;
            }
            &:after,
            &:before {
                position: absolute;
                display: block;
                content: "";
                background-image: $img-pseudo;
                background-size: contain;
                background-repeat: no-repeat;
                pointer-events: none;
                height: 169px;
                width: 100%;
                left: 0;
                background-repeat: repeat;
                @include respond(laptop-s) {
                    height: 150px;
                }
                @include respond(mobile-lg) {
                    height: 130px;
                }
                @include respond(mobile-m) {
                    height: 110px;
                }
            }
            &::after {
                top: -70px;
                @include respond(mobile-lg) {
                    top: -60px;
                }
                @include respond(mobile-m) {
                    top: -50px;
                }
            }
            &::before {
                bottom: -60px;
            }
        }
        .sidebar {
            background-color: $color-theme-primary;
        }
        .show-sub-list .navbar__footer-header {
            @include respond(laptop-s) {
                background-color: $color-theme-secondary;
            }
        }
        body {
            overflow-x: hidden !important;
        }
    }
}

// @include new-year-theme();