@import "../utils/mixins";

@mixin st-patrick-day-theme {
  $color-theme-primary: #0c5716;
  $color-footer-gradient: radial-gradient(50.72% 50.72% at 48.35% 50.72%, #0F9522 0%, #166D22 100%);;
  $color-theme-secondary: #378a22;
  $color-white: #fff;

  $img-logo-left: url("/images/theme/st-patrick-day/rainbox-with-golds.png");
  $img-footer-top: url("/images/theme/st-patrick-day/clover-leaves.png"); 
  $img-footer-bottom: url("/images/theme/st-patrick-day/green-clover-person.png"); 

  .st-patrick-day {
    background: $color-theme-secondary;
  }

  .navbar {
    &__hamburger-btn {
      span {
        background-color: $color-theme-primary;
      }
    }

    &__logo {
      position: relative;
      @include pseudoImage("before", $img-logo-left) {
        width: 110px;
        height: 110px;
        bottom: -54px;
        left: -106px;

        @media (max-width: 1400px) {
          width: 60px;
          height: 60px;
          bottom: -38px;
          left: unset;
          transform: scaleX(-1);
          right: -60px;
        }
        @include respond(laptop) {
          height: 53px;
          width: 53px;
          right: -52px;
          bottom: -39px;
        }
        @include respond(laptop-s) {
          height: 60px;
          width: 60px;
          right: -61px;
          bottom: -25px;
        }
        @include respond(mobile-lg) {
          height: 50px;
          width: 50px;
          right: -50px;
          bottom: -15px;
        }
     
        @include respond(mobile-m){
          height: 30px;
          width: 30px;
          right: -30px;
          bottom: -10px;
        }
        @include respond(mobile-s) {
          height: 25px;
          width: 25px;
          right: -25px;
          bottom: -5px;
          
        }
      }

    }

    & .btn--my-account {
      color: $color-theme-primary;

      svg {
        fill: $color-theme-primary;
      }
    }

    & .btn--icon {
      svg {
        fill: $color-theme-primary;
      }
    }
    & .btn--track {
      &__icon {
        fill: $color-theme-primary;
      }
      &__label {
        color: $color-theme-primary !important;
      }
    }
    & .inp--search__button {
      background: $color-theme-primary;
    }

    &__footer {
      background: $color-theme-primary;
    }

    & .mega-menu__title {
      color: $color-theme-primary;
      &::after {
        background: $color-theme-primary;
      }
    }

    & .mega-menu__sub {
      &:hover {
        background-color: rgba($color-theme-primary, 0.08);
      }
    }

    & .navbar__footer-sub-link {
      &:hover {
        background-color: rgba($color-theme-secondary, 0.08);
      }
    }

    & .search {
      &__auto-result {
        li {
          &:hover,
          &:focus {
            a {
              color: $color-theme-primary !important;
            }
          }
        }
      }

      &__live-header {
        span {
          color: $color-theme-primary;
        }
      }
    }
    &__footer-item:hover > .navbar__footer-header {
      background-color: $color-theme-secondary !important;
      color: $color-white !important;
    }
  }

  .footer {
    position: relative;
    // background-color: $color-theme-primary;
    background: $color-footer-gradient;
    white-space: nowrap;
    margin-top: 50px;
    padding-top: 130px;
    width: 100vw;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
      position: absolute;
      background: $img-footer-top;
      height: 158px;
      width: 100vw;
      top: -40px;
      left: 0;

      @include respond(tab-port) {
        height: 120px;
        background-size: auto 100%;
      }
      
      @include respond(mobile-lg) {
        height: 105px;
      }
      @include respond(mobile-m) {
        height: 95px;
      }
      @include respond(mobile-s) {
        height: 80px;
      }
    }
    
    @include respond(tab-port) {
      padding-top: 90px;
      padding-bottom: 200px;
    }
    
    @include respond(mobile-lg) {
      padding-bottom: 180px;
      padding-top: 80px;
    }
    @include respond(mobile-m) {
      padding-top: 70px;
    }

    .container {
      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -15px;
        right: 0;
        background: $img-footer-bottom no-repeat;
        background-size: 100%;
        height: 300px;
        width: 360px;
        z-index: 0;

        @include respond(desktop) {
          height: 280px;
          width: 340px;
        }
        @include respond(laptop) {
          height: 260px;
          width: 320px;
          right: unset;
          left: 0;
          transform: scaleX(-1);
        }
        
        
        @include respond(laptop-s) {
          bottom: -25px;
          height: 220px;
          width: 280px;
          transform: unset;
          left: unset;
          right: 0;
        }

        @include respond(tab-port) {
          height: 260px;
          width: 280px;
          // bottom: -30px;
        }
        @include respond(mobile-lg) {
          height: 180px;
          width: 200px;
          bottom: -15px;
          // bottom: -40px;
          // right: -40px;
        }
        @include respond(mobile-m) {
          height: 160px;
          width: 180px;
          // bottom: -40px;
          // right: -40px;
        }
      }

      // &::before {
      //   left: -40px;
      //   transform: rotateY(180deg);

      //   @include respond(laptop-s) {
      //     display: none;
      //   }
      // }

    }

    // &__payments {
    //   @include respond(tab-port) {
    //     justify-items: flex-start !important;
    //     margin: unset !important;
    //   }

    // }

    // &__credit{ 
    //   @include respond(tab-port) {
    //    text-align: start !important;
    //   }
    // }
    // &__ribbon{ 
    //   @include respond(tab-port) {
    //    text-align: start !important;
    //   }
    // }
  }
  .sidebar {
    background-color: $color-theme-primary;
  }

  .show-sub-list .navbar__footer-header {
    @include respond(laptop-s) {
      background-color: $color-theme-secondary;
    }
  }

  body {
    overflow-x: hidden !important;
  }
}

@include st-patrick-day-theme();
