@import "../utils/mixins";
.themes--valentines {
    $color-theme-primary: #890023;
    $color-footer-gradient: linear-gradient(180deg, #4B0013 0%, #9B1235 100%);
    $color-theme-secondary: #a7002a;
    $color-white: #fff;
    $img-logo-left: url("/images/theme/valentines/cupid.png");
    $img-logo-right: url("/images/theme/valentines/heart-fly.png");
    $img-footer-top: url("/images/theme/valentines/cupid-with-heart.svg");
    $img-footer-bottom: url("/images/theme/valentines/cloud.png");
    //   $img-leave-footer: url("/images/theme/thanks-giving/leaves-footer.webp");
    .valentines {
        background: $color-theme-secondary;
    }
    .navbar {
        &__hamburger-btn {
            span {
                background-color: $color-theme-primary;
            }
            &--clicked {
                span {
                    &:before,
                    &:after {
                        background-color: $color-theme-primary;
                    }
                    background-color: transparent;
                }
            }
        }
        &__logo {
            position: relative;
            @include pseudoImage("before",
            $img-logo-left) {
                width: 100px;
                height: 100px;
                top: -20px;
                left: -95px;
                @include respond(desktop) {
                    left: unset;
                    top: -17px;
                    right: -17%;
                    height: 60px;
                    width: 60px;
                }
                @include respond(laptop) {
                    right: -15%;
                    height: 54px;
                    width: 54px;
                }
                @include respond(laptop-s) {
                    right: -28%;
                }
                @include respond(tab-port) {
                    height: 55px;
                    width: 55px;
                    top: -15px;
                    right: -60px;
                }
                @include respond(mobile-lg) {
                    height: 50px;
                    width: 50px;
                    right: -48px;
                }
                @include respond(mobile-ms) {
                    height: 40px;
                    width: 40px;
                    right: -35px;
                }
                @include respond(mobile-m) {
                    height: 28px;
                    width: 28px;
                    right: -23px;
                }
            }
            @include pseudoImage("after",
            $img-logo-right) {
                top: -28px;
                right: -17%;
                width: 55px;
                height: 55px;
                @include respond(desktop) {
                    right: -23%;
                    top: -24px;
                    height: 30px;
                    width: 30px;
                }
                @include respond(laptop) {
                    right: -23%;
                }
                @include respond(laptop-s) {
                    right: -38%;
                }
                @include respond(tab-port) {
                    right: -100px;
                    height: 45px;
                    width: 45px;
                }
                @include respond(mobile-lg) {
                    right: -80px;
                    top: -20px;
                    height: 40px;
                    width: 40px;
                }
                @include respond(mobile-ms) {
                    right: -54px;
                    top: -18px;
                    height: 25px;
                    width: 25px;
                }
                @include respond(mobile-m) {
                    height: 10px;
                    width: 10px;
                    right: -29px;
                    top: -13px
                }
            }
        }
        & .btn--my-account {
            color: $color-theme-primary;
            svg {
                fill: $color-theme-primary;
            }
        }
        & .btn--icon {
            svg {
                fill: $color-theme-primary;
            }
        }
        & .btn--track {
            &__icon {
                fill: $color-theme-primary;
            }
            &__label {
                color: $color-theme-primary !important;
            }
        }
        & .inp--search__button {
            background: $color-theme-primary;
        }
        &__footer {
            background: $color-theme-primary;
        }
        & .mega-menu__title {
            color: $color-theme-primary;
            &::after {
                background: $color-theme-primary;
            }
        }
        & .mega-menu__sub {
            &:hover {
                background-color: rgba($color-theme-primary, 0.08);
            }
        }
        & .navbar__footer-sub-link {
            &:hover {
                background-color: rgba($color-theme-secondary, 0.08);
            }
        }
        & .search {
            &__auto-result {
                li {
                    &:hover,
                    &:focus {
                        a {
                            color: $color-theme-primary !important;
                        }
                    }
                }
            }
            &__live-header {
                span {
                    color: $color-theme-primary;
                }
            }
        }
        &__footer-item:hover>.navbar__footer-header {
            background-color: $color-theme-secondary !important;
            color: $color-white !important;
        }
    }
    .footer {
        position: relative;
        // background-color: $color-theme-primary;
        background: $color-footer-gradient;
        white-space: nowrap;
        width: 100vw;
        overflow: hidden;
        &::before,
        &::after {
            display: block;
            content: "";
            position: absolute;
            bottom: -40px;
            background: $img-footer-bottom no-repeat;
            height: 260px;
            width: 500px;
            opacity: .9;
            @include respond(laptop-s) {
                height: 240px;
                width: 460px;
                bottom: -60px;
            }
            @include respond(tab-port) {
                height: 220px;
                width: 400px;
            }
            @include respond(mobile-ms) {
                height: 200px;
                width: 380px;
                bottom: -40px;
            }
            @include respond(mobile-m) {
                height: 180px;
                width: 300px;
                bottom: -30px;
            }
        }
        &::before {
            transform: scaleX(-1);
            left: -160px;
        }
        &::after {
            right: -150px;
        }
        @include respond(laptop-s) {
            padding-top: 160px;
        }
        @include respond(tab-port) {
            padding: 130px 0;
        }
        @include respond(mobile-lg) {
            padding: 85px 0;
        }
        @include respond(mobile-m) {
            padding: 65px 0;
        }
        @include respond(mobile-s) {
            padding: 45px 0;
        }
        .container {
            &::before,
            &::after {
                display: block;
                content: "";
                position: absolute;
                background: $img-footer-top no-repeat;
                height: 370px;
                top: -120px;
                width: 460px;
                opacity: .9;
                @media (max-width: 1800px) {
                    top: -140px;
                    transform: translateX(-10%);
                    opacity: .4
                }
                @include respond(laptop-s) {
                    height: 340px;
                    width: 450px;
                    opacity: .9;
                }
                @include respond(tab-port) {
                    height: 280px;
                    width: 400px;
                    top: -100px;
                }
                @include respond(mobile-lg) {
                    height: 240px;
                    width: 360px;
                    top: -100px;
                }
                @include respond(mobile-ms) {
                    height: 200px;
                    width: 300px;
                    top: -80px;
                }
                @include respond(mobile-m) {
                    height: 160px;
                    width: 260px;
                    top: -60px;
                }
                @include respond(mobile-m) {
                    height: 140px;
                    width: 240px;
                    top: -50px;
                }
            }
            &::before {
                left: 0;
                // @include respond(mobile-lg) {
                //   left: -20px;
                // }
            }
            &::after {
                transform: scaleX(-1);
                right: -20px;
            }
            @include respond(tab-port) {
                margin-top: 40px;
            }
        }
    }
    .sidebar {
        background-color: $color-theme-primary;
    }
    .show-sub-list .navbar__footer-header {
        @include respond(laptop-s) {
            background-color: $color-theme-secondary;
        }
    }
    body {
        overflow-x: hidden !important;
    }
}