.desktop-only {
    .product-holder {
        width: 33.33% !important;
    }
}

.ribbon-hor-left {
    padding-right: 25px !important;
}

.ribbon-hor-right {
    padding-left: 25px !important;
}

.product-image-box img {
    max-width: 100%;
}

.site-center {
    &:after {
        display: block;
        clear: both;
        content: "";
        width: 100%;
    }
}

.product-batch-box {
    .stock-control-right {
        padding-right: 20px;
    }
    .review-box {
        .rw-top-box {
            div {
                box-sizing: border-box;
            }
        }
    }
}

.mob-search {
    @include respond(tab-land) {
        position: relative;
    }
}

.mob-search input[type="search"] {
    @include respond(tab-land) {
        width: 100%;
        right: 0;
        &:focus,
        &:active {
            width: 220%;
        }
    }
    @include respond(mobile-m) {
        font-size: 16px;
    }
}

.site-center {
    overflow: unset !important;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
}

#securedPane {
    z-index: 100;
}

#bulkAddtoCart {
    @include respond(tab-port) {
        display: none;
    }
}

.site_chart {
    display: inline-block !important;
    height: auto !important;
    color: #44414f;
}

.badge-section {
    .shopperlink {
        @include respond(mobile-lg) {
            display: block;
            height: 130px;
            margin-top: 15px;
            img {
                height: 100%;
            }
        }
    }
    @include respond(mobile-lg) {
        table {
            width: 100%;
            tr {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

#custommob-cart {
    display: none;
    @include respond(laptop-s) {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .totel-value {
        position: unset !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 10px;
        span {
            top: 10px !important;
            right: 10px !important;
            left: auto;
            border-radius: 10px !important;
        }
    }
}

@media (max-width: 769px) and (min-width: 359px) {
    .mobileShowTrackLink {
        display: none !important;
    }
}

.faq-tabbing-holder {
    .tab-info-holder {
        display: none;
        a {
            display: inline !important;
            width: auto !important;
            padding: 0 !important;
            background: transparent !important;
            /* outline: 1px solid; */
            line-height: inherit !important;
            margin-right: 5px;
            font-weight: bold;
        }
    }
}

// fixes found for detail page oct 2 added css
.product-image-detail {
    max-width: 480px;
    margin-top: 0;
    .split-img {
        &:after {
            display: block;
            clear: both;
            content: "";
        }
    }
    .detail-thumb {
        .imgsidebar {
            justify-content: center;
            @include respond(tab-port) {
                justify-content: flex-start;
            }
        }
    }
    .orderallcolorssizes {
        position: relative;
        margin-bottom: 10px;
        height: auto !important;
        clear: both;
        a {
            display: inline-block;
            margin: 0;
            top: inherit !important;
        }
        >div {
            z-index: 9;
            left: 0 !important;
            right: 0 !important;
            margin: auto !important;
            top: 40px !important;
        }
    }
}

.pdetail {
    max-width: 714px;
    .descrption.prod-desc-wrapper {
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        .prod-desc-small {
            height: auto;
            min-height: 50px;
            ul {
                box-sizing: border-box;
            }
        }
    }
    .secured {
        &.old-secured {
            width: 100% !important;
            padding: 0 !important;
            margin-bottom: 5px;
            button {
                margin: auto;
            }
        }
    }
}

.product-batch-box {
    .loadmore-button-holder {
        display: block;
        width: 100%;
        display: inline-block;
    }
}

.header-outer {
    .nav-main {
        ul {
            min-width: 200px;
        }
    }
    ul#exp-drop {
        .nav-row {
            display: flex;
        }
    }
}

.cart-main-right-box {
    .cart-summary-tab {
        @include respond(mobile-lg) {
            width: 100%;
        }
    }
}

.product-cart-box {
    .sp-offer {
        padding: 10px;
        margin-bottom: 0;
        border-bottom: 0;
        @include respond(mobile-lg) {
            border-bottom: 1px solid #ddd;
        }
    }
    .cart-tab-control {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include respond(mobile-lg) {
            flex-wrap: wrap;
            a {
                flex: 0 0 100%;
                max-width: 100%;
            }
            button {
                font-size: 0.7em;
                width: 45% !important;
                padding: 15px !important;
            }
        }
    }
}

.cart-main-right-box {
    .cart-summary-tab {
        @include respond(laptop-s) {
            table {
                width: 100% !important;
            }
            h3 {
                width: 100% !important;
            }
        }
        @include respond(laptop-s) {
            select#filtercartrows {
                position: inherit !important;
                width: 100% !important;
                max-width: 100% !important;
                display: block;
            }
        }
    }
}

@include respond(laptop-s) {
    .product-cart-box {
        .cart-main-right-box {
            width: 63% !important;
        }
        .cart-sidebar {
            width: 35% !important;
        }
    }
}

@include respond(tab-port) {
    .product-cart-box {
        .cart-main-right-box {
            width: 100% !important;
        }
        .cart-sidebar {
            width: 100% !important;
        }
    }
}

.weekly-sale {
    h4 {
        a {
            text-decoration: none;
            color: $color-green;
            font-size: 21px;
            line-height: 1.5 !important;
            background: #ffffe0;
        }
    }
}

.product-color-box {
    ul.all-colors {
        &.shown {
            li {
                margin-right: 5px;
            }
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 100%;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    font-size: 0;
    &::after {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        display: block;
        font-size: 10px;
        width: 1em;
        height: 1em;
        margin-top: -0.5em;
        animation: spinner 1500ms infinite linear;
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    }
}

@include respond(mobile-lg) {
    .product-holder .product-image-box {
        padding: 0;
    }
    #custommob-cart .totel-value span {
        border-radius: 5px !important;
    }
}

@media only screen and (max-width: 900px) {
    .recent-order-table-box table th {
        font-size: 11px;
    }
}

@media only screen and (max-width: 768px) {
    .recent-order-table-box table th {
        font-size: 11px;
    }
    .recent-order-table-box table tr td {
        min-height: 45px;
        &:last-child {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            a {
                font-size: 1.3em;
            }
        }
    }
    .account-main-right {
        .full-width-box {
            width: 100%;
        }
    }
}

.nav {
    .site-center {
        >ul {
            position: relative;
        }
    }
}

.clrtext {
    position: absolute !important;
    right: 29px !important;
    font-size: 13px;
    top: 8px;
}

// transition sets
.nav ul li a,
li.mega-menu__sub,
.product-holder {
    @include transition;
}

.nav ul ul {
    min-width: 200px;
}

.checkout-box .c-code input[type="text"] {
    float: none !important;
    width: 66% !important;
}

.subscribe-box input[type="checkbox"] {
    width: auto !important;
    float: left !important;
}

.subscribe-box {
    .checkout-row-half {
        span {
            display: flex;
            align-items: flex-start;
            input {
                margin-right: 8px;
            }
        }
    }
}

input.rating.hide {
    display: none;
}

.fetch_orders_scr {
    margin-bottom: 30px;
    &:after {
        display: block;
        clear: both;
        width: 100%;
        content: "";
    }
}

#frmCheckoutS {
    .checkout-row-full input {
        @include respond(laptop-s){
            width: 60%;
        }
        @include respond(tab-port) {
            width: 100%;
        }
    }
.checkout-row-half {
    @include respond(laptop-s) {
        width: 100%;
        margin-bottom: 10px;
    }
}}

@media only screen and (max-width: 1200px) {
    .site-center {
        max-width: 100% !important;
        width: 100%;
        padding: 0 2%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 1000px) {
    .product-container .product-row:first-child>div {
        border-top: 1px solid #dedede;
    }
}

.product-box {
    .product-row {
        >h5 {
            margin-bottom: 14px;
        }
    }
}

.checkout-box .c-code input#your_coupon {
    padding: 0 15px;
}

.site-sidebar {
    .sp-offer {
        margin-bottom: 25px;
        margin-top: 10px;
        padding-bottom: 10px;
        h4 {
            box-sizing: border-box;
            margin: 0 !important;
            padding: 5px 13px;
        }
        h3 {
            padding: 5px 10px;
            box-sizing: border-box;
        }
        h5 {
            padding: 1px 8px;
        }
    }
    >a {
        display: block;
        width: 100%;
        // background: #44414f;
        text-align: center;
        padding: 5px;
        margin: 3px 0;
        clear: both;
        box-sizing: border-box;
    }
}

#custom-track {
    display: none;
    @include respond(laptop-s) {
        display: block;
    }
}

.pull-right {
    float: right;
}

.shipbillinfo>div h2 {
    padding: 0px;
    margin-bottom: 5px;
    color: #282828;
    font-size: 18px;
}

.shipbillinfo .account-address-box {
    width: 25%;
}

.shipbillinfo .account-address-box2 {
    width: 25%;
}

.shipbillinfo .account-address-box3 {
    width: 30%;
    float: left;
}

.shipbillinfo .account-address-box4 {
    width: 20%;
    padding: 10px;
    padding-bottom: 0px !important;
    margin: 0px;
    float: right;
    box-sizing: border-box;
}

.shipbillinfo .account-address-box,
.shipbillinfo .account-address-box2,
.shipbillinfo .account-address-box3,
.shipbillinfo .account-address-box4 {
    padding: 10px;
    padding-bottom: 0px !important;
    margin: 0px;
    box-sizing: border-box;
}

#shipcostid {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    color: #090;
    line-height: 25px;
    font-size: 17px;
}

.account-content-holder p {
    margin-left: 0;
    padding: 0;
}

.confirm-tb table span {
    padding: 0 !important;
    margin-left: 0 !important;
}

.confirm-tb table tr td ul {
    padding: 10px !important;
}

.out-of-stock {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    // background: rgba(red, 0.1);
    outline: 2px solid red !important;
    &::after,
    &::before {
        position: absolute;
        height: 100%;
        width: 2px;
        top: 0;
        left: 50%;
        background: red;
        z-index: 2;
        content: "";
    }
    &::after {
        transform: translateX(-50%) rotate(-45deg);
    }
    &::before {
        transform: translateX(-50%) rotate(45deg);
    }
}

.all-colors li {
    position: relative;
}

.img-loading {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    height: 500px;
    width: 100%;
    left: 0;
    right: 0;
}

.img-loading img {
    width: 150px;
}

.product-image {
    position: relative;
    width: 100%;
}

.split-img {
    width: 100%;
}

.product-image-detail {
    position: relative;
    min-height: 500px;
    @include respond(mobile-m) {
        min-height: 320px;
    }
}

.product-detail-box {
    display: flex;
}

@media screen and (max-width: 768px) {
    .product-detail-box {
        flex-direction: column;
    }
    .img-loading img {
        width: 100px;
    }
}

@media screen and (max-width: 400px) {
    .img-loading img {
        width: 80px;
    }
}

@media screen and (max-width: 768px) {
    .pop-up-holder-stock {
        width: 100% !important;
    }
}

#btnShowSentStockEmail {
    width: 200px;
    text-align: left;
    border-right: 1px solid rgba(0, 0, 0, 0.75);
    @include respond(laptop) {
        border-right: none;
        text-align: center;
        margin-bottom: 0;
    }
}

#addtoSCartbtn {
    text-align: center;
    @include respond(laptop) {
        width: 100%;
    }
}

.pro-add {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-end;
    a {
        margin-right: 5px;
        @include respond(laptop) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    @include respond(laptop) {
        flex-direction: column-reverse;
        width: 100% !important;
        padding: 0 10px;
    }
}

.secured {
    margin-top: 10px;
    @include respond(laptop) {
        padding-right: 0 !important;
    }
    @include respond(tab-port) {
        margin-bottom: 10px;
    }
}

@include respond(laptop) {
    #securedPane {
        right: 50% !important;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}

.secured__btn {
    @include respond(laptop) {
        margin: 0 auto;
    }
}

#prod-detail .available {
    font-size: 15px !important;
}

#prod-detail .variant {
    box-sizing: border-box;
    @include respond(laptop) {
        padding-right: 15px !important;
    }
}

#prod-detail input {
    width: 90px !important;
    font-size: 18px !important;
    padding: 10px 0 !important;
    @include respond(laptop) {
        width: 70px !important;
    }
    @include respond(mobile-lg) {
        width: 70px !important;
        font-size: 16px !important;
    }
    @include respond(mobile-m) {
        width: 65px !important;
        font-size: 17px !important;
    }
    @include respond(mobile-s) {
        width: 60px !important;
    }
}

.mob-search input[type="search"] {
    @include respond(mobile-lg) {
        font-size: 18px !important;
        padding: 10px 0 10px 10px !important;
        height: 40px !important;
    }
}

.mob-search button {
    @include respond(mobile-lg) {
        height: 40px !important;
        width: 40px !important;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width:768px) {
    .checkout-box {
        .checkout-pay-half {
            width: 100% !important;
        }
    }
}