/* CSS used here will be applied after bootstrap.css */
// .AT3CListWrap {
  // width: auto;
  // // height: 80vh;
  // background: $color-white;
  // display: none;
  // border-top-left-radius: 5px;
  // border-top-right-radius: 5px;
  // background-color: $color-black;
  // overflow: auto;
  // padding: 0 22px;
  // border-bottom: 7px solid $color-white;
  // border-left: 5px solid transparent;
  // border-right: 5px solid transparent;
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  // background-color: $color-white;
  // border: 1px solid $color-gray2;
  // border-radius: 5px;
  // position: absolute;
  // left: -196px;
  // overflow: auto !important;
  // padding: 15px 22px;
  // z-index: 10;
  // font-size: 14px;
  // height: auto;
  // max-height: 70vh;

  // a {
  //   font-size: 16px;
  //   color: $color-black;
  // }

  // ul {
  //   li:first-child {
  //     padding: 0 0;
  //     font-size: 12px !important;
  //   }
  //   li {
  //     float: none;
  //     padding: 0 0;
  //     font-size: 12px !important;
  //     margin-right: 8px;
  //   }
  // }
  // img {
  //   width: 70px;
  //   height: 70px;
  // }
  // button {
  //   background: $color-gray none repeat scroll 0 0;
  //   border: medium none;
  //   border-radius: 4px;
  //   color: $color-white;
  //   font-size: 14px;
  //   font-weight: 700;
  //   padding: 8px 8px;
  //   text-align: center;
  //   text-transform: uppercase;
  // }
// }
.siderr {
  display: inline-block;
  vertical-align: top;
}
.empty-cart-message {
  padding: 20px 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
@media screen and (min-width: 1000px) {
  #custommob-cart {
    display: none;
  }
  #custom-cart {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  #custom-cart {
    display: none;
  }
  #custommob-cart {
    display: block;
  }
}
