.search {
    display: none;
    position: absolute;
    width: 950px;
    background: $color-white;
    z-index: 1000;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    text-align: left;

    @media (max-width: 79em) {
      right: -100%;
    }

    @include respond(laptop-s) {
      position: absolute;
      width: 95%;
      right: 10px;
      top: 130px;
    }

    @include respond(tab-land) {
      width: 270px;
      top: 45px;
    }

    @include respond(mobile-lg) {
      border-radius: 1px;
    }

    @include respond(mobile-m) {
      width: 210px;
    }

    &__live {
      width: 72%;
      padding: 20px 20px 30px 20px;

      @include respond(tab-land) {
        display: none;
      }
    }

    &__default-exit,
    &__auto-exit {
      position: absolute !important;
      right: 10px !important;
      top: 10px !important;
      color: #000 !important;
      background: none !important;
      font-weight: 700 !important;
      font-size: 18px !important;
      border: none !important;
      z-index: 10 !important;
      cursor: pointer !important;
    }

    &__default {
      box-shadow: 0 0 10px rgba($color-black, 0.1);
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50px;
      width: 250px;
      background: $color-white;
      z-index: 10;
      padding: 10px;
      border: 1px solid rgba($color-black, 0.2);
      box-shadow: 0 0 10px rgba($color-black, 0.1);
      border-radius: 3px;
      z-index: 1000;

      @include respond(laptop-s) {
        width: 220px;
        top: 125px;
        right: 15px;
      }

      @include respond(tab-land) {
        width: 200px;
        top: 45px;
        right: 10px;
      }

      @include respond(mobile-m) {
        width: 160px;
      }

      h3 {
        font-size: 16px;
        padding: 10px 0;
        margin-bottom: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
      }

      a {
        display: block;
        color: $color-gray3;
        padding: 5px 5px;

        @include respond(laptop-s) {
          padding: 8px 5px;
        }

        @include respond(mobile-lg) {
          font-size: 15px;
        }
      }
    }

    &__popular {
    }

    &__recent {
    }

    &__help {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      border-top: 1px solid $color-white-8;
    }

    &__help-title {
      font-size: 20px;
      color: $color-gray4;
    }

    &__help-list {
      display: flex;
      flex-direction: row;
      margin-top: 15px;
    }

    &__help-items {
      border: 1px solid $color-gray2;
      color: $color-gray;
      border-radius: 50px;

      a {
        display: flex;
        padding: 7px 20px;
        font-size: 16px;
        color: $color-gray;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__live-header {
      font-size: 12px;
      margin-bottom: 15px;

      h1 {
        text-align: left;

        span {
          color: $color-darkblue;
        }
      }
    }

    &__live-list {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 20%;
      }
    }

    &__live-btn {
      display: flex;
      color: $color-white !important;
      background-color: $color-darkblue !important;
      padding: 10px 20px;
      border-radius: 3px;
      margin-top: 10px;
      align-items: center;
      justify-content: center;
      margin-top: auto;
    }

    &__auto {
      width: 260px;
      padding: 10px;
      background-color: $color-white3;
      min-height: 320px;

      @include respond(laptop-s) {
        width: 35%;
      }

      @include respond(tab-land) {
        width: 100%;
      }

      @include respond(tab-port) {
        background: $color-white;
        width: 100%;
        padding: 8px;
        padding-top: 0;
      }
    }

    &__auto-header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    &__auto-text {
      font-size: 18px;
      margin-right: auto;

      span {
        font-weight: 600;
        color: $color-darkblue;
      }
    }

    &__auto-result {
      position: relative;
      width: 100%;
      padding: 10px 5px;

      @include respond(tab-land) {
        padding-top: 0;
      }

      li {
        width: 100%;
        text-align: left;

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        &:hover,
        &:focus {
          a {
            @include hoverText();
          }
        }
      }

      a {
        display: flex;
        width: 100%;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 500;
        font-size: 18px;
        text-align: left !important;

        @include respond(mobile-m) {
          font-size: 16px;
        }

        @include respond(mobile-m) {
          font-size: 15px;
        }

        span {
          display: inline-block;
          margin-left: auto;
          font-weight: 400;
          font-size: 15px;
        }
      }
    }
  }