.brand__message {
    flex: 0 0 100%;
    max-width: 100%;
    // min-height: 20px;
    h2 {
        border: 0;
        padding: 0;
    }
    h5 {
        span {
            min-height: 10px;
        }
    }
}

.brand-offset-top {
    margin-top: -41px;

    @include respond(laptop-s) {
        margin-top: 0;
    }
}

.brands-product-display {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    #product-row1 {
        .result-info {
            // min-height: 30px;
            @media only screen and (min-width: 1001px) {
                display: flex;
                >div {
                    margin-right: 25px;
                }
            }
        }
    }
    &__select-option {
        position: absolute;
        top: 0;
        right: 0;
        @media only screen and (max-width: 1000px) {
            position: inherit;
            top: inherit;
            right: inherit;
            margin-top: 5px;
        }
    }
    @media only screen and (min-width: 1001px) {
        &__select-option {
            // position: absolute;
            // right: 0;
            // width: 132px;
            height: 45px;
            top: -5px;
            right: -8px;
        }
    }
}