#product-row1 {
    .result-info {
        margin-bottom: 10px;
        margin-top: 10px;
        border: 1px solid $color-gray-border !important;
        @include respond(mobile-lg) {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .col-lg-3.col-md-4.col-sm-6 {
        margin-bottom: 15px;
        @media only screen and (max-width: 480px) {
            margin-bottom: 8px;
        }
    }
}

#product-row1 {
    .result-info {
        border: 0 !important;
        padding: 0;
    }
}

.brands-products-display {
    margin: 0;
    &__result {
        .result-info {}
        .result-info-left,
        .result-info-right {
            font-size: 14px !important;
        }
    }
    &__result {
        padding: 0;
    }
    &__column {
        padding-left: 0;
        padding-right: 0;
        padding: 3px;
        @media only screen and (max-width: 1600px) {
            flex: 0 0 20%;
            max-width: 20%;
        }
        @media only screen and (max-width:1500px) {
            flex: 0 0 25%;
            max-width: 25%;
        }
        @media only screen and (max-width:800px) {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
        @include respond(mobile-lg) {
            padding: 5px;
        }
    }
}

.pagination {
    display: flex;
    li {
        @include respond(mobile-lg) {
            padding: 10px 15px;
            font-size: 16px;
        }
        @include respond(mobile-ms) {
            padding: 8px 12px;
            font-size: 14px;
            margin-right: 3px;
        }
        @include respond(mobile-s) {
            padding: 6px 10px;
            font-size: 13px;
        }
    }
}

.pagnos {
    margin: 0 !important;
    padding: 0 !important;
}

// targeting element base on this parent class
.main-content--category {
    .brands-products-display {
        padding-top: 45px;
        .brands-products-display__result {
            display: none !important;
        }
        .pagnos {
            display: none !important;
        }
        &.loading-spin {
            position: relative;
            &:after {
                width: 50px;
                height: 50px;
                // position: absolute;
                bottom: 0;
                content: '';
                display: block !important;
                left: 0;
                right: 0;
                margin: auto;
                background: url("../css/ajax-loader.gif") center no-repeat!important;
                background-size: cover !important;
            }
        }
    }
    .scroll-top {
        position: fixed;
        bottom: 85px;
        width: 55px;
        height: 55px;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        width: 55px;
        height: 55px;
        transform: rotate(-180deg);
        border-radius: 100%;
        right: 15px;
        -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2);
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2);
        &--scrolling {
            display: flex !important;
            background: $color-white;
            z-index: 99;
            color: #282829 !important;
            svg {
                fill: #282829;
            }
        }
    }
}