#product-row1 {
    .result-info {
        margin-bottom: 10px;
        margin-top: 10px;
        border: 1px solid $color-gray-border !important;
    }
    .col-lg-3.col-md-4.col-sm-6 {
        margin-bottom: 15px;
        @media only screen and (max-width: 480px) {
            margin-bottom: 8px;
        }
    }
}

#product-row1 {
    .result-info {
        border: 0 !important;
        padding: 0;
        @media only screen and (max-width: 1000px) {
            padding: 0 10px;
        }
    }
}

.brands-products-display {
    margin: 0;
    &__result {
        padding: 0;
    }
    &__column {
        padding-left: 0;
        padding-right: 0;
        padding: 3px;
        @media only screen and (max-width: 1600px) {
            flex: 0 0 20%;
            max-width: 20%;
        }
        @media only screen and (max-width:1500px) {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}