.brand__message {
    flex: 0 0 100%;
    max-width: 100%;
    // min-height: 20px;
    h2 {
        border: 0;
        padding: 0;
    }
    h5 {
        span {
            min-height: 10px;
        }
    }
}

.brand-offset-top {
    margin-top: -41px;
    @include respond(laptop-s) {
    }
    margin-top: 0;
}

.brands-product-display {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    #product-row1 {
        .result-info {
            // min-height: 30px;
            @media only screen and (min-width: 1001px) {
                display: flex;
                >div {
                    margin-right: 25px;
                }
            }
            @media only screen and (max-width: 1000px) {
                padding: 0 5px !important;
            }
        }
    }
    &__button {

        #loadMoreStyles {
            // display: none;
            background: #F46E20 !important;
            text-transform: unset !important;
            margin: 20px 0;
            @include respond(tab-port) {
                display: inline-block;
            }

            @include respond(mobile-lg) {
                padding: 8px 16px;
                font-size: 14px;
            }
        }
        .col-lg-12 {
            text-align: center;
        }
    }
    &__select-option {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        @media only screen and (max-width: 1000px) {
            position: inherit;
            top: inherit;
            right: inherit;
            margin-top: 5px;
            padding: 0 5px;
        }
        select {
            border-radius: 5px;
            line-height: 25px;
            color: $color-gray3;
            height: 40px !important;
            @include respond(mobile-lg) {
                font-size: 16px;
                height: auto !important;
            }
        }
    }
    @media only screen and (min-width: 1001px) {
        &__select-option {
            // position: absolute;
            // right: 0;
            // width: 132px;
            height: 45px;
            top: -5px;
            right: -8px;
        }
    }
}

.brands-products-display {
    @media only screen and (max-width: 1000px) {
        &.row {
            padding: 0 3px !important;
        }
    }
}

@media only screen and (max-width:1100px) {
    nav.navbar.mb-3 {
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width:1000px) and (min-width:601px) {
    .col-10.main-content__right-content {
        .product-container {
            >div {
                padding: 0 5px;
            }
        }
    }
}