@import "../utils/colors";
// @import "fonts";
@import "../utils/mixins";

/*Start  - Add a lock under our checkout buttons and our add to cart - Roi - 09/03/2020*/

.carttotal .secured {
    box-sizing: border-box;
    justify-content: center;
    padding-top: 10px;
    width: 100% !important;
}

@include respond(tab-port) {
    .carttotal #securedPane {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
}


/*End  - Add a lock under our checkout buttons and our add to cart - Roi - 09/03/2020*/


/*Start - Secure Checkout allows hiding if click outside - Roi - 09/17/2020*/

#securedPane .exit {
    position: absolute;
    right: 13px;
    top: 13px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
     :hover {
        color: $color-red;
    }
    @include respond(mobile-lg) {
        #securedPane .exit {
            font-size: 16px;
        }
    }
}


/*End - Secure Checkout allows hiding if click outside - Roi - 09/17/2020*/


/*Start - New right side checkout experience - Roi - 09/18/2020*/

.chk-carrier {
    &__info-message {
        display: flex;
        flex-direction: column;
        border: 1px solid $color-lightblue3;
        background-color: rgba(33, 150, 243, 0.05);
        color: $color-lightblue3;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        button {
            background-color: $color-lightblue3;
            padding: 8px;
            border-radius: 3px;
            font-size: 14px;
            text-transform: uppercase;
            color: $color-white;
        }
    }
    &__postal {
        a {
            font-size: 12px;
            text-decoration: underline;
        }
    }
    &__courier-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    &__courier-item {
        display: flex;
        width: 100%;
        label {
            position: relative;
            display: flex;
            // padding: 15px 10px;
            width: 100%;
            padding: 15px 0px;
            padding-bottom: 0;
        }
        input[type="radio"] {
            margin: 0;
            margin-top: 3px;
        }
        input:checked~.chk-active {
            border-color: $color-blue;
        }
        & .chk-active {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border: 1px solid rgba($color-black, 0.2);
            z-index: 0;
            border-radius: 3px;
        }
         :not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__courier-title {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        padding-right: 4px;
        font-size: 16px;
        span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-weight: 600;
        }
        img {
            height: 20px;
            margin-left: 5px;
        }
    }
    &__courier-subtitle {
        margin-top: 5px;
        font-size: 13px;
        font-style: italic;
    }
    &__courier-price {
        margin-left: auto;
        font-size: 18px;
        font-weight: 700;
    }
    &__arrival {
        margin: 20px 0;
    }
    &__arrival-item {
        display: flex;
        span {
            font-weight: 700;
            font-size: 16px;
        }
    }
    &__btns {
        display: flex;
        flex-wrap: wrap;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 10px;
        padding: 12px 10px;
        background: $color-white;
        img {
            height: 18px;
        }
    }
    &__separator {
        position: relative;
        border-bottom: 1px solid $color-white-11;
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        span {
            position: absolute;
            background: $color-white;
            bottom: -10px;
            padding: 0 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &--btn-paypal {
        margin-left: auto;
        background: $color-yellow;
    }
    &--btn-gpay {
        background-color: $color-white;
        border: 1pt solid $color-dark3;
    }
    &--btn-chk {
        width: 100%;
        margin-top: 5px;
        background-color: $color-gray;
        color: $color-white;
    }
}

.chk-summary__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.cart-summary-tab h3 {
    border: none !important;
    width: auto !important;
}

.chk-title-sm {
    font-weight: 500;
    margin-right: 2px;
    font-size: 14px;
}

.cart-sidebar {
    display: flex;
    flex-direction: column;
    width: 28%;
    padding: 0;
    border: none;
    margin-left: auto;
    h3 {
        margin-bottom: 10px;
    }
    &>*:not(:last-child) {
        margin-bottom: 20px;
    }
    &__item {
        border: 1px solid $color-white-16;
        padding: 10px;
        border-radius: 5px;
    }
    &__item {
        border: 1px solid #c9c9c9;
        padding: 10px;
        border-radius: 5px;
        &--label-cart-total {
            #shipcostid {
                display: none !important;
            }
        }
        &--label-carrier {
            .chk-carrier__courier-item .chk-active {
                border: 0 !important;
            }
            >h3 {
                display: none;
            }
            .chk-title.mt-2 {
                margin-top: 0 !important;
            }
        }
    }
}

.cart-main-right-box {
    width: 70% !important;
}

.color-green {
    color: $color-green;
}

button,
button:active {
    border: none;
    cursor: pointer;
}

.mb-1 {
    margin-bottom: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mt-1 {
    margin-top: 10px;
}

.c-code button {
    padding: 10px !important;
    margin-top: 5px !important;
}

.chk-title {
    font-size: 14px;
    font-weight: 600;
}

.chk-select {
    display: block;
    width: 130px !important;
    font-size: 12px;
    height: auto;
}

@include respond(tab-port) {
    .cart-sidebar {
        width: 100% !important;
        margin-top: 20px;
    }
    .cart-main-right-box {
        width: 100% !important;
    }
}
/*End - New right side checkout experience - Roi - 09/18/2020*/

// This section of css was came from the cart.php
.green-arrow {
    background-position: 95% 9px !important;
    background-repeat: no-repeat !important;
}


/*Start  - Add a lock under our checkout buttons and our add to cart - Roi - 09/03/2020*/

.secured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
    position: relative;
}

@media (max-width: 48em) {
    .secured {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 0;
    }
}

.secured__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    border: none;
    font-size: 16px;
    outline: none;
    align-items: center;
    color: #012f67;
    font: inherit;
    font-weight: 500;
    cursor: pointer;
}

.secured__btn span {
    font-size: 18px;
    color: #22b14c;
    margin-right: 5px;
}

.secured__btn:hover {
    text-decoration: underline;
}

.scr-show {
    display: block !important;
}

.carttotal .secured {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
}

@media (max-width: 48em) {
    .carttotal #securedPane {
        left: 50% !important;
        -webkit-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
    }
}

@media (max-width: 48em) {
    .pro-add {
        width: 100% !important;
    }
}

.pro-add #addtoSCartbtn {
    line-height: 1 !important;
    padding: 15px;
}


/*End  - Add a lock under our checkout buttons and our add to cart - Roi - 09/03/2020*/


/*Start - Secure Checkout allows hiding if click outside - Roi - 09/17/2020*/

#securedPane .exit {
    position: absolute;
    right: 13px;
    top: 13px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

#securedPane .exit:hover {
    color: red;
}

@media (max-width: 37.5625em) {
    #securedPane .exit {
        font-size: 16px;
    }
}

#securedPane {
    position: absolute;
    display: none;
    width: 250px;
    border: 2px solid #012f67;
    padding: 15px;
    border-radius: 5px;
    z-index: 100 !important;
    background: #fff;
    font-size: 16px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    transform: inherit;
    z-index: 100;
    left: 0;
    top: 100%;
    right: 0 !important;
    margin: auto;
    // @media only screen and (max-width: 1264px) {
    //   left: 0 !important;
    // }
    @include respond(laptop) {
        right: 50%;
        transform: translateX(50%);
    }
    @media (max-width: 37.5625em) {
        font-size: 15px;
        padding: 12px;
        width: 230px;
    }
    @media (max-width: 23.4375em) {
        width: 220px;
    }
    h2 {
        margin-bottom: 10px;
        color: #012f67;
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        @media (max-width: 37.5625em) {
            font-size: 18px;
        }
        @media (max-width: 23.4375em) {
            font-size: 17px;
        }
    }
    .icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 50px;
        width: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: rgba(1, 47, 103, 0.3);
        font-size: 22px;
        color: #012f67;
        margin-bottom: 10px;
        @media (max-width: 37.5625em) {
            font-size: 20px;
            height: 46px;
            width: 46px;
        }
    }
    .exit {
        position: absolute;
        right: 13px;
        top: 13px;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 18px;
        height: 20px;
        &:hover {
            color: red;
        }
        @media (max-width: 37.5625em) {
            font-size: 16px;
        }
    }
}


/*End - Secure Checkout allows hiding if click outside - Roi - 09/17/2020*/

.input-minus-plus {
    position: relative;
    max-width: 90%;
    margin: auto;
    border: 1px solid #dddddd;
    overflow: hidden;
    background: #f6f6f6;
    @media only screen and (max-width: 1000px) {
        max-width: 100px;
    }
    input {
        border: 0 !important;
        width: 100% !important;
    }
    .btn--quantity {
        display: block !important;
    }
    button.btn--quantity.btn--quantity__minus {
        position: absolute;
        right: 0;
        padding: 0 !important;
        width: auto;
        bottom: 0;
        padding: 5px !important;
        border-radius: 0;
        // background: #6c6a6a;
        background: transparent;
        text-decoration: none;
        outline: none !important;
        height: 50%;
        display: flex !important;
        align-items: center;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-top: 13px solid #656363;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            transform: scale(.6);
        }
    }
    .btn--quantity__plus {
        position: absolute;
        right: 0;
        padding: 0 !important;
        width: auto;
        top: 0;
        height: 50%;
        padding: 5px !important;
        border-radius: 0;
        // background: #6c6a6a;
        background: transparent;
        text-decoration: none;
        outline: none !important;
        display: flex !important;
        align-items: center;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 13px solid #656363;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            transform: scale(.6);
        }
    }
}

// new add ons
@media only screen and (max-width:601px) and (min-width:460px) {
    .product-cart-box .cart-tab-control button,
    .cart-tab-control>button {
        display: inline-block;
        font-size: 15px;
        padding: 15px 10px !important;
    }
}

// @media only screen and (max-width:459px) {
//     .product-cart-box .cart-tab-control button,
//     .cart-tab-control>button {
//         display: inline-block;
//         font-size: 12px;
//     }
// }
@media only screen and (max-width:480px) {
    .product-cart-box .cart-tab-control button,
    .cart-tab-control>button {
        display: inline-block;
        padding: 15px 10px !important;
        width: 100% !important;
        max-width: 100%;
        font-size: 17px;
    }
}

.jconfirm-type-blue {
    border-color: $color-primary !important;
}


.btn--quantity {
    width: 35px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    display: none;
}

.btn--quantity__minus {
    background: #d83939;
}

.btn--quantity__plus {
    background: #009c4c;
}

.cart-total,
.cart-price,
.cart-itembox {
    clear: both;
}

@media(max-width: 1000px) {
    .btn--quantity {
        display: unset;
    }
}

@media(max-width: 500px) {
    .btn--quantity {
        width: 30px;
        height: 35px;
        font-size: 16px
    }

    .cart-itembox input[type="text"] {
        font-size: 16px !important;
    }
}

@media(max-width: 500px) {

    .cart-price {
        position: relative;
        left: -70px;
    }

    .cart-itembox {
        position: relative;
        left: -60px;
        width: auto;
    }

    .cart-total {
        position: relative;
    }

}

.jconfirm-holder {
    padding: 20px !important;
}

.jconfirm-box-container {
    margin: 0 auto;
}