@media only screen and (min-width:1024px) {
    .order-lists {
        td.track {
            max-width: 200px;
            word-break: break-all;
        }
    }
}

@media only screen and (max-width:600px) {
    .order-lists {
        td.track {
            word-break: break-all;
            // display: inline-block;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .table-title {
                // width: 140px;
                // width: 125px;
                width: 72px;
                flex: 0 0 72px;
                max-width: 72px;
                display: inline-block;
                float: left;
            }
            .table-track-result {
                text-align: right;
            }
            a {
                // float: left;
                // margin-right: 5px !important;
                display: block;
            }
            &:after {
                display: block;
                content: '';
                clear: both;
            }
        }
    }
}

@media only screen and (max-width:1000px) {
    .order-lists {
        td.track {
            max-width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .table-track-result {
                display: flex;
                flex-wrap: wrap;
                flex: 0 0 80%;
                max-width: 80%;
                justify-content: flex-end;
                a {
                    display: flex;
                    // flex: auto;
                    // max-width: 100%;
                    display: block !important;
                    position: relative;
                    padding-right: 15px;
                    text-align: right;
                    &:after {
                        content: '|';
                        // margin: 0 10px;
                        position: absolute;
                        right: 5px;
                        top: 0;
                    }
                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:414px) {
    .order-lists {
        td.track {
            .table-track-result {
                a {
                    display: flex;
                    flex: 0 100%;
                    max-width: 100%;
                    position: relative;
                    display: block !important;
                    padding-right: 0 !important;
                    text-align: right;
                    &:after {
                        content: '|';
                        // margin: 0 10px;
                        display: none !important;
                    }
                    &:nth-child(2),
                    &:nth-child(4) {
                        padding-right: 0;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.order-lists {
    td.track {
        .table-track-result {
            a {
                display: flex;
                margin-bottom: 5px;
            }
        }
    }
}