.site-center {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.main-container {
  float: left;
  width: 100%;
  position: relative;
}

.account * {
  box-sizing: border-box;
}

.row {
  box-sizing: border-box;
}

[class*="col-"] {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Condensed", sans-serif;
}

// New
.account {
  &__div {
    background: $color-white;
    border-radius: 5px;
    border: 1px solid rgba($color-dark7, 0.2);
  }

  &__sidebar-header {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba($color-dark7, 0.1);
    h2 {
      font-size: 22px;

      @include respond(mobile-lg) {
        font-size: 18px;
      }
    }

    @include respond(laptop-s) {
      display: flex;
    }
  }

  &__sidebar-list {
    display: block;

    @include respond(laptop-s) {
      display: none;
    }
    list-style: none;
    padding: 15px 0 25px 0;

    @include respond(laptop-s) {
      padding-top: 10px;
    }

    .logout {
      color: $color-darkred;
    }

    .acc-logout {
      a {
        color: $color-darkred;
      }

      &:hover {
        background-color: rgba($color-darkred, 0.05);
      }
    }

    .acc-active {
      position: relative;

      &:hover {
        background-color: rgba($color-darkblue, 0.05);
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background-color: $color-darkblue;
      }

      a {
        color: $color-darkblue;
      }

      svg {
        fill: $color-darkblue !important;
      }
    }
  }

  &__sidebar-item {
    transition: all 300ms ease;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-dark7;
      width: 100%;
      padding: 12px 25px;

      @include respond(laptop-s) {
        padding: 10px 20px;
      }
      @include respond(mobile-lg) {
        padding: 10px 15px;
      }
    }

    h3 {
      font-size: 19px;
      @include respond(mobile-lg) {
        font-size: 16px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 10px;

      @include respond(mobile-lg) {
        margin-bottom: 8px;
      }
    }

    &:hover {
      background-color: rgba($color-dark7, 0.05);
    }
  }

  &__sidebar-icon {
    margin-right: 10px;
    svg {
      height: 22px;
      width: 22px;
      fill: $color-dark7;
      @include respond(mobile-lg) {
        height: 20px;
        width: 20px;
      }
    }
  }
}
