img.paypal {display:inline;vertical-align:middle;  }
h4.liketext { color: #201ed1;
    display: inline;
    padding-left: 4;
    padding-left: 12px;
    font-size: 30px;
    vertical-align: bottom;
    }
