.site-center--return-info {
    .frm-control {
        background: #f1f1f1;
        padding: 12px 10px !important;
        border: 1px solid #c9c9c9 !important;
        border-radius: 5px;
        font-size: 15px;
        font-family: roboto condensed;
    }
    select {
        margin: 0 !important;
    }
    .successdiv>label {
        background-image: none !important;
    }
    input[type=number] {
        border: 1px solid #44414F;
        color: #282828;
        text-align: center;
        width: 50px;
        padding: 8px 0 8px 0;
        box-sizing: border-box;
    }
    .checkout-order-detail {
        table {
            tr {
                td {
                    padding: 5px 15px;
                }
            }
        }
    }
}