.site-center {
    &__tracking-result {
        @media only screen and (max-width: 768px) {
            margin-top: 20px !important;
            min-height: auto !important;
            .main-container {
                min-height: auto;
            }
            .full-width-box {
                display: none;
            }
        }
        .product-batch-box {
            table {
                td {
                    font-size: 22px !important;
                    padding: 5px;
                }
            }
        }
    }
}

.tracking--mobile {
    display: none;
    @media only screen and (max-width: 768px) {
        display: block;
        >div {
            margin: 5px 12px !important;
        }
    }
}
