@media only screen and (max-width:768px) {
    .brands-product-display__button {
        clear: both;
        display: block;
        min-height: 70px;
        display: block;
        margin: 0;
    }
    .brands-products-display.row {
        min-height: 500px;
    }
}