.product-batch-box {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    >.product-row {
        margin-top: 0px !important;
    }
    >div {
        margin-bottom: 20px;
    }
    >.spacer {
        margin: 10px 0 !important;
        display: none !important;
    }
}

.mobile-only,
.related-items-container,
.customers-viewed-container {
    .product-holder {
        height: auto !important;
        .product-image-box {
            padding: 0;
            @media only screen and (min-width: 1001px) {
                // height: 250px;
            }
            a {
                margin: 0;
                width: 100% !important;
                height: auto;
                img {
                    width: 100%;
                    // height: 100% !important;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .product-info {
            padding: 0;
            .cost-row {
                align-items: flex-end;
                padding-top: 0;
                padding-bottom: 5px;
            }
            .name-row {
                border-top: 0 !important;
                padding: 5px 6px !important;
                padding-bottom: 0 !important;
                .product-logo {
                    width: 100px;
                    img {
                        height: auto !important;
                        // width: 100% !important;
                    }
                }
            }
            >div {
                padding: 2px 5px;
            }
        }
    }
}

.mobile-only {
    .product-row {
        margin-bottom: 15px !important;
    }
    .spacer {
        display: none !important;
    }
}

.desktop-only.product-row {
    margin-bottom: 15px;
}

.loadmore-button-holder {
    display: block;
    margin-bottom: 25px;
}

// the color borders
$set-border-color:$color-gray-border !important;
.pdetail {
    border-left: 1px solid $set-border-color;
    @media only screen and (max-width: 768px) {
        border-left: 0 !important;
    }
}

.review-box,
.product-row h2,
.product-holder {
    border: 1px solid $set-border-color;
}

.product-detail-box {
    @media only screen and (max-width: 768px) {
        border: 0 !important;
    }
}

.rw-two {
    border-left: 1px solid $set-border-color;
    border-right: 1px solid $set-border-color;
    @media only screen and (max-width: 768px) {
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

.product-title {
    // border-bottom: 1px solid $set-border-color;
    @media only screen and (max-width: 768px) {
        border-bottom: 0 !important;
    }
}

.cost-row,
.detail-thumb,
.customer-review {
    border-top: 1px solid $set-border-color;
}

.cost-row {
    border-top: 0 !important;
}

.detail-thumb {
    @media only screen and (max-width: 768px) {
        border-top: 0 !important;
    }
}

.review-box {
    border-top: 0 $set-border-color;
}

@media only screen and (max-width:480px) {
    div#prod-detail {
        margin-top: 0 !important;
    }
}

.pop-up-holder-stock {
    input#outofstockemail {
        border: 1px solid #ddd;
        outline: none;
    }
}

.p-add-wrapper.sizeid {
    .p-quantity {
        >h3 {
            display: none;
        }
    }
}