.product-title__title {
    min-height: 25px;
}

.product-title__action {
    min-height: 35px;
}

.product-colors__bottom {
    min-height: 30px;
}

@media only screen and (max-width:480px) {
    .product-title__action {
        min-height: 25px;
    }
    .product-image {
        min-height: 200px;
        height: auto;
        display: block;
    }
    .page-detail-display {
        min-height: 700px !important;
        display: block !important;
        overflow: auto;
    }
}