.search-container {
    .search-input-holder2,
    .search-input-holder {
        label {
            // @media only screen and (min-width:800px) {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            // }
            position: relative;
            display: block;
            #searchaction1,
            #searchaction {
                bottom: 2px !important;
                height: 45px;
            }
            #searchaction1 {
                bottom: 1px !important;
            }
        }
    }
}

// footer effect
.footer__logo,
.footer .box-1-inner a:first-child {
    display: block;
    height: inherit !important;
    margin-bottom: 20px;
    img {
        height: auto !important;
        max-width: 100% !important;
    }
}

.login-half {
    .log-sub-left {
        input[type="submit"] {
            background: $color-orange;
        }
    }
    >div {
        border: 1px solid #ff5b00;
        background-color: #ffdfcc;
    }
    .log-input-box input[type="email"],
    .log-input-box input[type="password"] {
        border: 1px solid #ff5c02;
    }
    @media only screen and (max-width:414px) {
        .log-head-row {
            display: flex;
            align-items: center;
            div {
                width: auto;
                margin-right: 15px;
            }
        }
    }
}

.login-half.psw-full {
    @media only screen and (max-width: 414px) {
        #frmForgotpwd {
            .log-head-row {
                display: flex;
                align-items: center;
                >div {
                    width: auto;
                    margin-right: 10px;
                }
            }
            .log-head {
                width: 100%;
            }
        }
    }
}