@media only screen and (max-width:480px) {
    .card {
        &__icon {
            &--text {
                h5,
                p {
                    font-weight: normal;
                    font-family: "Noto Sans", sans-serif;
                    font-size: inherit !important;
                    font-size: 1em !important;
                }
            }
        }
    }
    .ads-box {
        min-height: 250px !important;
    }
    .main-content__thumbnails {
        min-height: 200px;
    }
}