@media only screen and (max-width:480px) {
    // .card {
    //     &__icon {
    //         &--text {
    //             h5,
    //             p {
    //                 font-weight: normal;
    //                 font-family: "Noto Sans", sans-serif;
    //                 font-size: inherit !important;
    //                 font-size: 1em !important;
    //             }
    //         }
    //     }
    // }
    .ads-box {
        // min-height: 250px !important;
    }
    // .main-content__thumbnails {
    //     min-height: 200px;
    // }
    // .ads-box.ads-box-container.swiper-container {
    //     width: 100%;
    //     min-height: 245px;
    // }
    // .ads-box-container .ads-box__item {
    //     width: 100%;
    //     min-height: 250px;
    // }
    // a.ads-box-slide.swiper-slide.swiper-slide-active {
    //     min-height: 250px;
    // }
    .swiper-homepage-cards {
        width: 100%;
        min-height: 230px;
        .swiper-wrapper {
            min-height: 230px;
        }
    }
    .product-preview__header h3 a,
    .product-preview__header h2 a {
        display: block;
        width: 100%;
    }
    .slider-product__first {
        min-height: 250px;
    }
    .slider-product {
        min-height: 240px;
    }
    .row.main-content__thumbnails {
        max-height: 200px;
    }
    .main-banner-slider {
        height: 354px;
        min-height: 300px;
    }
}

@media only screen and (max-width:414px) {
    .main-banner-slider {
        height: 300px;
    }
}

@media only screen and (max-width:375px) {
    .main-banner-slider {
        height: 280px;
    }
}

@media only screen and (max-width:350px) {
    .main-banner-slider {
        height: auto;
        min-height: 260px !important;
    }
}

.main-banner-slider {
    min-height: 250px;
    position: relative;
    display: block;
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}