@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    .btn--ads img {
        // opacity: 0;
        // visibility: hidden;
        display: none !important;
    }
    .btn--ads {
        padding-left: 40px;
    }
    #mod-ship {
        padding-left: 32px !important;
    }
    #mob-ship:before {
        content: '';
        width: 30px;
        display: inline-block !important;
        height: 40px;
        position: absolute;
        /* height: 25px; */
        background: $sprite-all;
        background-position: -579px -184px;
        transform: scale(1);
        left: -3px;
        top: 5px;
    }
    #mob-bulk:before {
        content: '';
        display: inline-block !important;
        width: 35px;
        height: 35px;
        position: absolute;
        background: $sprite-all;
        background-position: -623px -187px;
        transform: scale(.9);
        left: -3px;
        top: 5px;
    }
}

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */
}