@import "../utils/colors";
// @import "fonts";
@import "../utils/mixins";
#ajax_response {
    border: 1px solid $color-violet;
    background: $color-white;
    position: absolute;
    display: none;
    padding: 2px 2px;
    top: auto;
    z-index: 9999;
    margin-top: 39px;
}

.header-outer {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    @include respond(mobile-lg) {
        margin-bottom: 15px;
    }
    .nav-main {
        ul {
            min-width: 200px;
        }
    }
    ul#exp-drop {
        .nav-row {
            display: flex;
        }
    }
    .top-head-container {
        display: flex;
        align-items: center;
        padding: 20px;
        // @include respond(laptop-s) {
        //   position: fixed;
        //   height: 80px;
        //   width: auto;
        //   left: 0px;
        //   right: 0px;
        //   padding-right: 19px;
        //   padding-left: 19px;
        //   z-index: 9999;
        //   background: #fff;
        //   top: 0px;
        //   padding-bottom: 0px;
        //   box-sizing: border-box;
        // }
        @include respond(tab-port) {
            padding: 15px;
            padding-top: 0;
        }
        @include respond(mobile-lg) {
            height: 65px;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        @media only screen and (max-width: 500px) {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
    .top-head-container-2 {
        @include respond(laptop-s) {
            margin-bottom: 0;
            margin-top: 82px;
            width: 100%;
            float: left;
            box-sizing: border-box;
        }
        @include respond(mobile-lg) {
            margin-top: 66px;
        }
    }
    #mobile-nav,
    #mobile-cat {
        display: none;
    }
    #mobile-nav {
        @include respond(laptop-s) {
            display: block;
            float: left;
            font-size: 30px;
            color: #44414f;
            padding: 2px 0;
        }
        @include respond(mobile-lg) {
            width: 40px;
            margin-top: 0px;
            img {
                width: 100%;
                margin-top: 2px;
            }
        }
        @include respond(mobile-m) {
            width: 30px;
        }
    }
    .logo-box {
        float: left;
        width: 24%;
        @include respond(laptop-s) {
            margin-left: 5px;
        }
        @include respond(tab-land) {
            width: 28%;
        }
        @include respond(tab-port) {
            width: 174px;
        }
        @include respond(mobile-lg) {
            width: 136px;
            margin-left: 11px;
        }
        @include respond(mobile-s) {
            width: 130px;
        }
        img {
            width: 100%;
            @include respond(mobile-lg) {
                margin-top: 5px;
            }
            @include respond(mobile-m) {
                width: 80%;
            }
        }
    }
    .weekly-sale {
        float: left;
        width: 30%;
        @include respond(laptop-s) {
            display: none;
        }
        h4 {
            display: inline-block;
            font-size: 20px;
            color: $color-gray;
            margin-left: 19%;
            @include respond(laptop-s) {
                margin-left: 12%;
            }
            span {
                font-weight: normal;
            }
            a {
                text-decoration: none;
                color: $color-green;
                font-size: 21px;
                line-height: 1.5 !important;
                background: #ffffe0;
            }
        }
        img {
            display: inline;
            width: 50px;
            margin-left: 10px;
        }
    }
    .header-search-box {
        float: left;
        width: 20%;
        text-align: center;
    }
    .header-search-box {
        text-align: left !important;
        position: relative;
        @include respond(laptop-s) {
            display: none;
        }
        input[type="search"] {
            padding: 5px 10px;
            float: left;
            height: 40px;
            position: relative;
            width: 84%;
            border: 1px solid #c1c1c1;
            border-radius: 5px 0 0 5px;
            border-right: none;
            box-sizing: border-box;
            outline: none;
            @media screen and (max-width: 1200px) {
                margin-left: 9%;
                width: 71%;
            }
            @include respond(laptop-s) {
                margin-left: 9%;
                width: 60%;
            }
        }
        a {
            background: none !important;
            float: unset !important;
            border-radius: none !important;
            height: auto !important;
            color: none !important;
        }
    }
    .head-cart-box {
        float: right;
        margin-left: auto;
        @include respond(mobile-lg) {
            margin-top: 13px;
        }
        ul {
            display: flex;
            align-items: center;
            &>*:not(:last-child) {
                margin-right: 10px;
            }
            li {
                float: left;
                font-size: 18px;
                font-weight: 700;
                color: $color-gray;
                @include respond(laptop-s) {
                    font-size: 16px;
                }
                &:last-child {
                    @include respond(mobile-lg) {
                        width: 55px;
                    }
                }
                &:first-child {
                    padding: 11px 0;
                    margin-right: 8px;
                    @include respond(laptop-s) {
                        display: none !important;
                    }
                    @include respond(mobile-m) {
                        display: none;
                    }
                    a {
                        color: $color-gray;
                    }
                    span {
                        position: relative;
                        left: 4px;
                    }
                    img {
                        @include respond(tab-port) {
                            width: 40px;
                        }
                        @include respond(mobile-lg) {
                            width: 30px;
                            float: left;
                        }
                    }
                }
            }
        }
    }
}

// transition sets
li.mega-menu__sub,
.product-holder {
    @include transition;
}

.nav {
    float: left;
    width: 100%;
    background-color: $color-gray;
    @include respond(laptop-s) {
        display: none;
        padding: 0 !important;
    }
    .site-center {
        &>ul {
            position: relative;
        }
    }
    ul {
        float: left;
        width: 100%;
        @include respond(laptop-s) {
            position: absolute;
            right: 0;
            background: #44414f;
            top: 80px;
            z-index: 9999;
            width: 0;
            overflow: hidden;
        }
        @include respond(mobile-lg) {
            top: 65px;
        }
        li {
            display: inline-block;
            position: relative;
            float: left;
            @include respond(laptop-s) {
                width: 100%;
                margin-right: 0;
            }
            span {
                display: none;
                position: absolute;
                right: 25px;
                top: 17px;
                @include respond(laptop-s) {
                    display: block;
                    top: 9px;
                }
            }
            a {
                color: $color-white;
                text-align: center;
                word-wrap: normal;
                font-size: 17.5px;
                font-weight: 500;
                padding: 15px 15px;
                float: left;
                @include respond(laptop-s) {
                    padding: 15px 9px;
                    text-align: left;
                    float: left;
                    width: auto;
                    padding: 8px 2%;
                    font-size: 18px;
                }
                @include respond(tab-land) {
                    padding: 10px 7px;
                }
                &:focus,
                &:hover,
                &:active {
                    background: $color-white;
                    color: $color-black;
                    @include respond(laptop-s) {
                        color: #fff;
                        background: transparent none repeat scroll 0 0;
                    }
                    @include respond(tab-port) {
                        background: transparent;
                    }
                }
            }
            &:hover {
                ul {
                    display: block;
                    @include respond(laptop-s) {
                        display: none;
                    }
                }
            }
        }
        ul {
            position: absolute;
            left: -1px;
            min-width: 200px;
            top: 52px;
            z-index: 100;
            display: none;
            // border: 1px solid rgba(0, 0, 0, 0.15);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            min-width: 200px;
            border: none !important;
            background: $color-white;
            @include respond(laptop-s) {
                left: auto !important;
                right: auto !important;
                position: relative;
                top: 0;
            }
            li {
                background: none;
                margin-right: 0;
                width: 100%;
                @include respond(laptop-s) {
                    border-bottom: 1px solid $color-white7;
                }
                a {
                    font-size: 15px;
                    text-align: left !important;
                    font-weight: 400;
                    padding: 10px 10%;
                    float: left;
                    width: 80%;
                    border-bottom: none;
                    color: $color-black;
                    @include transition;
                    @include respond(laptop-s) {
                        padding: 9px 20px;
                        width: 100%;
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        background: #f5f5f5;
                        @include respond(laptop-s) {
                            columns: $color-black;
                        }
                    }
                }
            }
        }
    }
    #exp-drop {
        width: 100%;
        min-width: 1197px;
        right: -1px;
        left: auto;
        @include respond(laptop-s) {
            position: relative;
            width: 100%;
            min-width: auto;
            max-width: auto;
            right: 0;
            margin: 0;
            #exp-drop .nav-row {
                display: flex;
                flex-direction: column;
            }
        }
        @include respond(tab-land) {
            min-width: 790px;
            right: 6px;
        }
    }
    .nav-row {
        width: 100%;
        float: left;
        padding: 15px 0;
        background: $color-white;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        display: table-cell;
        text-align: right;
        @include respond(laptop-s) {
            padding: 0;
        }
        .nav-col {
            &:nth-child(4),
            &:nth-child(8),
            &:nth-child(12) {
                border: none;
            }
        }
    }
    .nav-col {
        width: 25%;
        border-right: 1px solid $color-lightgray;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        @include respond(laptop-s) {
            width: 100%;
            border: none;
        }
        ul {
            display: block !important;
            border: none !important;
            position: static !important;
            float: left;
            width: 100%;
            min-width: auto !important;
            box-shadow: none !important;
            li {
                a {
                    border: none !important;
                    width: 100% !important;
                    padding: 3px 10% !important;
                    box-sizing: border-box;
                    @include respond(laptop-s) {
                        font-size: 15px;
                        font-weight: 400;
                        padding: 10px 20px !important;
                        float: left !important;
                        width: 100% !important;
                        border-bottom: 1px solid #c9c9c9 !important;
                    }
                    &:hover,
                    &:active,
                    &:focus {
                        background: none !important;
                        text-decoration: underline;
                        @include respond(laptop-s) {
                            background: #f5f5f5 !important;
                            text-decoration: none !important;
                        }
                    }
                }
            }
        }
    }
}

#custom-nav {
    @include respond(laptop-s) {
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        height: auto;
        padding: 0 !important;
    }
}

#custom-login {
    display: block;
    margin-right: 20px;
    text-align: center;
    a {
        color: #44414f;
        text-align: center;
    }
    span {
        border-bottom: 1px solid #44414f;
        padding-bottom: 1px;
    }
}

#custom-login,
#custom-nav {
    display: none;
}


/*Start- Mega Menu with more sub links like SnS - Roi - 09/11/2020 */

.mega-menu {
    display: none;
    position: absolute;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background: $color-white;
    z-index: 2000;
    top: 51px;
    left: 0;
    box-shadow: 0 10px 10px rgba($color-black, 0.1);
    border-top: none;
    transition: all 0.3s ease;
    @include respond(laptop-s) {
        flex-direction: column;
        position: relative;
        width: 100% !important;
    }
    ul {
        display: block !important;
        position: relative !important;
        box-shadow: none !important;
        width: auto !important;
        left: 0 !important;
        min-width: 100% !important;
        @include respond(laptop-s) {
            width: 100%;
        }
    }
    &__title {
        display: block;
        font-weight: 700 !important;
        font-size: 16px !important;
        margin-bottom: 5px;
        padding: 0 !important;
        padding-bottom: 5px !important;
        color: #000;
        width: 100% !important;
        position: relative;
        @include respond(laptop-s) {
            margin-bottom: 0px;
            padding-bottom: 0px !important;
            /* Start - Drawer is not fixed to its position and still scrollable - CL - 09/23/2020 */
            font-weight: 300 !important;
            padding: 5px 10px !important;
            font-size: 15px !important;
            /* End - Drawer is not fixed to its position and still scrollable - CL - 09/23/2020 */
        }
        &::after {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            right: 20px;
            color: $color-white;
            transform: translateY(-50%);
            content: "⇀";
            background: $color-orange;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            opacity: 0;
            transition: all 300ms ease;
        }
        &:hover {
            color: $color-orange;
            &::after {
                opacity: 1;
                right: 10px;
            }
        }
    }
    &__more {
        display: none !important;
        padding: 0 !important;
        margin-top: 10px !important;
        font-size: 15px !important;
        color: $color-orange !important;
        font-weight: 600 !important;
        position: relative;
        border-bottom: none !important;
        right: 0;
        transition: all 300ms ease;
        @include respond(laptop-s) {
            display: none !important;
        }
        &:hover {
            right: -2px;
        }
        & span {
            font-size: 18px;
            font-weight: 700;
            bottom: -6px;
            position: relative !important;
            top: 0 !important;
            right: 0 !important;
            display: inline !important;
        }
    }
    &__sub {
        display: flex;
        flex-direction: column;
        width: 25% !important;
        padding: 15px 0;
        padding-left: 12px;
        box-sizing: border-box;
        padding-right: 10px;
        overflow: hidden;
        @include respond(laptop-s) {
            width: 100% !important;
            padding: 5px;
        }
        &:hover {
            background-color: #e9efff;
        }
        ul {
            box-sizing: border-box;
            top: 0 !important;
            padding-top: 6px;
            background: none !important;
            @include respond(laptop-s) {
                display: none !important;
            }
        }
        li a {
            display: block;
            width: 100% !important;
            border: none !important;
            padding: 5px 15px 5px 0 !important;
            font-size: 14px !important;
            color: #3b3b3b !important;
            position: relative !important;
            box-sizing: border-box;
            @include respond(laptop-s) {
                border-bottom: none !important;
            }
            &:hover {
                color: $color-orange;
                font-weight: 600;
                background: none !important;
                color: #fff;
            }
        }
        a {
            background: none !important;
        }
    }
    // Design - 2
    &__body {
        display: flex;
        width: 100%;
        height: 100%;
        &>*:first-child {
            margin-right: 10px !important;
        }
    }
    &__text {
        width: 70% !important;
        height: 100% !important;
    }
    &__img {
        display: block;
        position: relative;
        height: 100%;
        // min-width: 50px !important;
        width: 30% !important;
        .image {
            position: absolute;
            left: -50%;
            transform: translateX(-25%);
            top: 0;
            height: 100%;
        }
    }
    // Design - 1
    // &__body {
    //   display: flex;
    //   flex-direction: row-reverse;
    //   width: 100%;
    //   height: 100%;
    //   & > *:first-child {
    //     margin-right: 10px !important;
    //   }
    // }
    // &__text {
    //   width: 70% !important;
    //   height: 100% !important;
    // }
    // &__img {
    //   display: block;
    //   width: 80px !important;
    //   margin-top: 10px;
    //   .image {
    //     width: 100%;
    //   }
    // }
}

.nav ul ul {
    border-top: none !important;
}

.nav-main {
    float: left;
    width: 100%;
    position: relative;
}

.nav-main-list {
    display: inline-block;
    position: unset !important;
    float: left;
    @include respond(laptop-s) {
        position: relative !important;
    }
    span {
        display: none;
    }
    &:hover {
        .mega-menu {
            display: flex !important;
            @include respond(laptop-s) {
                display: none !important;
            }
        }
    }
}

.nav-main-link {
    color: $color-white;
    text-align: center;
    word-wrap: normal;
    font-size: 17.5px;
    font-weight: 500;
    padding: 15px 23.5px;
    float: left;
    &:hover,
    &:focus,
    &:active {
        background: $color-white;
        color: #000;
    }
}

.show {
    width: 100% !important;
}


/*End- Mega Menu with more sub links like SnS - Roi - 09/11/2020 */

.mob-wrapper {
    display: none;
    @include respond(laptop-s) {
        display: flex;
        width: 100%;
        float: left;
        margin-top: 0px;
    }
}

.ctm-mobile-drawer {
    position: fixed !important;
    height: 100vh !important;
    overflow: auto !important;
    padding-bottom: 70px;
    box-sizing: border-box !important;
}


/*Start - Better search with images like SnS search - Roi - 09/08/2020*/

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.search-show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

// .outside {
//   display: none !important;
// }
// @include respond(laptop-s) {
//   .outside {
//     display: -webkit-box !important;
//     display: -ms-flexbox !important;
//     display: flex !important;
//   }
// }
.search {
    display: none;
    position: absolute;
    width: 950px;
    background: $color-white;
    z-index: 1000;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    text-align: left;
    @media (max-width: 79em) {
        right: -100%;
    }
    @include respond(laptop-s) {
        position: absolute;
        width: 95%;
        right: 10px;
        top: 130px;
    }
    @include respond(tab-land) {
        width: 270px;
        top: 45px;
    }
    @include respond(mobile-lg) {
        border-radius: 1px;
    }
    @include respond(mobile-m) {
        width: 210px;
    }
    &__live {
        width: 72%;
        padding: 20px 20px 30px 20px;
        @include respond(tab-land) {
            display: none;
        }
    }
    &__default-exit,
    &__auto-exit {
        position: absolute !important;
        right: 10px !important;
        top: 10px !important;
        color: #000 !important;
        background: none !important;
        font-weight: 700 !important;
        font-size: 18px !important;
        border: none !important;
        z-index: 10 !important;
        cursor: pointer !important;
    }
    &__default {
        box-shadow: 0 0 10px rgba($color-black, 0.1);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        width: 250px;
        background: $color-white;
        z-index: 10;
        padding: 10px;
        border: 1px solid rgba($color-black, 0.2);
        box-shadow: 0 0 10px rgba($color-black, 0.1);
        border-radius: 3px;
        z-index: 1000;
        @include respond(laptop-s) {
            width: 220px;
            top: 125px;
            right: 15px;
        }
        @include respond(tab-land) {
            width: 200px;
            top: 45px;
            right: 10px;
        }
        @include respond(mobile-m) {
            width: 160px;
        }
        h3 {
            font-size: 16px;
            padding: 10px 0;
            margin-bottom: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        }
        a {
            display: block;
            color: $color-gray3;
            padding: 5px 5px;
            @include respond(laptop-s) {
                padding: 8px 5px;
            }
            @include respond(mobile-lg) {
                font-size: 15px;
            }
        }
    }
    &__popular {}
    &__recent {}
    &__help {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        border-top: 1px solid $color-white-8;
    }
    &__help-title {
        font-size: 20px;
        color: $color-gray4;
    }
    &__help-list {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }
    &__help-items {
        border: 1px solid $color-gray2;
        color: $color-gray;
        border-radius: 50px;
        a {
            display: flex;
            padding: 7px 20px;
            font-size: 16px;
            color: $color-gray;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &__live-header {
        font-size: 12px;
        margin-bottom: 15px;
        h1 {
            text-align: left;
            span {
                color: $color-orange;
            }
        }
    }
    &__live-list {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 20%;
        }
    }
    &__live-btn {
        display: flex;
        color: $color-white !important;
        background-color: $color-orange !important;
        padding: 10px 20px;
        border-radius: 3px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        margin-top: auto;
    }
    &__auto {
        width: 260px;
        padding: 10px;
        background-color: $color-white3;
        min-height: 320px;
        @include respond(laptop-s) {
            width: 35%;
        }
        @include respond(tab-land) {
            width: 100%;
        }
        @include respond(tab-port) {
            background: $color-white;
            width: 100%;
            padding: 8px;
            padding-top: 0;
        }
    }
    &__auto-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__auto-text {
        font-size: 18px;
        margin-right: auto;
        span {
            font-weight: 600;
            color: $color-orange;
        }
    }
    &__auto-result {
        position: relative;
        width: 100%;
        padding: 10px 5px;
        @include respond(tab-land) {
            padding-top: 0;
        }
        li {
            width: 100%;
            text-align: left;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
            &:hover,
            &:focus {
                a {
                    @include hoverText();
                }
            }
        }
        a {
            display: flex;
            width: 100%;
            color: rgba(0, 0, 0, 0.8);
            font-weight: 500;
            font-size: 18px;
            text-align: left !important;
            @include respond(mobile-m) {
                font-size: 16px;
            }
            @include respond(mobile-m) {
                font-size: 15px;
            }
            span {
                display: inline-block;
                margin-left: auto;
                font-weight: 400;
                font-size: 15px;
            }
        }
    }
}

.card {
    &--search {
        width: 100%;
        padding: 5px !important;
        position: relative;
        border-radius: 3px;
        margin-bottom: 10px;
        border: 3px solid transparent;
        box-sizing: border-box;
        &:hover {
            @include hoverImage();
        }
        &__link {
            width: 100%;
            height: 100%;
        }
        &__img {
            overflow: hidden;
            display: block;
            width: 100%;
            border-radius: 2px;
            user-select: none;
        }
        &__img {
            img {
                width: 100%;
            }
        }
        &__body {
            color: rgba(0, 0, 0, 0.8);
            font-weight: 400;
        }
        &__brand {
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            height: 24px;
            margin-top: 2px;
            img {
                height: 100%;
            }
        }
        &__title {
            border-bottom: 0;
            padding: 5px 0;
            font-size: 14px;
        }
    }
}

#ajax_response {
    z-index: 0 !important;
}


/*End - Better search with images like SnS search - Roi - 10/08/2020*/


/*Start - Live search updates - Roi - 09/22/2020*/

.back-results {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    position: absolute;
    left: 5px;
    margin-top: 6px;
    width: 50px;
    z-index: 99999;
    a i {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        padding: 5px !important;
        border-radius: 5px !important;
        font-size: 15px;
        background: none !important;
        color: $color-black;
    }
}

.search-hov-image {
    @include hoverImage();
}

.search-hov-text {
    a {
        @include hoverText();
    }
}

.see-more-results:hover,
.see-more-results:focus,
.back-results:hover,
.back-results:focus,
.view-more-results:hover,
.view-more-results:focus {
    transform: none !important;
}


/*End - Live search updates - Roi - 09/22/2020*/


/*Start - improve search by removing wrong results and also adding AKA - Roi - 09/21/2020*/

.see-more-results a,
.view-all-results a {
    text-align: center !important;
    color: $color-darkred;
    padding: 12px 0;
    font-weight: bold;
    display: block;
}


/*End - improve search by removing wrong results and also adding AKA - Roi - 09/21/2020*/


/*Start- Mega Menu with more sub links like SnS - Roi - 09/11/2020 */

.nav ul ul li a {
    border-bottom: none !important;
}

.nav ul ul li {
    background: none;
    @include respond(laptop-s) {
        border-bottom: 1px solid $color-white7;
    }
}

.nav ul ul {
    border: none !important;
    background: $color-white;
}

.mega-menu {
    // display: none;
    position: absolute;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background: $color-white;
    z-index: 2000;
    top: 51px;
    left: 0;
    box-shadow: 0 10px 10px rgba($color-black, 0.1);
    border-top: none;
    display: flex;
    opacity: 0;
    visibility: hidden;
    @include respond(laptop-s) {
        flex-direction: column;
        position: relative;
        width: 100% !important;
    }
    ul {
        display: block !important;
        position: relative !important;
        box-shadow: none !important;
        width: auto !important;
        left: 0 !important;
        min-width: 100% !important;
        @include respond(laptop-s) {
            width: 100%;
        }
    }
    &__title {
        display: block;
        font-weight: 700 !important;
        font-size: 16px !important;
        margin-bottom: 5px;
        padding: 0 !important;
        padding-bottom: 5px !important;
        color: #000;
        width: 100% !important;
        position: relative;
        @include respond(laptop-s) {
            margin-bottom: 0px;
            padding-bottom: 0px !important;
            /* Start - Drawer is not fixed to its position and still scrollable - CL - 09/23/2020 */
            font-weight: 300 !important;
            padding: 5px 10px !important;
            font-size: 15px !important;
            /* End - Drawer is not fixed to its position and still scrollable - CL - 09/23/2020 */
        }
        &::after {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            right: 20px;
            color: $color-white;
            transform: translateY(-50%);
            content: "⇀";
            background: $color-orange;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            opacity: 0;
            transition: all 300ms ease;
        }
        &:hover {
            color: $color-orange;
            &::after {
                opacity: 1;
                right: 10px;
            }
        }
    }
    &__more {
        display: none !important;
        padding: 0 !important;
        margin-top: 10px !important;
        font-size: 15px !important;
        color: $color-orange !important;
        font-weight: 600 !important;
        position: relative;
        border-bottom: none !important;
        right: 0;
        transition: all 300ms ease;
        @include respond(laptop-s) {
            display: none !important;
        }
        &:hover {
            right: -2px;
        }
        & span {
            font-size: 18px;
            font-weight: 700;
            bottom: -6px;
            position: relative !important;
            top: 0 !important;
            right: 0 !important;
            display: inline !important;
        }
    }
    &__sub {
        display: flex;
        flex-direction: column;
        width: 25% !important;
        padding: 15px 0;
        padding-left: 12px;
        box-sizing: border-box;
        padding-right: 10px;
        overflow: hidden;
        @include respond(laptop-s) {
            width: 100% !important;
            padding: 5px;
        }
        &:hover {
            background-color: #e9efff;
        }
        ul {
            box-sizing: border-box;
            top: 0 !important;
            padding-top: 6px;
            background: none !important;
            @include respond(laptop-s) {
                display: none !important;
            }
        }
        li a {
            display: block;
            width: 100% !important;
            border: none !important;
            padding: 5px 15px 5px 0 !important;
            font-size: 14px !important;
            color: #3b3b3b !important;
            position: relative !important;
            box-sizing: border-box;
            @include respond(laptop-s) {
                border-bottom: none !important;
            }
            &:hover {
                color: $color-orange;
                font-weight: 600;
                background: none !important;
                color: #fff;
            }
        }
        a {
            background: none !important;
        }
    }
    // Design - 2
    &__body {
        display: flex;
        width: 100%;
        height: 100%;
        &>*:first-child {
            margin-right: 10px !important;
        }
    }
    &__text {
        width: 70% !important;
        height: 100% !important;
    }
    &__img {
        display: block;
        position: relative;
        height: 100%;
        // min-width: 50px !important;
        width: 30% !important;
        .image {
            position: absolute;
            left: -50%;
            transform: translateX(-25%);
            top: 0;
            height: 100%;
        }
    }
    // Design - 1
    // &__body {
    //   display: flex;
    //   flex-direction: row-reverse;
    //   width: 100%;
    //   height: 100%;
    //   & > *:first-child {
    //     margin-right: 10px !important;
    //   }
    // }
    // &__text {
    //   width: 70% !important;
    //   height: 100% !important;
    // }
    // &__img {
    //   display: block;
    //   width: 80px !important;
    //   margin-top: 10px;
    //   .image {
    //     width: 100%;
    //   }
    // }
}

.nav ul ul {
    border-top: none !important;
}

.nav-main {
    float: left;
    width: 100%;
    position: relative;
}

.nav-main-list {
    display: inline-block;
    position: unset !important;
    float: left;
    @include respond(laptop-s) {
        position: relative !important;
    }
    span {
        display: none;
    }
    &:hover {
        .mega-menu {
            display: flex !important;
            @include respond(laptop-s) {
                display: none !important;
            }
        }
    }
}

.nav-main-link {
    color: $color-white;
    text-align: center;
    word-wrap: normal;
    font-size: 17.5px;
    font-weight: 500;
    padding: 15px 23.5px;
    float: left;
    &:hover,
    &:focus,
    &:active {
        background: $color-white;
        color: #000;
    }
}

.show {
    width: 100% !important;
}


/*End- Mega Menu with more sub links like SnS - Roi - 09/11/2020 */

#mob-bulk {
    a {
        cursor: auto;
    }
}

#mob-ship a {
    background: transparent;
}

@media screen and (max-width: 1000px) {
    .mob-section {
        width: 33.3%;
        float: left;
    }
    .mob-section a {
        font-size: 17px;
        color: #44414f;
        text-decoration: none;
    }
    .mob-pad {
        padding: 0px 0 0 0;
    }
    #mob-bulk a {
        text-transform: uppercase;
        // background-image: url("../images/bulk-discount.png");
        padding: 10px 0px;
        font-size: 15px;
        font-weight: bold;
        padding-left: 45px;
        background-size: 35px;
        background-repeat: no-repeat;
        background-position: left center;
        box-sizing: border-box;
    }
    .mob-search input[type="search"] {
        width: 16%;
        padding: 12px 0 12px 6px;
        height: 36px;
        position: relative;
        /* width:50px; */
        border: 1px solid #c1c1c1;
        border-radius: 5px 0px 0px 5px;
        border-right: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition: width 0.4s ease-in-out;
        position: absolute;
        right: 45px;
    }
    #mob-ship a {
        text-transform: uppercase;
        min-height: 35px;
        font-size: 15px;
        font-weight: bold;
        padding-left: 45px;
        float: left;
        text-align: left;
        background-size: 27px;
        background-repeat: no-repeat;
        background-position: left center;
        box-sizing: border-box;
        position: relative;
    }
    .mob-search button {
        position: relative;
        background: #44414f;
        float: right;
        width: 35px;
        height: 36px;
        right: 0px;
        top: 0px;
        z-index: 99;
        color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
    }
    .mob-search input[type="search"]:focus,
    .mob-search input[type="search"]:active {
        width: 80%;
        outline: none !important;
    }
    #custom-login {
        display: block;
        margin-right: 20px;
        text-align: center;
    }
    .nav>ul>li>a {
        display: inline-block;
        width: 100%;
        padding: 8px !important;
        padding-left: 15px !important;
    }
    #custom-nav {
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        height: auto;
    }
    .mob-search {
        @include respond(tab-land) {
            position: relative;
        }
    }
    .mob-search input[type="search"] {
        @include respond(tab-land) {
            width: 100%;
            right: 0;
            &:focus,
            &:active {
                width: 270%;
            }
        }
        @include respond(mobile-m) {
            font-size: 16px;
        }
    }
    /* saf3+, chrome1+ */
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .nav ul li a {
            padding-left: 5.5px;
            padding-right: 15.5px;
        }
    }
}

@media screen and (max-width: 1000px) {
    #custom-cart {
        display: none;
    }
    #custommob-cart {
        display: block;
    }
    .top-head-container {
        position: fixed;
        height: 80px;
        width: auto;
        left: 0px;
        right: 0px;
        padding-right: 19px;
        padding-left: 19px;
        z-index: 99999999;
        background: #fff;
        top: 0px;
        padding-bottom: 0px;
        box-sizing: border-box;
    }
    .top-head-container-2 {
        margin-top: 82px;
        margin-bottom: -7px;
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
    #mob-bulk a {
        text-transform: uppercase;
        padding: 10px 0px;
        font-size: 15px;
        font-weight: bold;
        padding-left: 45px;
        background-size: 35px;
        background-repeat: no-repeat;
        background-position: left center;
        box-sizing: border-box;
    }
    #mob-ship a span {
        text-transform: lowercase;
    }
}

// @media screen and (max-width: 1024px) {
// .nav ul li a {
//     padding: 15px 10px !important;
// }
// }

/* CSS used here will be applied after bootstrap.css */

.siderr {
    display: inline-block;
    vertical-align: top;
}

.empty-cart-message {
    padding: 20px 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

@media screen and (min-width: 1000px) {
    #custommob-cart {
        display: none;
    }
    #custom-cart {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    #custom-cart {
        display: none;
    }
    #custommob-cart {
        display: block;
    }
}

#custom-track {
    display: none;
    @include respond(laptop-s) {
        display: block;
    }
}

.totel-value {
    float: right;
    position: relative;
    margin-top: 15px;
    /*font-size:22px;*/
    font-size: 20px;
    color: $color-darkred;
    margin-left: 5px;
    span {
        min-width: 13px;
        height: 13px;
        text-align: center;
        position: absolute;
        left: -5px;
        top: -27px;
        padding: 5px;
        background: $color-darkred;
        color: $color-white;
        font-size: 12px;
        border-radius: 100%;
    }
}

#custommob-cart {
    display: none;
    @include respond(laptop-s) {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .totel-value {
        position: unset !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 10px;
        span {
            top: 10px !important;
            right: 10px !important;
            left: auto;
            border-radius: 10px !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    .totel-value {
        font-size: 16px;
    }
    .weekly-sale h4 {
        font-size: 18px;
        margin-left: 17%;
    }
    #exp-drop {
        min-width: 995px;
        right: -11px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .nav ul li a {
        padding: 15px 15px;
    }
}

@media screen and (max-width: 1000px) {
    .totel-value {
        font-size: 16px;
    }
    #exp-drop {
        min-width: 839px;
        right: -13px;
    }
}

@media screen and (max-width: 850px) {
    #exp-drop {
        min-width: 716px;
        right: -11px;
    }
}

@media screen and (max-width: 768px) {
    #mob-ship a {
        float: left;
        text-align: left;
        padding: 0px;
        padding-left: 41px;
    }
}

@media screen and (max-width: 550px) {
    .totel-value {
        font-size: 14px;
        float: left;
        margin: 0px;
    }
    .totel-value span {
        min-width: 14px;
        font-size: 11px;
        height: 15px;
        left: 27px;
        top: -20px;
        padding: 0px 2px;
        padding-top: 2px;
        border-radius: 5px;
    }
    .top-head-container-2 {
        margin-top: 67px;
    }
    #mob-ship a {
        line-height: 13px;
        font-weight: bold;
        background-position: left center;
        font-size: 13px;
        padding-left: 45px;
        background-size: 24px;
    }
    #mob-bulk a {
        line-height: 13px;
        float: left;
        font-weight: bold;
        padding-left: 39px;
        font-size: 13px;
        text-align: left;
    }
    #custom-login a {
        font-size: 13px;
    }
}

.last-menu {
    display: none !important;
}


/* saf3+, chrome1+ */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .nav ul li a {
        padding-left: 12.9px;
        padding-right: 23.9px;
    }
    // .nav ul ul {
    //   top: 51px;
    // }
}

// ****************

/* only safari */

@media only screen and (-webkit-min-device-pixel-ratio: 1) {
     ::i-block-chrome,
    .nav ul li a {
        padding-left: 24px;
        padding-right: 23.9px;
    }
}

// ****************

/* only for IE */

_:-ms-fullscreen,
:root .product-image-box img {
    width: 100%;
}


/* only or ios sfari */

_::-webkit-full-page-media,
_:future,
:root .nav ul li a {
    padding: 15px 21px;
}

// ****************
@media screen and (max-width: 1200px) {
    _::-webkit-full-page-media,
    _:future,
     :root .nav ul li a {
        padding: 15px 14px;
    }
    .product-color {
        width: 50%;
        margin-top: 7px;
    }
    .product-price {
        width: 50%;
        margin-top: -8px;
    }
    .brand-box ul li {
        float: none;
        margin-left: 7px;
        margin-right: 7px;
    }
    .product-logo-box img {
        max-width: 100%;
    }
    .product-advertisment h2,
    .shipping-offer h2,
    .saving-box ul li h3 {
        font-size: 15px;
    }
    .saving-box ul {
        padding: 0px 5px;
    }
    // .pdetail {
    //     max-width: 490px;
    // }
    .product-discription {
        width: 70%;
    }
    .product-offers-box {
        width: 30%;
        margin-right: 0px;
        padding: 0px 15px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .nav ul li a {
        padding: 15px 15px;
    }
    .site-center {
        /*padding:0 2%;
    width:96%*/
        max-width: 1000px;
    }
    // .discount-box h2,
    // .discount-box h2 span {
    //   font-size: 33px;
    // }
    // .discount-box h3,
    // .wholesale-box h3,
    // .wholesale-box h2 span,
    // .wholesale-box h3 span {
    //   font-size: 24px;
    // }
    // .free-shipping-box h2,
    // .banner-call-box h2 {
    // //   font-size: 20px;
    // // }
    // .free-shipping-box h3,
    // .banner-call-box h2 span {
    //   font-size: 15px;
    // }
    .checkout-payrow input[type="text"],
    .checkout-payrow input[type="email"],
    .checkout-payrow input[type="password"],
    .checkout-payrow input[type="date"],
    .checkout-payrow select,
    .checkout-payrow .double,
    .s-code {
        width: 59%;
    }
    .shippng-order-offer {
        padding: 30px 0;
    }
    .shippng-order-offer img {
        width: 70%;
    }
    .header-search-box input[type="search"] {
        margin-left: 9%;
        width: 71%;
    }
    .head-cart-box ul li:first-child {
        font-size: 17px;
    }
    .totel-value {
        font-size: 16px;
    }
    .weekly-sale h4 {
        font-size: 18px;
        margin-left: 17%;
    }
    #exp-drop {
        min-width: 995px;
        right: -11px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .box-1-inner {
        max-width: 295px;
    }
    .ft-box-2 {
        width: 22%;
    }
    .ft-box-3 {
        width: 22%;
    }
    .ft-box-4 {
        width: 17%;
    }
    .saving-box ul li h4 {
        font-size: 15px;
    }
    /* saf3+, chrome1+ */
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .nav ul li a {
            padding-left: 5.5px;
            padding-right: 15.5px;
        }
    }
}

// login drop
.login-floater {
    position: absolute;
    clear: both;
    background-color: $color-white;
    padding: 0 2% 2% 2%;
    border-radius: 5px;
    z-index: 99;
    right: 350px;
    width: 17%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    display: none;
}

.login-floater .log-input-box p {
    font-weight: normal;
}

.active-login {
    display: block !important;
}

.login-floater {
    right: -40px !important;
    width: 300px !important;
    padding: 30px 50px 40px 50px !important;
    margin-top: 8px;
}

.login-parent {
    position: relative;
}

.log-input-box {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    input[type="email"],
    input[type="password"] {
        float: left;
        width: 100%;
        border: 1px solid #8bc8e6;
        font-size: 15px;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        box-sizing: border-box;
        font-weight: 300;
    }
    input[type="email"]:-webkit-autofill,
    input[type="password"]:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
}

.log-input-box {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    input[type="email"],
    input[type="password"] {
        float: left;
        width: 100%;
        border: 1px solid #8bc8e6;
        font-size: 15px;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        box-sizing: border-box;
        font-weight: 300;
    }
    input[type="email"]:-webkit-autofill,
    input[type="password"]:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
}

.log-submit-row {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.log-sub-left,
.log-sub-right {
    float: left;
    width: 50%;
    text-align: left;
}

.log-sub-left {
    input[type="submit"] {
        float: left;
        color: $color-white;
        border: none;
        padding: 10px 20%;
        background: $color-gray;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
}

.forget-row {
    float: left;
    width: 100%;
    a {
        float: left;
        color: $color-gray;
        text-decoration: underline;
        font-style: italic;
    }
}

// mini cart
#shipcostid3 {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    color: #009900;
    line-height: 25px;
}

.discClass3 td,
.discClass3 {
    color: $color-orange;
}


/*Start - gift certificate codes that can be used - Roi - 06/19/2020 9:22am*/

.view_cart_link {
    font-size: 18px;
    color: #0a2972;
    text-decoration: underline;
    font-weight: 400 !important;
}

@include respond(mobile-lg) {
    .product-holder .product-image-box {
        padding: 0;
    }
    #custommob-cart .totel-value span {
        border-radius: 5px !important;
    }
}