@mixin display-reset {
  width: 100%;
  margin: 0%;
  text-align: center;
  max-width: 100%;
}

.footer-new {
  float: left;
  width: 100%;
  background: $color-gray;
  padding: 40px 0px;

  @media screen and (max-width: 550px) {
    padding: 25px 0px;
  }

  .ft-box-1,
  .ft-box-2,
  .ft-box-3,
  .ft-box-4,
  .ft-box-5,
  .ft-box-6 {
    float: left;

    h3 {
      margin-bottom: 10px;
      color: #f5f8ff;
      font-size: 22px;
      font-weight: normal;
      display: inline-block;
    }

    ul {
      display: block;

      li {
        float: left;
        display: block;
        width: 100%;
        padding-left: 18px;
        margin: 3px 0px;

        @media screen and (max-width: 550px) {
          padding-left: 0px;
          background-image: none;
          width: 100%;
        }

        a {
          color: #f5f8ff;
          font-size: 15px;
        }
      }

      &:after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }

  .ft-box-1 {
    width: 35%;

    @media only screen and (max-width: 1000px) {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      margin-bottom: 30px;

      @media only screen and (max-width: 550px) {
        img {
          width: 250px;
        }
      }

      @media only screen and (max-width: 1200px) {
        max-width: 295px;
      }
    }

    .box-1-inner {
      max-width: 332px;
      text-align: center;

      a {
        display: block;
        color: $color-white;
      }

      p {
        float: left;
        width: 100%;
        color: #f5f8ff;
        font-size: 16px;
        margin-bottom: 15px;
      }

      @media only screen and (max-width: 550px) {
        width: 100%;
        margin-left: 0%;
        text-align: center;
        max-width: 100%;

        p {
          margin-bottom: 10px;
        }

        h2 {
          font-size: 30px;
          margin-bottom: 15px;
        }
      }

      @media only screen and (max-width: 1000px) {
        max-width: 100%;
        width: 100%;
        text-align: center;
      }

      @media only screen and (max-width: 1200px) {
        max-width: 100%;
      }
    }
  }

  .ft-box-2,
  .ft-box-3 {
    width: 25%;

    @media screen and (max-width: 1200px) {
      width: 22%;
    }
  }

  .ft-box-4 {
    width: 15%;

    @media screen and (max-width: 1200px) {
      width: 17%;
    }
  }

  .ft-box-2,
  .ft-box-3,
  .ft-box-4 {
    @media only screen and (max-width: 1000px) {
      width: 33.3%;
      margin-left: 0%;
    }

    @media only screen and (max-width: 550px) {
      @include display-reset;
      max-width: 100%;
    }

    h3 {
      float: left;
      margin-bottom: 10px;
      color: $color-white5;
      font-size: 22px;
      font-weight: normal;

      @media screen and (max-width: 550px) {
        @include display-reset;
      }

      ul {
        float: left;
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
          float: left;
          display: inline-block;
          width: 100%;
          padding-left: 18px;
          margin: 3px 0px;
          // background-image: url("../images/ft-pin.png");
          background-image: url("../../images/ft-pin.png");
          background-repeat: no-repeat;
          background-position: left center;
          box-sizing: border-box;
          background-size: 7px auto;

          @media screen and (max-width: 550px) {
            @include display-reset;
          }

          a {
            color: $color-white5;
            font-size: 15px;

            &:hover {
              color: $color-lightgray6;
            }
          }
        }
      }
    }
  }

  .ft-box-5 {
    width: 100%;
    margin-top: 35px;
    text-align: center;
  }

  .ft-box-6 {
    width: 100%;
    color: $color-white;
    font-size: 14px;
    margin-top: 25px;
    text-align: center;
  }

  .badge-section {
    .shopperlink {
      @include respond(mobile-lg) {
        display: block;
        height: 130px;
        margin-top: 15px;

        img {
          height: 100%;
        }
      }
    }

    @include respond(mobile-lg) {
      table {
        width: 100%;

        tr {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}

.test {
  color: $color-gray;
}
