.login-floater--active {
    display: flex !important;
}

.tablet-mobile--only {
    display: none;
}

@media only screen and (max-width:1000px) {
    .tablet-mobile--only {
        display: block !important;
    }
}

.login-floater {
    .form {
        &__signup,
        &__login {
            &--hide {
                display: none !important;
            }
        }
        &__login {
            a.form__signup {
                &-open {
                    color: #00a92c !important;
                    &:hover {
                        color: #008022 !important;
                    }
                }
            }
        }
        &__signup {
            &--visible {
                display: block !important;
            }
            .log-sub-left {
                width: 100% !important;
            }
            .log-sub-left {
                input[type="submit"] {
                    width: 100%;
                    cursor: pointer;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    &:hover {
                        background: #282828 !important;
                    }
                }
            }
            .log-input-box {
                input[type="email"],
                input[type="password"] {
                    margin-bottom: 15px;
                }
            }
            .already-have-account {
                clear: both;
                text-transform: capitalize;
                font-size: 18px;
                font-weight: normal;
                color: #00a92c;
                a {
                    margin-left: 12px;
                    color: #013068;
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
            .log-input-box {
                float: left;
                width: 100%;
                margin-bottom: 10px;
                input[type="email"],
                input[type="password"] {
                    float: left;
                    width: 100%;
                    // border: 1px solid #8bc8e6;
                    border: 1px solid #3e3e3e !important;
                    font-size: 15px;
                    border-radius: 5px;
                    padding: 15px;
                    margin-bottom: 20px;
                    box-sizing: border-box;
                    font-weight: 300;
                }
                input[type="email"]:-webkit-autofill,
                input[type="password"]:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 30px white inset;
                }
            }
            .log-input-box {
                float: left;
                width: 100%;
                margin-bottom: 10px;
                input[type="email"],
                input[type="password"] {
                    float: left;
                    width: 100%;
                    border: 1px solid #8bc8e6;
                    font-size: 15px;
                    border-radius: 5px;
                    padding: 15px;
                    margin-bottom: 20px;
                    box-sizing: border-box;
                    font-weight: 300;
                }
                input[type="email"]:-webkit-autofill,
                input[type="password"]:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 30px white inset;
                }
            }
            .log-submit-row {
                float: left;
                width: 100%;
                margin-bottom: 20px;
            }
            .log-sub-left,
            .log-sub-right {
                float: left;
                width: 50%;
                text-align: left;
            }
            .log-sub-left {
                input[type="submit"] {
                    float: left;
                    color: $color-white;
                    border: none;
                    padding: 10px 20%;
                    background: $color-gray;
                    border-radius: 5px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 700;
                }
            }
            .forget-row {
                float: left;
                width: 100%;
                a {
                    float: left;
                    color: $color-gray;
                    text-decoration: underline;
                    font-style: italic;
                }
            }
        }
    }
}