.cart-preview {
    display: none;
    position: absolute;
    top: 150%;
    left: -176px;
    background: $color-white;
    width: 280px;
    border-radius: 5px;
    border: 1px solid rgba($color-orange, 1);
    text-align: left;
    z-index: 50;
    box-shadow: 0 0 10px rgba($color-black, 0.05);
    // padding: 15px 25px;
    &::-webkit-scrollbar {
        display: none;
    }
    @media screen and (max-width: 1500px) {
        left: unset;
        right: -10px !important;
        transform: translateX(0);
    }
    @media screen and (max-width: 1300px) {
        right: 0 !important;
        transform: translateX(0);
    }
    @media screen and (max-width: 768px) {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    // @media screen and (max-width: 1500px) {
    // }
    &__header {
        border-bottom: 1px solid rgba($color-orange, 1);
        padding: 12px 15px;
        h1 {
            font-size: 20px;
            color: rgba($color-orange, 1);
        }
    }
    &__list {
        display: flex;
        width: 100%;
        flex-direction: column;
        max-height: 62vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 15px;
        // &::-webkit-scrollbar {
        //     display: none;
        // }
    }
    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        &:not(:last-child) {
            // border-bottom: 1px solid rgba($color-black, 0.1);
            margin-bottom: 5px;
            padding: 10px 0;
        }
        &:nth-child(even) {}
    }
    &__item-header {
        display: block;
        width: 100%;
        font-weight: 600;
        color: $color-black;
        margin-bottom: 4px;
        font-size: 13px !important;
        min-height: 20px;
    }
    &__item-body {
        display: flex;
        align-items: center;
    }
    &__item-img {
        height: 80px;
        margin-right: 25px;
        img {
            height: 100%;
        }
    }
    &__item-details {
        font-size: 13px;
        min-height: 75px;
        .row {
            align-items: center;
        }
        b {
            margin-right: 5px;
        }
        p {
            // margin-bottom: 5px;
        }
    }
    &__action {
        display: flex;
        flex-direction: column;
        width: 100%;
        // padding: 15px 25px;
        padding: 15px;
        // padding: 10px;
    }
    &__count {
        text-align: right;
        margin-bottom: 10px;
        font-size: 12px;
        color: $color-green;
        font-weight: 700;
    }
    &__summary {
        .subtotal {
            font-size: 13px;
        }
        li {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            // padding: 8px;
            &:not(:last-child) {
                margin-bottom: 10px;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba($color-black, 0.08);
            }
        }
        p {
            font-weight: 700;
        }
    }
    &__btns {
        margin-top: 15px;
        display: flex;
        align-items: center;
        & .btn--link {
            padding: 0;
        }
    }
    &__empty {
        padding: 15px;
    }
}