.main-container {
    min-height: 500px;
}

.main-content {
    min-height: 500px;
    padding-bottom: 25px;
    &--index {
        .brand-box {
            @media only screen and (max-width: 600px) {
                display: none;
            }
        }
        @include respond(laptop-s) {
            padding-bottom: 20px;
        }
        .main-content {
            &__thumbnails {
                &--item {
                    @media only screen and (max-width: 1100px) {
                        flex: 0 0 50%;
                        max-width: 50%;
                        margin-bottom: 20px;
                    }
                    @include respond(mobile-lg) {
                        margin-bottom: 10px;
                        padding-right: 5px !important;
                        padding-left: 5px !important;
                    }
                }
            }
        }
    }
    &--category {
        .breadcrum {
            @include respond(laptop-s) {
                padding: 0 15px !important;
            }
        }
        .product-row {
            h5 {
                @media only screen and (max-width: 850px) {
                    display: block;
                    width: 100%;
                }
            }
        }
        >.container {
            padding-bottom: 75px;
            min-height: 700px;
            @include respond(tab-port) {
                padding-bottom: 20px;
            }
        }
        // #product-row1 {
        //     min-height: 600px;
        // }
        .brands-product-display {
            min-height: 600px;
        }
        .main-content__right-content {
            h5 {
                width: 100%;
                margin: 10px 0;
                clear: both;
            }
        }
        // .container {
        //     max-width: 100%;
        //     width: 100%;
        // }
    }
    &__sidebar {
        flex: 0 0 18%;
        max-width: 18%;
        @media only screen and (min-width: 1000px) {
            padding-right: 0;
        }
        @media only screen and (max-width: 1000px) {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .site-sidebar {
            width: 100%;
        }
        // @media only screen and (max-width:1000px) {
        //     display: none;
        // }
    }
    &__right-content {
        flex: 0 0 82%;
        max-width: 82%;
        @include respond(laptop-s) {
            padding: 0 18px !important;
        }
        @media only screen and (max-width:1000px) {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 !important;
        }
        @media only screen and (max-width:576px) {
            .row {
                .col-sm-6 {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
    }
    &__full-content {
        flex: 0 0 100%;
        max-width: 100%;
        .row {
            >div {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .container-fluid,
    .container {
        // min-height: 700px;
        // max-width: $max-width-default; // quick settings /new/layout/shirtwholeseller-quick-settings
        // width: $max-width-default; // quick settings /new/layout/shirtwholeseller-quick-settings
        // padding: 0;
        // margin: auto;
        .row {
            margin-left: 0 !important;
            margin-right: 0 !important;
            @include respond(laptop-m) {
                margin-left: -15px !important;
                margin-right: -15px !important;
            }
            &>* {
                @include respond(mobile-lg) {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }
            }
        }
    }
}

// .main-content {
//     .container,
//     .container-fluid {
//         // padding-left: 15px;
//         // padding-right: 15px;
//         padding-left: 30px;
//         padding-right: 30px;
//         width: 100%;
//         max-width: 100%;
//         @media only screen and (max-width: 800px) {
//             padding-left: 5px;
//             padding-right: 5px;
//         }
//     }
// }