// this is for revert css look design base on live site
.page-detail-display {
    &--reverted {
        @media only screen and (max-width: 1264px) {
            .product-image-detail {
                max-width: 480px;
                width: auto;
            }
            .product-image {
                .product-item-image {
                    img {
                        width: 100%;
                    }
                }
                >div {
                    .product-sm {
                        display: none;
                    }
                }
            }
            .detail-thumb {
                ul {
                    display: inline-block !important;
                    li {
                        display: inline-block;
                        vertical-align: middle;
                        img {
                            width: 97px;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width:768px) {
            .item-description {
                min-height: auto !important;
            }
            .product-batch-box {
                margin-top: 0;
            }
            .descrption.prod-desc-wrapper {
                padding-bottom: 0;
            }
            .product-image-detail {
                max-width: 100%;
                width: 100%;
                border-bottom: 1px solid #c9c9c9 !important;
                margin-bottom: 0 !important;
                padding-top: 5px;
            }
            //  this css will revert the look of image thumbnails
            .product-image {
                display: block;
                .detail-thumb {
                    width: 100% !important;
                    display: block !important;
                    border-top: 1px solid #c9c9c9 !important;
                    margin-bottom: 5px;
                    ul {
                        display: inline-block !important;
                        width: 100% !important;
                        li {
                            width: auto !important;
                            min-width: auto !important;
                            height: auto !important;
                            img {
                                width: 73px !important;
                            }
                        }
                    }
                }
            }
            .readmore {
                color: rgb(85, 26, 139) !important;
            }
            .product-detail-box {
                background: #fff !important;
                border: 1px solid #c9c9c9 !important;
            }
            .product-color-box .all-colors {
                display: none !important;
            }
            .product-discription {
                .rate-item,
                .overall-rating.review-head-tip,
                .titleProduct {
                    text-align: center !important;
                }
            }
        }
        @media only screen and (max-width:600px) {
            #prod-detail .p-add-wrapper .p-quantity .variant input {
                width: 70px !important;
            }
            .discription-control1.pro-add {
                a#addtoSCartbtn {
                    padding: 15px 30px !important;
                }
            }
            .rw-top-box {
                flex-direction: row;
            }
        }
        @media only screen and (max-width:480px) {
            a.reviewRedirect {
                display: none !important;
            }
        }
        @media only screen and (max-width:474px) {
            .rw-top-box {
                flex-direction: column;
            }
        }
        @media only screen and (max-width:320px) {
            .product-image .detail-thumb ul li img {
                width: 50px !important;
            }
        }
    }
}

// cart page
.site-center {
    &--reverted {
        .chkbtn {
            button#checkout {
                width: 100%;
                background: #44414F none repeat scroll 0 0;
                border: medium none;
                border-radius: 5px;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                padding: 16px 0px;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .cart-main-right-box {
            float: left;
            background: #fff;
            width: 77% !important;
        }
        .cart-sidebar {
            float: right;
            width: 21% !important;
            padding: 0 15px 15px 15px;
            border: 1px solid #c9c9c9;
            box-sizing: border-box;
            margin-bottom: 20px;
        }
        // .cart-summary-tab {
        //     h3 {
        //         border: 1px solid #c9c9c9 !important;
        //         width: 100% !important;
        //         margin-bottom: 5px;
        //     }
        // }
        @media only screen and (max-width:768px) {
            .cart-main-right-box,
            .cart-sidebar {
                width: 100% !important;
            }
        }
    }
}