.alert {
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 12px 0;

  @include respond(mobile-lg) {
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
  }
  @include respond(mobile-s) {
    padding: 9px;
    margin: 10px 0;
    font-size: 13px;
  }

  &--error {
    color: white;
    background: #ff4444;
  }

  &--success {
    background: #00c851;
    color: #fff;
  }

  &--info {
    background: #33b5e5;
    color: #fff;
  }
  &--warning {
    background: #ffbb33;
    color: #fff;
  }
}
