.breadcrum {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    min-height: 19px;
    font-weight: bold;
    color: $color-gray3;
    a {
        color: $color-gray3;
        @include transition;
        &:hover {
            color: $color-orange;
        }
    }
    p {
        float: left;
        width: 100%;
        a {
            font-size: 16px;
            color: $color-gray3;
            margin: 0 5px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    @media only screen and (max-width: 500px) {
        margin-bottom: 10px;
    }
    @media only screen and (max-width: 767px) {
        .mbdshow {
            display: none;
        }
    }
}