.btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    &--screenshot {
        display: flex;
        align-items: center;
        padding: 6px;
        .icon {
            width: 30px;
            margin-right: 8px;
        }
        .placeholder {
            color: $color-black;
            font-weight: 700;
        }
    }
    &--primary {
        background: $color-gray !important;
        color: $color-white;
        padding: 15px;
        display: inline-block;
        border-radius: 5px;
        &:hover {
            background: $color-dark !important;
        }
    }
    &--help-link {
        display: inline-block;
        padding: 12px 40px;
        background-color: $color-orange;
        color: $color-white;
    }
    &--tertiary {
        display: inline-flex;
        padding: 15px 50px;
        font-size: 18px;
        border-radius: 3px;
        background-color: $color-orange;
        color: $color-white;
        justify-content: center;
        @include respond(mobile-lg) {
            padding: 12px 40px;
            font-size: 16px;
        }
        @include respond(mobile-m) {
            padding: 10px 30px;
            font-size: 14px;
        }
    }
    &--burger {
        display: flex;
        height: 40px;
        width: 35px;
        align-items: center;
        padding: 0;
        @include respond(mobile-lg) {
            height: 35px;
            width: 30px;
        }
        span {
            display: block;
            width: 100%;
            height: 4px;
            background: $color-dark7;
            position: relative;
            @include respond(mobile-lg) {
                height: 3px;
            }
            &::after,
            &::before {
                content: "";
                display: block;
                position: absolute;
                height: inherit;
                width: inherit;
                left: 0;
                background: inherit;
            }
            &::after {
                top: 10px;
                @include respond(mobile-lg) {
                    top: 8px;
                }
            }
            &::before {
                bottom: 10px;
                @include respond(mobile-lg) {
                    bottom: 8px;
                }
            }
        }
    }
    &--search {
        background: $color-gray;
        border: none;
        float: left;
        border-radius: 0 5px 5px 0;
        height: 40px;
        right: 0;
        top: 0;
        z-index: 99;
        color: $color-white;
        i {
            background: $color-gray;
            float: left;
            padding: 4px !important;
            border-radius: 0 5px 5px 0;
        }
    }
    &--secondary {
        display: inline-block;
        padding: 13px 60px;
        background-color: $color-orange;
        color: $color-white;
        font-weight: 600;
        font-size: 16px;
        border-radius: 4px;
        @include respond(tab-port) {
            font-size: 14px;
            padding: 12px 50px;
        }
        @include respond(mobile-lg) {
            font-size: 12px;
            padding: 11px 40px;
        }
    }
    &--my-account {
        display: flex;
        font-weight: 700;
        font-size: 18px;
        color: $color-gray;
        align-items: center;
        position: relative;
        margin-right: 15px;
        span {
            display: flex;
            align-items: center;
            height: 35px;
            svg {
                fill: $color-gray;
            }
        }
        span.login-label {
            position: absolute !important;
            left: 0;
            top: 10px;
            line-height: 24px;
            bottom: -26px;
            top: inherit;
            height: auto;
            font-size: 12px;
        }
    }
    &--ads {
        display: flex;
        align-items: center;
        width: 150px;
        font-size: 15px;
        position: relative;
        min-height: 35px;
        img {
            height: 38px;
            margin-right: 8px;
            @include respond(mobile-m) {
                margin-right: 5px;
            }
        }
        &:first-child {
            width: auto !important;
            margin-right: 30px !important;
            @media screen and (max-width: 374px) {
                margin-right: 15px !important;
            }
        }
        p {
            font-weight: 700;
            color: $color-black;
            min-height: 47px;
            display: flex;
            align-items: center;
            text-align: left;
        }
        @include respond(tab-port) {
            font-size: 13px;
            img {
                height: 35px;
            }
        }
        @include respond(mobile-lg) {
            font-size: 13px;
            width: 120px;
            img {
                height: 32px;
            }
        }
        @include respond(mobile-m) {
            font-size: 12px;
            width: 110px;
            img {
                height: 30px;
            }
        }
        @include respond(mobile-s) {
            font-size: 11px;
            width: 100px;
            img {
                height: 25px;
            }
        }
    }
    &--link {
        color: $color-black;
        padding: 5px 0;
        text-decoration: underline;
        font-size: 18px;
        color: $color-orange;
        &:hover {
            text-decoration: underline;
        }
    }
    &--primary {
        background: $color-gray;
        padding: 10px 20px;
        color: $color-white;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &--track {
        display: flex;
        flex-direction: row;
        padding: 5px 0 5px 0;
        align-items: center;
        &__icon {
            // fill: $color-gray;
            margin-right: 8px;
            height: 22px;
            fill: $color-green;
        }
        &__label {
            font-size: 17px;
            font-weight: 700;
            // color: $color-gray;
            color: $color-green;
        }
        @include respond(laptop-s) {
            width: 45px;
            text-align: center;
            align-items: center;
            background: transparent !important;
            padding: 0;
            &__label {
                color: $color-gray;
                font-size: 16px;
            }
        }
        @include respond(mobile-lg) {
            width: 40px;
            &__label {
                font-size: 16px;
            }
        }
        @include respond(mobile-s) {
            &__label {
                font-size: 14px;
            }
        }
    }
    &--cart {
        svg {
            height: 35px;
            @include respond(tab-port) {
                height: 30px;
            }
        }
    }
    &--icon {
        position: relative;
        svg {
            height: 35px;
            // fill: $color-gray;
        }
        &__count {
            @include buttonIcon;
        }
        @include respond(laptop) {
            &__count {
                font-size: 15px;
            }
        }
        @include respond(tab-port) {
            svg {
                height: 32px;
            }
        }
        @include respond(mobile-lg) {
            &__count {
                font-size: 11px;
                padding: 2px 6px !important;
                height: 20px;
                right: -5px;
            }
        }
        @include respond(mobile-m) {
            svg {
                height: 30px;
            }
            &__count {
                font-size: 10px;
            }
        }
    }
    &--cart-checkout {
        font-size: 16px;
        color: #282828;
        padding: 10px 12px;
    }
    &--bulk-red {
        color: $color-white;
        background: $color-orange;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        padding: 12px 25px;
        width: 200px !important;
    }
    &--float-feedback {
        background: $color-orange;
        color: $color-white;
        padding: 8px 20px;
        position: fixed;
        right: -48px;
        top: 60%;
        font-size: 16px;
        transform: rotate(-90deg);
        z-index: 100;
        transition: all 0.3s ease;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        text-shadow: 2px 2px 10px #000;
        @include respond(mobile-lg) {
            font-size: 16px;
            padding: 8px 16px;
            right: -44px;
        }
        @include respond(mobile-m) {
            font-size: 14px;
            padding: 6px 14px;
            font-weight: 400;
            right: -39px;
        }
        &:hover {
            background: rgba(10, 41, 114, 1);
        }
    }
    &--feedback {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 16px;
        background: $color-orange;
        font-weight: 700;
        border-radius: 4px;
        font-size: 18px;
        letter-spacing: 0.5px;
        @include respond(mobile-lg) {
            padding: 12px;
            font-size: 16px;
        }
        @include respond(mobile-lg) {
            padding: 10px;
            font-size: 14px;
        }
    }
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-lightgreen3;
    color: $color-white;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 10px;
    text-align: center;
    text-transform: uppercase;
    @include respond(laptop) {
        flex-direction: column;
    }
    @include respond(tab-port) {
        flex-direction: row;
    }
    span {
        border-right: 2px solid $color-lightgray-10;
        padding-right: 10px;
        @include respond(laptop) {
            border-right: none;
            padding-right: 0;
        }
        @include respond(tab-port) {
            border-right: 2px solid $color-lightgray-10;
            padding-right: 10px;
        }
    }
    img {
        height: 22px;
        margin-left: 10px;
        @include respond(laptop) {
            margin-top: 10px;
            margin-left: 0;
        }
        @include respond(tab-port) {
            margin-top: 0;
            margin-left: 10px;
            height: 20px;
        }
    }
    &--pale {
        font-size: 12px;
        padding: 8px 10px;
        background: none;
        color: $color-gray3;
    }
}