input,
textarea,
select,
button {
    font: inherit;
}

.select {
    &--sort {
        font-size: 16px;
        width: 200px !important;
        border: 1px solid #c9c9c9;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.inp {
    border: none;
    outline: none;
    font: inherit;
    &--secondary {
        width: 100%;
        background-color: $color-white3;
        border: 1px solid rgba($color-dark7, 0.08);
        border-radius: 3px;
        padding: 14px 17px;
        font-size: 18px;
        @include respond(tab-port) {
            font-size: 16px;
            padding: 12px 14px;
        }
        @include respond(mobile-m) {
            font-size: 14px;
            padding: 10px 12px;
        }
        &::placeholder {
            font-size: 16px;
        }
    }
    &--primary {
        border: 1px solid $color-gray;
        padding: 12px;
        border-radius: 3px;
    }
    &--search {
        position: relative;
        height: 50px;
        width: 100%;
        &__input {
            top: 0;
            left: 0;
            position: absolute;
            height: 50px;
            width: 100%;
            padding: 10px;
            background: $color-light-gray;
            font-size: 16px;
            border: 1px solid $color-light-gray-2;
            padding-left: 50px;
            border-radius: 5px;
            // @media only screen and (max-width: 500px) {
            //     font-size: 16px;
            // }
            @include respond(tab-port) {
                padding-left: 40px;
            }


            &:focus,
            &:hover {
                border-color: $color-orange;
            }
        }
        &__button {
            display: flex;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 50px;
            justify-content: center;
            align-items: center;
            // background: $color-gray;
            svg {
                fill: $color-gray3;
            }
            @include respond(tab-port) {
                svg {
                    height: 16px;
                }
            }
        }
       
    }
}

.inp-group {
    display: flex;
    flex-direction: column;
    label {
        margin-bottom: 8px;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    &__header {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        width: 100%;
    }
    &__label {
        font-weight: 700;
        margin-right: 3px;
        @include respond(tab-port) {
            font-size: 14px;
        }
    }
    &__hint {
        font-weight: 400;
        font-size: 13px;
        color: $color-lightgray-11;
        @include respond(tab-port) {
            font-size: 12px;
        }
    }
}