.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    z-index: 9999;
    overflow: auto;
}

.backdrop-new {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: auto;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: scroll;
}

.separator {
    display: block;
    height: 0.5px;
    background-color: #e2e2e2;
    width: 100%;
    margin: 10px 0;
}

@mixin emotion-active {
    .neutral,
    .happy,
    .love,
    .angry,
    .sad {
        .outline {
            fill: #000;
        }
    }
    .neutral,
    .happy,
    .love {
        .circle {
            fill: #f5b108;
        }
    }
    .angry {
        .circle {
            fill: #f73908;
        }
    }
    .sad {
        .circle {
            fill: #f66108;
        }
    }
    .neutral {}
    .love {
        .outline {
            fill: #f71108;
            stroke: #f71108 !important;
        }
        .border {
            fill: #000;
        }
        .smile {
            fill: #000 !important;
        }
    }
}

.input-emotion-select {
    display: flex;
    align-items: center;
    .input-group__label {
        font-size: 18px !important;
        text-align: center;
        width: 60%;
        color: 282828;
        margin: 0 auto;
        margin-bottom: 8px;
        @include respond(mobile-lg) {
            font-size: 16px !important;
            width: 80%;
        }
        @include respond(mobile-m) {
            font-size: 15px !important;
        }
    }
}

.emotion-select {
    display: flex;
    align-items: center;
    &__btn {
        background: none;
        transition: all 300 ease;
        &:not(:last-child) {
            margin-right: 10px;
            @include respond(mobile-lg) {
                margin-right: 8px;
            }
            @include respond(mobile-ms) {
                margin-right: 5px;
            }
        }
        svg {
            width: 75px;
            @include respond(tab-port) {
                width: 65px;
            }
            @include respond(mobile-lg) {
                width: 60px;
            }
            @include respond(mobile-ms) {
                width: 50px;
            }
            @include respond(mobile-m) {
                width: 48px;
            }
        }
        .outline,
        .border,
        .smile,
        .circle {
            transition: all 300 ease;
        }
        p {
            display: none;
        }
        &:hover {
            @include emotion-active();
        }
    }
    .selected {
        transform: scale(1.1);
        @include emotion-active();
    }
}

.modal {
    &--resale {
        max-width: 600px;
    }
    &--center {
        display: flex;
        align-items: center;
    }
    &__logo {
        cursor: pointer;
        user-select: none;
        @include respond(mobile-lg) {
            img {
                height: 36px;
            }
        }
        @include respond(mobile-m) {
            img {
                height: 32px;
            }
        }
    }
    &__content {
        // display: flex;
        // align-items: center;
        height: 100%;
        max-width: 550px;
        margin: 0 auto;
    }
    &__exit {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 22px;
        color: $color-orange;
        @include respond(mobile-lg) {
            font-size: 20px;
        }
        @include respond(mobile-m) {
            font-size: 18px;
        }
    }
    &__heading {
        color: $color-orange;
        font-size: 26px;
        @include respond(mobile-lg) {
            font-size: 22px;
        }
        @include respond(mobile-m) {
            font-size: 20px;
        }
        @include respond(mobile-s) {
            font-size: 18px;
        }
    }
    &__body {
        color: $color-gray;
    }
    &--discount {
        position: absolute;
        display: flex;
        z-index: 1;
        background: #fff;
        padding: 10px;
        width: 220px;
        top: 100%;
        flex-direction: column;
        border: 2px solid $color-primary;
        border-radius: 5px;
        p {
            min-height: auto !important;
        }
        @include respond(mobile-lg) {
            padding: 8px;
            width: 200px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &--coupon {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 20px;
        width: 400px;
        position: relative;
        text-align: center;
        @include respond(mobile-lg) {
            padding: 15px;
            width: 80%;
        }
        @include respond(mobile-m) {
            width: 90%;
        }
        .heading {
            margin: 0 auto;
            color: #00234f;
            display: flex;
            align-items: center;
            font-size: 26px;
            @include respond(mobile-lg) {
                font-size: 23px;
            }
            @include respond(mobile-m) {
                font-size: 20px;
            }
            svg {
                fill: #00234f;
                height: 42px;
                width: 42px;
                margin-right: 10px;
                display: inline-block;
                @include respond(mobile-lg) {
                    height: 36px;
                    width: 36px;
                    margin-right: 6px;
                }
                @include respond(mobile-m) {
                    height: 34px;
                    width: 34px;
                }
            }
        }
        &__exit {
            font-size: 20px;
            font-weight: 800;
            position: absolute;
            right: 15px;
            top: 10px;
            @include respond(mobile-lg) {
                font-size: 18px;
            }
            @include respond(mobile-m) {
                right: 10px;
                top: 5px;
            }
        }
        &__description {
            margin-top: 15px;
            font-size: 18px;
        }
    }
    &--dashboard {
        position: relative;
        width: 600px;
        background-color: #fff;
        padding: 20px;
        margin: 0 auto;
        @include respond(mobile-lg) {
            width: 90%;
        }
    }
    &--feedback {
        position: relative;
        width: 550px;
        // height: 550px;
        margin: 40px auto;
        background: $color-white;
        padding: 25px;
        overflow: hidden;
        overflow-y: auto;
        // padding-top: 40px;
        .rate-it {
            width: auto;
            height: 38px !important;
            font-size: 35px !important;
        }
        .rate-select-layer {
            height: 38px !important;
        }
        @include respond(tab-port) {
            width: 90%;
        }
        @include respond(mobile-lg) {
            padding: 25px 15px;
        }
        @include respond(mobile-m) {
            padding: 20px 12px;
            margin: 20px auto;
        }
        @include respond(mobile-s) {
            height: 90%;
            padding: 15px 10px;
        }
        input,
        textarea,
        select,
        button {
            touch-action: none;
        }
        .jq-star {
            @include respond(mobile-m) {
                height: 28px !important;
                width: 28px !important;
            }
        }
        .modal__header {
            text-align: center;
        }
        .modal__text {
            color: #ABABAB;
            font-size: 17px;
            @include respond(mobile-lg) {
                font-size: 14px;
            }
        }
        .input-group {
            &__header {
                @include respond(mobile-s) {
                    margin-bottom: 5px;
                }
            }
            textarea {
                min-height: 100px;
                max-height: 100px;
                resize: none;
                @include respond(mobile-m) {
                    min-height: 70px;
                }
            }
            select {
                padding: 10px;
            }
            select:invalid {
                color: #44414F;
            }
            label {
                font-weight: 400;
                font-size: 16px;
                color: #44414F;
                @include respond(mobile-lg) {
                    font-size: 14px;
                }
                @include respond(mobile-m) {
                    font-size: 13px;
                }
            }
            .inp--secondary {
                padding: 13px;
                font-size: 16px;
                @include respond(mobile-lg) {
                    padding: 10px;
                }
                @include respond(mobile-m) {
                    padding: 8px;
                }
                &::placeholder {
                    @include respond(mobile-lg) {
                        font-size: 14px;
                    }
                    @include respond(mobile-m) {
                        font-size: 13px;
                    }
                }
            }
            select {
                touch-action: none !important;
                @include respond(mobile-lg) {
                    font-size: 14px !important;
                    padding: 10px;
                }
                @include respond(mobile-m) {
                    font-size: 13px !important;
                    padding: 8px;
                }
            }
            p {
                font-size: 14px;
                margin-bottom: 10px;
                color: #8d8d8d;
                @include respond(mobile-lg) {
                    font-size: 12px;
                }
                @include respond(mobile-m) {
                    margin-bottom: 5px;
                }
                @include respond(mobile-s) {
                    margin-bottom: 2px;
                }
            }
        }
        &__icon {
            display: inline-flex;
            svg {
                height: 107px;
                width: 104px;
                fill: #FFC700;
                @include respond(mobile-lg) {
                    height: 90px;
                    width: 85px;
                }
            }
        }
        &__footer {
            p {
                text-align: center;
                font-size: 15px;
                color: #44414F;
                @include respond(mobile-lg) {
                    font-size: 13px;
                }
                @include respond(mobile-s) {
                    font-size: 12px;
                }
            }
            a {
                color: $color-orange;
                font-weight: 700;
            }
        }
    }
}

.show-modal {
    display: block !important;
}