.pagnos {
  clear: both;
  margin-top: 32px;
  width: 100%;
  text-align: left;
}

.pagnos {
  display: flex;
  margin-left: 10px;
  justify-content: center;
  padding: 10px;
}

.pagnos {
  margin-top: 10px !important;
  margin-left: 0px;
}

.pagination {
  margin: 0;
  padding: 0;
  li {
    display: inline;
    padding: 6px 10px;
    border: 1px solid $color-white6;
    margin-right: -1px;
    font: 15px/20px Arial, Helvetica, sans-serif;
    background: $color-white;
    box-shadow: inset 1px 1px 5px $color-white7;

    a {
      text-decoration: none;
      color: $color-lightblue2;
    }

    :hover {
      /*background:#CFF*/
      background: $color-white4 !important;
    }

    .first {
      border-radius: 5px 0 0 5px;
    }

    .last {
      border-radius: 0 5px 5px 0;
    }

    .active {
      /*background:#F0F0F0;*/
      color: $color-dark5;
      background: $color-dark3 !important;
      box-shadow: none !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .pagination li {
    float: left;
  }
}
