.pagnos {
    clear: both;
    margin-top: 32px;
    width: 100%;
    text-align: left;
}

.pagnos {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    padding: 10px;
}

.pagnos {
    margin-top: 10px !important;
    margin-left: 0px;
}

.pagination {
    margin: 0;
    padding: 0;
    li {
        display: inline;
        // padding: 6px 10px;
        border: 1px solid $color-lightgray11 !important;
        // margin-right: -1px;
        font: 15px/20px Arial, Helvetica, sans-serif;
        background: $color-white;
        // box-shadow: inset 1px 1px 5px $color-white7;
        padding: 15px 20px;
        border-radius: 5px;
        font-weight: bold !important;
        margin-right: 5px;
        color: $color-gray3;
        @include transition;
        a {
            text-decoration: none;
            // color: $color-lightblue2;
            color: $color-gray3;
            @include transition;
            &:hover {
                background: $color-orange;
                color: $color-white;
            }
        }
        &:hover {
            /*background:#CFF*/
            // background: $color-white4 !important;
            background: $color-orange;
            color: $color-white !important;
            a {
                color: $color-white !important;
            }
        }
        .first {
            border-radius: 5px 0 0 5px;
        }
        .last {
            border-radius: 0 5px 5px 0;
        }
        &.active {
            /*background:#F0F0F0;*/
            color: $color-white;
            background: $color-orange !important;
            box-shadow: none !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .pagination li {
        float: left;
    }
}