body {
  &.scrolling {
    header {
      position: fixed;
      width: 100%;
      z-index: 999;

      nav {
        -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .6);
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .6);


        @media only screen and (max-width:1000px) {
          background: $color-white;
          // padding-bottom: 14px;
        }
      }

      .navbar__logo {
        width: 250px;

        img {
          width: auto;
        }
      }

      .ads-free-shipping {
        position: relative;
        top: 8px;
      }

      .free-text h2 {
        font-size: 1.1em;
      }

      .navbar__main {
        height: 85px;

        @media only screen and (max-width:601px) {
          height: 70px;
        }
        @media only screen and (max-width:375px) {
          height: 70px;
        }
      }

      .navbar__middle.n-mobile-only {
        display: none !important;
      }

      .navbar__logo {
        width: 250px;

        img {
          width: auto;
        }
      }

      .ads-free-shipping {
        position: relative;
        top: 8px;
      }

      .free-text h2 {
        font-size: 1.1em;
      }
    }

    @media only screen and (max-width:768px) {
      .navbar__main {
        position: fixed;
        top: 0;
        width: 100%;
        left:0;
      }
    }

  }

  &.themes--christmas {
    &.scrolling {
      header {
        .navbar__logo:before {
          width: 90px;
          height: 108px;
          bottom: -40px;
          left: -75px;
        }

        .navbar__logo:after {
          bottom: -47px;
          right: -11px;
          width: 35px;
          height: 70px;
        }

        @media only screen and (max-width:1500px) {
          .navbar__logo:before {
            right: -23px;
            left: unset;
            width: 60px;
            height: 82px;
          }
        }

        @media only screen and (max-width:600px) {
          .navbar__logo:before {
            right: 60px;
            width: 40px;
            height: 40px;
            bottom: 0;
          }
        }

        @media only screen and (max-width:600px) {
          .navbar__logo:before {
            right: 35px;
          }
        }
      }
    }
  }

  &.themes--new-year {
    &.scrolling {
      header {
        .navbar__logo:before {
          bottom: -22px;
          left: -80px;
          width: 81px;
          height: 88px;

          @media only screen and (max-width:1264px) {
            bottom: -20px;
            right: 15px;
          }
          @media only screen and (max-width:600px) {
            height: 90px;
            width: 60px;
            right: 37px;
            bottom: -49px;
          }
          @media only screen and (max-width:600px) {

          }
        }
      }
    }
  }

  &.themes--thanks-giving {
    &.scrolling {
      header {
        .navbar__logo:before {
          width: 85px;
          height: 60px;
          bottom: -17px;
          left: -74px;

          @media only screen and (max-width:1264px) {
            width: 55px;
            bottom: -42px;
            left: inherit;
            right: 11px;
          }
          @media only screen and (max-width:1000px) {
            width: 70px;
            right: -5px;
            height: 50px;
            bottom: -22px;
          }
          @media only screen and (max-width:601px) {
            width: 45px;
            right: 55px;
            bottom: -34px;
            left: inherit;
          }
          @media only screen and (max-width:390px) {

          }
          @media only screen and (max-width:320px) {
            width: 45px;
            right: 20px;
            bottom: -34px;
            left: inherit;
          }
        }
        .navbar__logo:after {
          bottom: -28%;
          right: -15px;
          width: 40px;
          height: 35px;
        }
      }
    }
  }
  .site-center {
    min-height: 600px;
  }
}




.scrolling {

  @media only screen and (max-width:768px) {
    .navbar__main {
      position: fixed;
      top: 0;
      width: 100%;
      left:0;
    }
  }

}