.search_form-2 {
  position: relative;
}

.search {
  @media (max-width: 79em) {
    right: -100%;
  }

  @include respond(laptop-s) {
    position: absolute;
    width: 95%;
    right: 10px;
    top: 130px;
  }

  @include respond(tab-land) {
    width: 270px;
    top: 45px;
  }

  @include respond(mobile-lg) {
    border-radius: 1px;
  }

  @include respond(mobile-m) {
    width: 210px;
  }

  &__live {
    @include respond(tab-land) {
      display: none;
    }
  }

  &__default {
    @include respond(laptop-s) {
      width: 220px;
      top: 125px;
      right: 15px;
    }

    @include respond(tab-land) {
      width: 200px;
      top: 45px;
      right: 10px;
    }

    @include respond(mobile-m) {
      width: 160px;
    }
  }

  &__auto {
    @include respond(laptop-s) {
      width: 35%;
    }

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(tab-port) {
      background: $color-white;
      width: 100%;
      padding: 8px;
      padding-top: 0;
    }
  }

  &__auto-result {
    @include respond(tab-land) {
      padding-top: 0;
    }

    a {
      @include respond(mobile-m) {
        font-size: 16px;
      }

      @include respond(mobile-m) {
        font-size: 15px;
      }
    }
  }
}

.live-search-container {
  @include respond(laptop) {
    left: -40%;
  }

  @media (max-width: 1024px) {
    left: auto;
  }

  @include respond(laptop-s) {
    position: absolute;
    width: 95%;
    right: 10px;
  }

  @include respond(tab-land) {
    width: 270px;
    top: 45px;
  }

  @include respond(mobile-lg) {
    border-radius: 1px;
  }

  @include respond(mobile-m) {
    width: 210px;
  }
}
